@font-face {
  font-family: 'work_sansbold';
  src: url("../fonts/worksans-bold-webfont.woff2") format("woff2"), url("../fonts/worksans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'work_sanslight';
  src: url("../fonts/worksans-light-webfont.woff2") format("woff2"), url("../fonts/worksans-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'work_sansthin';
  src: url("../fonts/worksans-thin-webfont.woff2") format("woff2"), url("../fonts/worksans-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

#menu header {
  padding: 0 6%;
  font-size: 0;
  border-bottom: 1px solid #1F2B4B; }
  #menu header .logo {
    width: 14%;
    display: inline-block; }
    #menu header .logo img {
      width: 100%; }
  #menu header ul {
    width: 86%;
    display: inline-block;
    list-style: none;
    text-align: right;
    padding: 0;
    margin: 0; }
    #menu header ul li {
      display: inline-block;
      vertical-align: middle;
      margin: 0 0 0 4%; }
      #menu header ul li a {
        color: #8A8A8A;
        font-size: 1vw;
        display: inline-block;
        text-align: center;
        padding: 40px 0;
        position: relative; }
        #menu header ul li a:hover::before {
          opacity: 1;
          content: '';
          width: 20px;
          height: 20px;
          background-image: url("../images/vineta_menu.png");
          background-size: 100% 100%;
          position: absolute;
          bottom: 0;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          transform: translateX(-50%);
          -webkit-animation: hobermenu 1s linear infinite;
          -moz-animation: hobermenu 1s linear infinite;
          -ms-animation: hobermenu 1s linear infinite;
          -o-animation: hobermenu 1s linear infinite;
          animation: hobermenu 1s linear infinite; }
        #menu header ul li a.active::before {
          opacity: 1;
          content: '';
          width: 20px;
          height: 20px;
          background-image: url("../images/vineta_menu.png");
          background-size: 100% 100%;
          position: absolute;
          bottom: 0;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          transform: translateX(-50%); }

@-webkit-keyframes hobermenu {
  0% {
    bottom: 0; }
  50% {
    bottom: 20px; }
  100% {
    bottom: 0px; } }

@-moz-keyframes hobermenu {
  0% {
    bottom: 0; }
  50% {
    bottom: 20px; }
  100% {
    bottom: 0px; } }

@-ms-keyframes hobermenu {
  0% {
    bottom: 0; }
  50% {
    bottom: 20px; }
  100% {
    bottom: 0px; } }

@-o-keyframes hobermenu {
  0% {
    bottom: 0; }
  50% {
    bottom: 20px; }
  100% {
    bottom: 0px; } }

@keyframes hobermenu {
  0% {
    bottom: 0; }
  50% {
    bottom: 20px; }
  100% {
    bottom: 0px; } }

.home .banner {
  width: 100%;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio */
  position: relative;
  background-image: url("../images/back_home.jpg");
  background-size: 100% auto;
  background-position: top;
  background-repeat: no-repeat; }
  .home .banner .w_r {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
    .home .banner .w_r h2, .home .banner .w_r img a {
      display: inline-block; }
    .home .banner .w_r h2 {
      max-width: 58%;
      color: #8A8A8A;
      font: 2.5vw 'work_sansthin'; }
      .home .banner .w_r h2 span {
        width: 100%;
        display: inline-block;
        color: #1F2B4B;
        font-family: 'work_sansbold'; }
    .home .banner .w_r img {
      width: 35%;
      margin: 10% 0; }
    .home .banner .w_r .boton {
      background-color: #FCC100;
      color: white;
      padding: 15px 5px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      font-size: 1.3vw; }
      .home .banner .w_r .boton span {
        border: 1px solid white;
        padding: 7px 15px;
        display: inline-block;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px; }
  .home .banner .deco {
    width: 10%;
    position: absolute;
    z-index: 2; }
    .home .banner .deco.ar {
      right: 0;
      top: 0; }
    .home .banner .deco.al {
      left: 0;
      bottom: 0; }
