/* colors */
/* end colors*/
.swiper-container {
  width: 100%; }

.swiper-slide {
  text-align: center;
  width: 100%;
  font-size: 18px;
  background: #fff; }
  .swiper-slide img {
    width: 80%; }

/* colors */
/* end colors*/
@media (max-width: 50em) {
  .slideout-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 256px;
    min-height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
    display: none; }
  .slideout-menu-left {
    left: 0; }
  .slideout-menu-right {
    right: 0; }
  .slideout-panel {
    position: relative;
    z-index: 1;
    will-change: transform;
    background-color: #FFF;
    /* A background-color is required */
    min-height: 100vh; }
  .slideout-open,
  .slideout-open body,
  .slideout-open .slideout-panel {
    overflow: hidden; }
  .slideout-open .slideout-menu {
    display: block; } }
