{% extends 'lay_iridian.html.twig' %}

{% block content %}

    <div class="container">
        <div class="carrito">

            {% include 'CarroiridianBundle:Default:pasos.html.twig' %}
            <h3>Muchas gracias por tu compra. Estos son los datos de tu pedido.</h3>

            <div class="resumen">


                        <div class="contenedor">
                            <h4>Estado de la transaccion</h4>
                            <p>{{ estadoTx }}</p>
                        </div>

                        <div class="contenedor">
                            <h4>ID de la transaccion</h4>
                            <p>{{ transactionId }}</p>
                        </div>

                        <div class="contenedor">
                            <h4>Referencia de la venta</h4>
                            <p>{{ reference_pol }}</p>
                        </div>

                        <div class="contenedor">
                            <h4>Referencia de la transaccion</h4>
                            <p>{{ referenceCode }}</p>
                        </div>

                    {% if pseBank %}
                            <div class="contenedor">
                                <h4>cus</h4>
                                <p>{{ cus }}</p>
                            </div>

                            <div class="contenedor">
                                <h4>Banco</h4>
                                <p>{{ pseBank }}</p>
                            </div>
                    {% endif %}
                        <div class="contenedor">
                            <h4>Total</h4>
                            <p>{{ TX_VALUE | number_format }}</p>
                        </div>

                        <div class="contenedor">
                            <h4>Entidad</h4>
                            <p>{{ lapPaymentMethod }}</p>
                        </div>

                        <div class="btnTarjeta">
                            <a href="{{ path('homepage') }}" class="btnGreen">
                                <span>Volver al home</span>
                            </a>
                        </div>
            </div>

        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        fbq('track', 'Purchase', {
            value: '{{ TX_VALUE| number_format }}',
            currency: 'COP'
        });
    </script>

{% endblock %}