{% extends 'lay_iridian.html.twig' %}

{% block content %}
    <div class="bannerGeneral" style="background-image: url('{{ qi.imagen('banner-nosotros') }}')"></div>
    <div class="container terminos">
        <div class="row" id="que">
            <div class="descripcionPag">
                <h1 class="ttlGrandGris">{{ qi.textoDB(llave) }}</h1>
                <hr class="ttlLine"/>
                <a  class="scrollDown" href="#smooth">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </a>
                <div class="col-md-12">
                    {{ qi.TextoBigDB("Error404")|raw }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}