@import "../admin/mixins";
@import "../admin/variables";


@include breakpoint(desktop){

}
@include breakpoint(biglaptop) {

}
@include breakpoint(laptop){

}


@include breakpoint(tablet){

}

@include breakpoint(phablet) {
header{
  width: 100%;
}
  .reservas{
    .deco{
      display: none;
    }
    form{
      position: initial;
      margin: auto;
      .form-group.selector{
        margin: auto;
        margin-top: 4%;
      }
    }
  }
  .sedes{
    padding-top: 0;
    .sedes-home{
      height: initial;
    }
  }
  .nslt-btn{
    font-size: 1.5rem;
  }
  .cuanto{
    h2{
      font-size: 30pt;
    }
  }
  .scroll{
    bottom: 9%;
    font-size: 9pt;
    .fas{
      font-size: 24pt;
    }
  }
  h2{
    font-size: 27pt;
  }
  #toggle-menu{
    width: 10%;
    top: 1%;
  }
  #buscar{
    width: 60%;
    top: 3%;
    input{
      opacity: .9;
    }
  }
  .somos{
    height: initial;
    img{
      width: 100%;
    }
    .textos{
      width: 100%;
      padding: 2% 5%;
    }
  }
  .banner{
    &__premios{
      text-align: center;
      .premio{
        img{
          width: 50%;
        }

        .textos{
          width: 100%;

          padding: 3% 5%;
        }
      }
    }
    &__categorias{
      height: 17vh;
      background-size: cover;
      a{
        top: 22%;
        left: 3%;
      }
    }
    &__nosotros, &__menu-pg, &__reserva{
      min-height: initial;

.scroll{
  display: none;
}
    }
    &__home{
      height: initial;
    }
    &__menu{
      background-size: cover;
    }
    .sello{
      right: -40%;
      bottom: 17%;
      img{
        width: 25%;
      }
    }
    .logo{
      margin: 22% 10%;
    }
  }
  .deco{
    width: 100%;
  }
  .categorias-menu{
    a{
      height: initial;
      width: 50%;
      img{
      }
    }
    .categoria{
      h3{
        font-size: 12pt;
      }
    }
  }
  form{
    top: 27vh;
    button{
      padding: 5%;
    }
    right: 2%;
    width: 96%;
    .form-group-3{
      width: 100%;
    }

    .marco{
      .form-group-2{
        flex-wrap: wrap;
        input{
          width: 44%;
        }
        margin: auto;
        margin-top: 4%;
      }
      .correos{
        position: initial;
        margin-top: 5%;
        span:first-of-type{
          display: block;
        }
      }
    }
  }
  .sedes{
    .prev-sedes-home{
      left: 35%;
      bottom: -2%;
    }
    .next-sedes-home{
      left: 50%;
      bottom: -2%;
    }
    #map{
      width: 100%;
    }
    .sedes-home{
      width: 90%;
    }
  }
  .domicilios{
    .rappi{
      img{
        width: 31%;
      }
    }
  }
  footer{
    .fondo-foot{
      display: initial;
      .info, .nav-footer, .interes, .legal{
        width: 94%;
        margin-left: 3%;
      }
      .nav-footer{
        h4{
          text-align: center;
        }
        a{
          text-align: center;
          height: 5vh;
        }
      }
      .legal{
text-align: center;
        img{
          width: 30%;
        }
      }
    }
  }
  .categoria-menu{
    a{
      height: 19vh;
    }
    .producto{
      h3{
        font-size: 16pt;
        height: 19vh;
      }

    }
  }
  .info-prod{
    img{
      width: 100%;
    }
    .textos-prod{
      width: 100%;
    }
  }
  .reserva{
    form{
      position: initial;
      width: 96%;
      margin: 5% 2%;
    }
  }
  .eventos{
    .swiper-eventos{
      padding-bottom: 10%;
      img{
        width: 100%;
      }
      .textos{
        width: 100%;
      }
    }
    .prev-sedes-eventos{
      top: 85%;
      left: 31%;
    }
    .next-sedes-eventos{
      left: 58%;
      top: 85%;

    }
  }
  .nav-eventos{
    width: 90%;
    a{
      width: 29%;
      &:first-of-type{
        display: block;
        margin: auto;
      }
      .circle{
        width: 7vw;
        height: 7vw;
        left: -5.6vw;
        top: 36%;
      }
      span{
        font-size: 4.5vw;
        left: -3.7vw;
        top: 37%;

      }
    }
  }
  .blog{
    .izq{
      width: 100%;
      float: right;
      .imagen{
        width: 100%;
      }
      .textos{
        width: 100%;
      }
    }
    .der{
      width: 100%;
    }
  }
  .contacto{
    form{
      position: initial;
      margin: 5% 2%;
      width: 96%;
    }
  }
  .tienda{
    form{
      width: 80%;
      select{
        width: 75%;
        padding: 6%;
        font-size: 14px;
      }
      button{
        font-size: 4.5vw;
      }
    }
    .swip-tienda{
      .cont-prod{
        height: 134px;
        width: 45%;
        h3{
          height: 69px;
          font-size: 18px;
        }
      }
      .swiper-slide{
        height: 80px;
        h3{
          height: 10px;
          font-size: 1vw;
        }
      }
    }
  }
  #mapa-interact{
    width:100%;
  }
  .swiper-sostenibilidad{
    width: 100%;
    .textos{
      margin:auto;
    }
  }
  .responsabilidad{
    .next-sedes-eventos{
        top: 12%;
        left: 85%;
      }
    .prev-sedes-eventos{
      top: 12%;
      left: 5%;
    }
    .next-sedes-eventos2{
      top: 82%;
      left: 85%;
    }
    .prev-sedes-eventos2{
      top: 82%;
      left: 5%;
    }
    .swip-res-1, .swip-res-2{
      position: relative;
      img{
        width: 100%;
      }
      .textos{
        width: 100%;
      }
    }
  }
}

@include breakpoint(mobileonly) {

}

@include breakpoint(mobileland) {
}
