@font-face {
  font-family: 'work_sansbold';
  src: url('../fonts/worksans-bold-webfont.woff2') format('woff2'),
  url('../fonts/worksans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'work_sanslight';
  src: url('../fonts/worksans-light-webfont.woff2') format('woff2'),
  url('../fonts/worksans-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'work_sansthin';
  src: url('../fonts/worksans-thin-webfont.woff2') format('woff2'),
  url('../fonts/worksans-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#menu{
  header{
    padding: 0 6%;
    font-size: 0;
    border-bottom: 1px solid #1F2B4B;
    .logo{
      width: 14%;
      display: inline-block;
      img{
        width: 100%;
      }
    }
    ul{
      width: 86%;
      display: inline-block;
      list-style: none;
      text-align: right;
      padding: 0;
      margin: 0;
      li{
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 0 4%;
        a{
          color: #8A8A8A;
          font-size: 1vw;
          display: inline-block;
          text-align: center;
          padding: 40px 0;
          position: relative;
          &:hover{
            &::before{
              opacity: 1;
              content: '';
              width: 20px;
              height: 20px;
              background-image: url("../images/vineta_menu.png");
              background-size: 100% 100%;
              position: absolute;
              bottom: 0;
              left: 50%;
              -webkit-transform: translateX(-50%);
              -moz-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
              -o-transform: translateX(-50%);
              transform: translateX(-50%);

              -webkit-animation: hobermenu 1s linear infinite;
              -moz-animation: hobermenu 1s linear infinite;
              -ms-animation: hobermenu 1s linear infinite;
              -o-animation: hobermenu 1s linear infinite;
              animation: hobermenu 1s linear infinite;
            }
          }
          &.active{
            &::before{
              opacity: 1;
              content: '';
              width: 20px;
              height: 20px;
              background-image: url("../images/vineta_menu.png");
              background-size: 100% 100%;
              position: absolute;
              bottom: 0;
              left: 50%;
              -webkit-transform: translateX(-50%);
              -moz-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
              -o-transform: translateX(-50%);
              transform: translateX(-50%);
            }
          }
        }
      }
    }
  }
}

@-webkit-keyframes hobermenu {
  0% {bottom: 0}
  50% {bottom: 20px}
  100% {bottom: 0px}
}
@-moz-keyframes hobermenu {
  0% {bottom: 0}
  50% {bottom: 20px}
  100% {bottom: 0px}
}
@-ms-keyframes hobermenu {
  0% {bottom: 0}
  50% {bottom: 20px}
  100% {bottom: 0px}
}
@-o-keyframes hobermenu {
  0% {bottom: 0}
  50% {bottom: 20px}
  100% {bottom: 0px}
}
@keyframes hobermenu {
  0% {bottom: 0}
  50% {bottom: 20px}
  100% {bottom: 0px}
}

.home{
  .banner{
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    position: relative;
    background-image: url("../images/back_home.jpg");
    background-size: 100% auto;
    background-position: top;
    background-repeat: no-repeat;
    .w_r{
      width: 100%;
      position: absolute;
      text-align: center;
      top: 50%;
      left: 0;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      h2, img a{
         display: inline-block;
      }
      h2{
        max-width: 58%;
        color: #8A8A8A;
        font: 2.5vw 'work_sansthin';
        span{
          width: 100%;
          display: inline-block;
          color: #1F2B4B;
          font-family: 'work_sansbold';
        }
      }
      img{
        width: 35%;
        margin: 10% 0;
      }
      .boton{
        background-color: #FCC100;
        color: white;
        padding: 15px 5px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        font-size: 1.3vw;
        span{
          border: 1px solid white;
          padding: 7px 15px;
          display: inline-block;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
        }
      }
    }
    .deco{
      width: 10%;
      position: absolute;
      z-index: 2;
      &.ar{
        right: 0;
        top: 0;
      }
      &.al{
        left: 0;
        bottom: 0;
      }
    }
  }
}