@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

body, html {
  height: 100%;
  background-repeat: no-repeat;    /*background-image: linear-gradient(rgb(12, 97, 33),rgb(104, 145, 162));*/
  background:black;
  position: relative;
}
#login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  margin: 0 auto;
  border: 1px solid black;
  background: rgba(48, 46, 45, 1);
  min-height: 250px;
  padding: 20px;
  z-index: 9999;
  font-size: 0;
}
#login-box .logo-caption {
  font-family: 'Poiret One', cursive;
  color: white;
  text-align: center;
  margin-bottom: 15px;
}

#login-box .controls, #login-box .logo{
  width: 50%;
  display: inline-block;
  vertical-align: middle;
}

#login-box .tweak {
  color: #0c7ca0;
}
#login-box .controls {
  /*padding-top: 30px;*/
}
#login-box .controls input {
  border-radius: 0px;
  background: rgb(98, 96, 96);
  margin: 10px 0;
  border: 0px;
  color: white;
  font-family: 'Nunito', sans-serif;
}
#login-box .controls input:focus {
  box-shadow: none;
}
#login-box .controls input:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
#login-box .controls input:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
#login-box button.btn-custom {
  border-radius: 2px;
  margin-top: 8px;
  background:#0c7ca0;
  border-color: rgba(48, 46, 45, 1);
  color: white;
  font-family: 'Nunito', sans-serif;
}
#login-box .controls input:last-child:hover{
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  background: rgba(12, 124, 160, 1);
  border-color: #0c7ca0;

}

#login-box{
  form{
    label,.forgot{
      color: white;
      font-size: 12px;
      input[type="checkbox"]{
        vertical-align: middle;
        margin-right: 5px;
      }
    }
    .forgot{
      color: #f08039;
      width: 100%;
      display: inline-block;
    }
  }

  .logo{
    text-align: center;
    img{
      width: 60%;
      margin: 20px auto;
    }
    a{
      width: 60%;
      display: inline-block;
      color: white;
      font-size: 14px;
      text-align: left;
      margin: 3px 0;
      i{
        font-size: 16px;
        margin-right: 5px;
      }
    }
  }
  p{
    width: 100%;
    font-size: 12px;
    color: white;
    margin: 0;
    text-align: center;
    margin-top: 15px;
  }
  .cliente{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    background: rgb(98, 96, 96);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    img{
      width:60%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

#particles-js{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  position: fixed;
  top: 0px;
  left: 0;
  z-index:1;
}