@import "../admin/variables";
@import "../admin/mixins";

@font-face {
  font-family: 'Futura Light';
  src: url('/fonts/futura_lt_bt_light-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Futura Regular';
  src: url('/fonts/futura_medium_bt-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Futura Bold';
  src: url('/fonts/futura_bold.woff') format('woff');
  font-weight: Bold;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}
body{
  font-family: "Futura Regular";
}
a, a:hover, a:active, a:visited{

  text-decoration: none;
}
header{
  display: none;
  width: 33%;
  overflow: hidden;
  position: fixed;
  height: 100vh;
  z-index: 1000000;
  background-color: white;
  .logo-home{
    width: 60%;
    margin: 5% 0% 5% 10%;
  }
  .close-btn{
    font-family: "Futura Bold";
    display: inline-block;
    background-color: $gris-azulito;
    color: white;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    vertical-align: top;
    margin: 6.5% 0 5% 10%;
    line-height: 5.5vh;
    font-size: 12pt;
    text-align: center;
  }
  .red-social{
    width: 100%;
    padding: 10% 30%;
    img{
      width: 27%;
      margin: 0 2%;
    }
  }
  nav{
    a{
      display: block;
      width: 100%;
      color: $gris-azulito;
      height: 6vh;
      text-align: right;
      padding: 2% 6%;
      font-family: "Futura Bold";
      text-transform: uppercase;
      border-top: 0.5px solid $gris-azulito;
      &:last-of-type{
        border-bottom: .5px solid $gris-azulito;
      }
      &:hover, &:active, &.active{
        color: white;
        background-color: $gris-azulito;
      }
    }

  }
}
h2{
  font-family: "Futura Bold";
  font-size: 50pt;
  color: $gris-azulito;
  text-transform: uppercase;
}
#toggle-menu{
  z-index: 10;
  position: fixed;
  width: 5vw;
  top: 4%;
  left: 2%;
}
.banner{
  width: 100%;
  position: relative;
  &__home{
    height: 100vh;
  }
  &__categorias{
    text-align: center;
    background-image: url("/images/banner-peces-1.png");
    background-size: contain;
    height: 23vh;
    padding-top: 2%;
    a{
      position: absolute;
      left: 5%;
      top: 40%;
      font-size: 40pt;
      color: $gris-azulito;
    }
    h2{
     position: initial;
      width: 100%;
    }
  }
  &__menu-pg{
    min-height: 70vh;
    h2{
      position: relative;
      top: 0;
      right: 0;
      color: white;
      width: 100%;
      text-align: center;
      margin-top: 14%;
    }

  }
  &__nosotros{
    min-height: 70vh;

    h2{
      position: relative;
      top: 0;
      right: 0;
      color: white;
      width: 100%;
      text-align: center;
      margin-top: 14%;
    }
  }
  &__reserva{
    min-height: 70vh;

    h2{
      position: relative;
      top: 0;
      right: 0;
      color: white;
      width: 100%;
      text-align: center;
      margin-top: 14%;
    }
  }
  &__premios{
    background-color: #dddddd;
    .premio{
      width: 80%;
      margin: auto;
      h2{
        position: initial;
      }
      img{
        width: 15%;
        vertical-align: middle;
      }
      .textos{
        display: inline-block;
        width: 84%;
        vertical-align: middle;
        padding: 5% 8%;
      }
    }
  }
  overflow: hidden;

  .sello{
    position: absolute;
    img{
      width: 75%;
    }
    right: 5%;
    bottom: 5%;
  }

  .logo{
  margin: 14% 10%;
    width: 80%;
  }
  &__menu{
    text-align: center;
    background-image: url("/images/banner-peces-1.png");
    background-size: contain;
    height: 23vh;
    padding-top: 2%;
  }
}
.scroll{
  //display: flex;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 2%;
  color: white;
  &:hover, &:active{
    color: white;
  }

  .fas{
    font-size: 40pt;

  }
  //&::before, &::after{
  //  content:"";
  //  display: block;
  //  height: 1px;
  //  flex-grow: 10;
  //}
}
.fondo{
  position: absolute;
  width: 100%; z-index: -1;
}
.categorias-menu{
  display: flex;
  flex-wrap: wrap;
  a{
    flex-grow: 1;
    flex-shrink: 1;
    width: 32%;
    height: 42vh;
    overflow: hidden;
    &:hover, &:active{
      .filtro-negro{
        background-color: rgba(0,0,0,.2);
        transition: 500ms;
      }
    }
  }
  .categoria{
    position: relative;
    height: 100%;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .filtro-negro{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.4);
    }
    h3{
      font-family: "Futura Bold";
      position: absolute;
      top: 0;
      width: 100%;
      text-align: center;
      font-size: 40pt;
      color: white;
      height: 100%;
      display: flex;
      flex-direction: column;
      margin: 0;
      &:before, &:after{
        content:"";
          display: block;
          height: 1px;
          flex-grow: 1;
      }
    }
  }
}
.fondo-lindo{
  background-image: url("/images/banner-peces-2.png");
  background-size: cover;
  position: relative;
  padding: 4% 0;
}
  h2{
    text-align: center;

  }
  .reservas{
    min-height: 70vh;
  }
  .deco{
    left: 0;
    top: 22vh;
    position: absolute;
    z-index: 1;
  }
  form{
    position: absolute;
    z-index: 10;
    background: #101010;
    color: white;
    width: 48%;
    padding: 1%;
    right: 23%;
    top: 33vh;
    .form-group-2{
      display: flex;
      margin-bottom: 3%;
      input{
        margin: 0 3%;
        text-align: center;
        width: 28%;
        background-color: #101010;
        border: none;
        border-bottom: .5px white solid;
        color: white;
        font-size: .95rem;
      }
    }
    .form-group-3{
      width: 70%;
      margin: auto;
      text-align: center;
      label{
        margin-left: 3%;
        font-family: "Futura Light";
        font-size: 12px;
      }
    }
    .form-group{
      display: flex;
label{
  margin-right: 3%;
}

      input{
        flex-grow: 1;
        background-color: #101010;
        border: none;
        border-bottom: .5px white solid;
      }
    }
    .marco{
      select{
        background-color: #101010;
      }
      border: 2px white solid;
      padding: 9% 11% 12%;
      position: relative;
      .selector{
        margin-bottom: 0;
      }
      span{
        font-size: 12px;
        a{
          color: white;
          &:hover{
            text-decoration: white underline;
          }
        }
      }
      .correos{
        position: absolute;
        width: 100%;
        left: 10px;
        bottom: 0;
        text-align: center;
      }
    }
    button{
      width: 100%;
      padding: 2%;
      margin-top: 1%;
      background-color: white;
      font-family: "Futura Bold";
      color: #101010;
      border: none;
    }
  }
.reserva{
  position: relative;
  min-height: 45vh;
  background-image: url("/images/banner-peces-1.png");
  background-size: cover;
  form{
top: -19vh;
    width: 52%;
    right: 24vw;
  }
}

#ui-datepicker-div{
  box-sizing: content-box;
  background-color: white;
  padding: 2%;
}
footer{
  .fondo-foot{
    background-image: url("/images/banner-peces-3.png");
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 5% 8% 2%;
    .info, .nav-footer, .interes{
      width: 31%;
      margin-left: 2%;
      a{
        display: inline-block;
        color: #101010;
        font-family: "Futura Bold";
        margin: 2% 0;
      }
    }
    .nav-footer{
      h4{
        font-family: "Futura Bold";
        font-size: 16pt;
        width: 100%;

      }
      a{
        width: 50%;
        font-family: "Futura Regular";
        height: 1vh;
        margin: 0;
        &.active{
        font-family: "Futura Bold";
        }
        &:hover{
          text-decoration: underline #101010 ;
        }
      }
      display: flex;
      flex-wrap: wrap;
    }
    .interes{
      padding-top: 2%;
      text-align: center;
      a{
        width: 100%;
        display: block;
        margin: 7% 0;
        &:hover{
          text-decoration: underline #101010 ;
        }
      }
      .redes-foot{

        a{
          width: 25%;
          display: inline-block;
          &:hover{
            text-decoration: none ;
          }
          img{
            width: 70%;
          }
        }
      }
    }
    .info{
      text-align: center;
      img{
        width: 60%;
        margin-bottom: 4%;
      }
      h4{
        font-family: "Futura Bold";
        font-size: 20pt;
      }
      .rappi{
        a{
          opacity: .8;
          &:hover, &:active{
            opacity: 1;
          }
        }
        img{
          width: 50%;
        }
      }
    }
    .legal{
      width: 70%;
      margin-left: 30%;
      span{
        font-family: "Futura Bold";
      }
      img{
        width: 20%;
        margin-left: 5%;
      }
    }
  }
}
.nslt-btn{
  background-color: #101010;
  color: white !important;
  width: 100%;
  height: 7vh;
  border-radius: 3.5vh;
  padding: 3% 7%;
  position: relative;
  text-align: left;
  font-size: 1.1vw;
  .fas{
 margin-left: 12%;
  }

}
.sedes{
  min-height: 80vh;
  padding-top: 15%;
  position: relative;
  h2{
    top: 21vh;
    right: 38%;
    z-index: 10;
  }
  #map{
    background-color: yellow;
    height: 50vh;
    width: 40%;
    display: inline-block;
    vertical-align: middle;
  }
  .sedes-home{
    width: 49%;
    margin: 0 5%;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    height: 50vh;
    padding: 5% 0;
    overflow: hidden;
    h3{
      text-transform: uppercase;
      font-size: 20pt;
      font-family: "Futura Bold";
    }

  }
  .flecha-swiper{
    display: inline-block;
    width: 30px;
    height: 30px;
    color: white;
    text-align: center;
    border-radius: 15px;
    padding-top: 0px;
    font-size: 18pt;
    background: #101010;
    position: absolute;
  }
  .next-sedes-home{
    left: 39%;
    bottom: 10px;
  }
  .prev-sedes-home{
    left: 38%;
    bottom: -25px;
  }
  .swiper-button-disabled{
    opacity: .8;
  }
}
.domicilios{
  text-align: center;
  margin-top: 5%;
  h3{
    font-family: "Futura Bold";
    font-size: 20pt;
  }
  .rappi{
    opacity: .8;
    &:hover, &:active{
      opacity: 1;
    }
    img{
      width: 10%;
      margin-top: 2%;

    }
  }
}
#buscar{
  padding: 0;
  width: 15%;
  position: absolute;
  top: 7%;
  background: none;
  right: 5%;
  .fas{
    position: absolute;
    right: 5%;
    top: 25%;
    color: #101010;
    opacity: .4;
  }
  input{
    border: none;
    width: 100%;
    background-color: #cccccc;
    color: white;
    opacity: .6;
    height: 5vh;
    border-radius: 2.5vh;
    text-align: center;
  }
}
.categoria-menu{
  display: flex;
  flex-wrap: wrap;
  a{
    flex-grow: 1;
    flex-shrink: 1;
    width: 49%;
    height: 36vh;
    overflow: hidden;
    &:hover, &:active{
      .filtro-negro{
        background-color: rgba(0,0,0,.2);
        transition: 500ms;
      }
    }
  }
  .producto{
    position: relative;

    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: 0 -15%;
    }
    .filtro-negro{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.4);
    }
    h3{
      font-family: "Futura Bold";
      position: absolute;
      top: 0;
      width: 100%;
      text-align: center;
      font-size: 40pt;
      color: white;
      height: 36vh;
      display: flex;
      flex-direction: column;
      margin: 0;
      width: 70%;
      margin: 0 15% !important;
      &:before, &:after{
        content:"";
        display: block;
        height: 1px;
        flex-grow: 1;
      }
    }
  }
}
.info-prod{
  padding-top: 3%;
  img{
    width: 40%;
    max-height: 60vh;
    object-fit: contain;
    vertical-align: top;
  }
  .textos-prod{
    display: inline-block;
    width: 59%;
    padding: 0% 10%;
    background-image: url("/images/banner-peces-2.png");
    background-size: cover;
    h3{
      font-family: "Futura Bold";
      font-size: 24pt;
    }
    p{
      margin-top: 5%;
    }
    h4{
      font-family: "Futura Bold";
      margin-top: 5%;
    }
    a{
      display: block;
      background-color: $gris-azulito;
     text-align: center;
      font-family: "Futura Bold";
      color: white;
      padding: 3%;
      margin-top: 5%;
    }
  }
}
.somos{
  background-image: url("/images/fondo-peces-3.png");
  background-size: cover;
  height: 62vh;
  img{
    width: 35%;
    margin-right: 5%;
    vertical-align: middle;
  }
  .textos{

    width: 59%;
    display: inline-block;
    vertical-align: middle;

    padding-right: 6%;
    h2{
      color: $gris-azulito;
      text-transform: uppercase;
      position: initial;
    }
  }
}
.cuanto{
  background-size: cover;
  position: relative;
  height: 32vh;
  h2{
    color: white;
    width: 75%;
    margin: auto;
    margin-top: 0;
    text-align: center;
    padding-top: 5%;
    position: initial;
    font-size: 40pt;
  }
}
#cuanto{
  width: 65%;
  margin: auto;
  margin-top: 2%;
}
.eventos{
  position: relative;
  background-image: url("/images/fondo-4.png");
  background-size: cover;
  .swiper-eventos{
    img{
      width: 40%;
      vertical-align: middle;
    }
    .textos{
      h3{
        font-weight: bold;
      }
      padding: 5% 8%;
      width: 59%;
      display: inline-block;
      vertical-align: middle;
    }
  }
  .flecha-swiper{
    display: inline-block;
    width: 30px;
    height: 30px;
    color: white;
    text-align: center;
    border-radius: 15px;
    padding-top: 0px;
    font-size: 18pt;
    background: #101010;
    position: absolute;
    z-index: 20;
  }
  .next-sedes-eventos{
    top: 39vh;
    left: 37%;
  }
  .prev-sedes-eventos{
    top: 43vh;
    left: 35%;
  }
  .swiper-button-disabled{
    opacity: .8;
  }
} .nav-eventos{
  width: 60%;
  margin: auto;
  text-align: center;
  a {
    display: inline-block;
    margin-left: 5%;
    width: 20%;
    position: relative;
    padding-top: 2.5%;
    color: $gris-azulito;
    font-family: "Futura Bold";
    &:visited, &:hover, &:active{
      text-decoration: none;
    }
    &:hover, &:active, &.active{
      color: black;
    }
    .circle{
      display: inline-block;
      width: 3.5vw;
      border: 3px $gris-azulito solid;
      border-radius: 50%;
      height: 3.5vw;
      position: absolute;
      left: -1.6vw;
      top: 12%;
    }
    span{
      font-family: "Futura Bold";
      color: black;
      font-size: 2.8vw;
      margin-right: 5%;
      position: absolute;
      left: -.7vw;
      top: 0%;

    }
  }
  }
  .blog{
    padding-top: 3%;
    .izq{
      width: 70%;
      display: inline-block;
      .imagen{
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 60%;
        img{
          width: 100%;
        }
        a{
          position: absolute;
          width: 98%;
          bottom: 2%;
          text-align: center;
          font-family: "Futura Bold";
          color: white;
          display: inline-block;
          padding: 3%;
          left: 1%;
          background-color: $gris-azulito;
        }
      }
      .textos{
        width: 35%;
        display: inline-block;
        vertical-align: top;
        padding: 0 3%;
        h3{
          font-family: "Futura Bold";
          margin-top: 0;
        }

      }
      .navegar{
        text-align: center;
        margin-top: 2%;
        font-size: 14pt;
        font-family: "Futura Regular";
        .swiper-pagination-bullet-active{
          font-family: "Futura Bold";
        }
      }
      .swiper-pagination{
        position: initial;
        margin-top: 2%;
        display: inline;
        span{
          background: none;
          margin: 0 .5%;
        }

      }
      .flecha-swiper{
        display: inline;
      }
    }
    .der{
      width: 29%;
      display: inline-block;
      vertical-align: top;
      form{
        margin: auto;
        position: initial;
        background: none;
        position: relative;
        top:0;
        right: 0;
        .fas{
          position: absolute;
          right: 5%;
          top: 25%;
          color: #101010;
          opacity: .4;
        }
        input{
          border: none;
          width: 100%;
          background-color: #cccccc;
          color: white;
          opacity: .6;
          height: 5vh;
          border-radius: 2.5vh;
          text-align: center;
        }
      }
      h3{
        font-family: "Futura Bold";
        text-align: center;
      }
      .cont-dest{
        width: 80%;
        position: relative;
        margin: 5% 10%;
        img{
          width: 100%;
        }
        h4{
          position: absolute;
          color: white;
          font-family: "Futura Bold";
          top: 35%;
          width: 100%;
          text-align: center;
        }
        a{
          position: absolute;
          bottom: 2%;
          right: 1%;
          display: inline-block;
          width: 98%;
          text-align: center;
          background-color: $gris-azulito;
          padding: 3%;
        }
      }
    }
  }
  .noticia{
    padding: 3% 15%;
    h3{
      text-align: center;
      font-family: "Futura Bold";

    }
    .volver{
      display: inline-block;
      color: white;
      background-color: $gris-azulito;
      padding: 1% 5%;
      width: 20%;
    }
    .redes{
      display: inline-block;
      color: $gris-azulito;
      width: 20%;
      margin-left: 59%;
      a{
        img{
          width: 20%;
        }
      }
    }
    p{
      margin-top: 2%;
      font-family: "Futura Regular";
    }
  }
  .contacto{
    form{
      width: 70%;
      margin: auto;
      position: relative;
      top: -20vh;
      right: 0;
      textarea{
        width: 100%;
        height: 15vh;
        background-color: black;
        color: white;
      }
    }
  }
  .responsabilidad{
    position: relative;
    background-image: url("/images/fondo-4.png");
    background-size: cover;
    .swip-res-1, .swip-res-2{
      img{
        width: 40%;
        vertical-align: middle;
      }
      .textos{
        padding: 5% 8%;
        width: 59%;
        display: inline-block;
        vertical-align: middle;
      }
    }
    .flecha-swiper{
      display: inline-block;
      width: 30px;
      height: 30px;
      color: white;
      text-align: center;
      border-radius: 15px;
      padding-top: 0px;
      font-size: 18pt;
      background: #101010;
      position: absolute;
      z-index: 20;
    }
    .next-sedes-eventos{
      top: 39vh;
      left: 37%;
    }
    .prev-sedes-eventos{
      top: 43vh;
      left: 35%;
    }
    .next-sedes-eventos2{
      top: 79vh;
      right: 36%;
    }
    .prev-sedes-eventos2{
      top: 83vh;
      right: 38%;
    }
    .swiper-button-disabled{
      opacity: .8;
    }
  }
  .flecha-swiper{
    z-index: 2 !important;
  }
  #mapa-interact{

    .activada{
      path{
        fill:#454a4c;
      }
    }
    .activada{
      &.active{
        path{
          fill: black;
        }
      }

    }
    width: 50%;
    display: inline-block;
    text-align: center;
    padding-top: 5%;
    vertical-align: middle;
  }
  .swiper-sostenibilidad{
    width: 48%;
    max-height: 90vh;
    display: inline-block;
    vertical-align: middle;
    .textos{
      h4{
        font-family: "Futura Bold";
        font-size: 20pt;
      }
      width: 80%;
      padding: 5% 5%;

    }
  }
  .tienda{s
    h6{
      text-align: center;
      margin-top: 0;
    }
    form{
      position: initial;
      width: 33%;
      margin: auto;
      margin-top: 2%;
      margin-bottom: 2%;
      border-radius: 25px;
      select{
        background-color: transparent;
        width: 80%;
        padding: 2%;
        border: none;
        font-size: 1.5vw;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
        option{
          color: black;
        }
      }
      button{
        width: 17%;
        display: inline-block;
        color: white;
        background-color: #101010;
        font-size: 1.5vw;
        padding: 0;
        margin-top: 0;
      }
    }
    .swip-tienda{
      width: 80%;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-content: space-between;
      .cont-prod{
        overflow: hidden;
        margin-bottom: 2%;
        height: 300px;
        width: 30%;
        display: inline-block;
        position: relative;
        img{
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
        }
        .filtro-negro{
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          background-color: rgba(0,0,0,.4);
          left: 0;
          z-index: 3;
        }
        h3{
          position: relative;
          z-index: 20;
          font-family: "Futura Bold";
          color: white;
          height: 210px;
          text-align: center;
          width: 100%;
          display: flex;
          flex-direction: column;
          &::before, &::after{
            content: "";
            width: 100%;
            height: 10px;
            flex-grow: 1;
            display: block;
          }
        }
        a{
          position: absolute;
          z-index: 4;
          background-color: $gris-azulito;
          color: white;
          font-family: "Futura Bold";
          width: 96%;
          margin: 1% 2%;
          text-align: center;
          padding: 5%;
          bottom: 0;
          left: 0;

        }
      }
    }
    .cont-nav{
      text-align: center;
      .next-sedes-eventos.flecha-swiper, .prev-sedes-eventos.flecha-swiper{
        &.jp-disabled{

            opacity: .4;

        }
        .fas{
          font-size: 2.5rem;
          transform: translateY(2px);

        }
      }
    }
    .navegar{
      display: inline-block;
      text-align: center;
      margin-top: 2%;
      width: 17%;
      font-size: 14pt;
      font-family: "Futura Regular";
      a{
        color: black;
        margin: 0 2%;
      }
      .jp-current{
        text-decoration: underline;
        color: black;

      }
      .swiper-pagination-bullet-active{
        font-family: "Futura Bold";
      }
    }
    .swiper-pagination{
      position: initial;
      margin-top: 2%;
      display: inline;
      span{
        background: none;
        margin: 0 .5%;
      }

    }

  }
.flecha-swiper{
  display: inline;
  font-size: 1rem;
}
.bootstrap-datetimepicker-widget table td.day {
  color: #777777;
}.bootstrap-datetimepicker-widget td span.timepicker-hour {
  color: #777777 !important;
}.bootstrap-datetimepicker-widget td span.timepicker-minute {
  color: #777777 !important;
}
.bootstrap-datetimepicker-widget table thead tr:first-child th {
  cursor: pointer;
  background: #aaa;
}
.bootstrap-datetimepicker-widget table td.today{
  color: white !important;
}
#form_newsletter{
  position: inherit;
  a{
    color: #fff;
  }
  input[type=reset], input[type=submit]{
    color: #000;
  }
}
.nslt-btn{
  margin-bottom: 0 !important;
}
#form_newsletter{
  width: 90%;
  margin: auto;
  padding: 5% 2%;
  display: none;
  margin-top: 0;
  span{
    display: none;
  }
  input{
    background-color: #101010;
    border: none;
    margin-bottom: 5%;
    display: block;
    margin: auto;
    color: white;
    border-bottom: 1px solid white;
    width: 80%;
    &[type="checkbox"]{
      width: 10%;
      display: inline;
    }
    &[type="submit"]{
      margin-top: 5%;
      width: 30%;
      padding: 2% 0;
      background-color: white;
    }
  }
  label{
    display: inline;
  }
}
.select-categoria{
  .select-group{
    display: inline-block;
    position: relative;
    width: 90%;
    .fas{
      position: absolute;
      top: 15%;
      font-size: 3rem;
      right: 5%;
      pointer-events: none;
    }
  }
  button{
    width: 8% !important;
  }
  select{
    width: 100% !important;
    color: white !important;
    //-webkit-appearance: unset !important;
    //-moz-appearance: unset !important;
    option{
      color: black !important;
    }
  }
}
@import "../front/breakpoint";