<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    {% set seo_arr = qi.seo(app.request.getUri(),url('homepage')) %}
    {% set seo = seo_arr.seo %}
    {% set url = seo_arr.url %}
    {% set homepage = seo_arr.homepage %}
    <title>{{ seo.titulo }}</title>
    <meta name="description" content="{{ seo.descripcion }}" />
    <link rel="image_src" href="{{ homepage~''~seo.imagen }}"/>
    {% if qi.getSettingDB('seo_autor') %}
        <meta name="author" content="{{ qi.getSettingDB('seo_autor') }}">
    {% endif %}
    <meta name="twitter:card" content="{{ seo.descripcion }}">
    {% if qi.getSettingDB('seo_twitter:site') %}
        <meta name="twitter:site" content="{{ qi.getSettingDB('seo_twitter:site') }}">
    {% endif %}
    <meta name="twitter:title" content="{{ seo.titulo }}">
    <meta name="twitter:description" content="{{ seo.descripcion }}">
    {% if qi.getSettingDB('seo_twitter:creator') %}
        <meta name="twitter:creator" content="{{ qi.getSettingDB('seo_twitter:creator') }}">
    {% endif %}
    <meta name="twitter:image" content="{{ homepage~''~seo.imagen }}">
    <meta property="og:title" content="{{ seo.titulo }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ url }}" />
    <meta property="og:image" content="{{ homepage~''~seo.imagen }}" />
    <meta property="og:description" content="{{ seo.descripcion }}" />
    {% if qi.getSettingDB('seo_og:site_name') %}
        <meta property="og:site_name" content="{{ qi.getSettingDB('seo_og:site_name') }}" />
    {% endif %}
    {% if qi.getSettingDB('seo_fb:admins') %}
        <meta property="fb:admins" content="{{ qi.getSettingDB('seo_fb:admins') }}" />
    {% endif %}



    <link rel="icon" href="{{ qi.imagen('favicon') }}">

    {% block stylesheets %}
        {% if app.environment != "dev" and false %}
            {% stylesheets
            'assets/vendor/bootstrap/dist/css/bootstrap.min.css'
            'assets/vendor/font-awesome/css/font-awesome.min.css'
            'assets/vendor/swiper/dist/css/swiper.min.css'
            'assets/vendor/jssocials/dist/jssocials-theme-plain.css'
            'assets/vendor/remodal/dist/remodal.css'
            'assets/vendor/remodal/dist/remodal-default-theme.css'
            'assets/vendor/jssocials/dist/jssocials.css'
            'assets/vendor/jssocials/dist/jssocials-theme-flat.css'
            'assets/vendor/jPages/css/style.css'
            output='css/iridianv2.css'
            filter='cssrewrite' %}
                <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% else %}
            <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/vendor/swiper/dist/css/swiper.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/vendor/jssocials/dist/jssocials-theme-plain.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/vendor/remodal/dist/remodal.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/vendor/remodal/dist/remodal-default-theme.css') }}">
            <!--<link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }}">-->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/vendor/jssocials/dist/jssocials.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/vendor/jssocials/dist/jssocials-theme-flat.css') }}" />
            {#<link rel="stylesheet" type="text/css" href="{{ asset('assets/vendor/jPages/css/style.css') }}" />#}
            <link href="http://vjs.zencdn.net/6.6.3/video-js.css" rel="stylesheet">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endif %}
    {% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139620031-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-139620031-1');
    </script>

    <link rel="canonical" href="{{ app.request.uri }}" />

</head>
<body>

  {% include('@Home/Default/header.html.twig') %}
  <div id="panel">
      <img src="/images/hamburguesa.png" alt="" id="toggle-menu">
      <form id="buscar" action="{{ path('busca_productos') }}">
          {% if search is defined %}
              <input type="search"  class="inputSubmit form-field search" name="search" value="{{ search }}" placeholder="Buscar">
          {% else %}
              <input type="search"  class="inputSubmit form-field search" name="search" placeholder="Buscar">
          {% endif %}
          <i class="fas fa-search"></i>
      </form>
    {% block content %}{% endblock %}
    {% include('@Home/Default/footer.html.twig') %}
  </div>

{% if app.environment != "dev" and false %}
    {% javascripts
        'assets/vendor/jquery/dist/jquery.min.js'
        'assets/vendor/bootstrap/dist/js/bootstrap.min.js'
        'assets/vendor/slideout.js/dist/slideout.js'
        'assets/vendor/swiper/dist/js/swiper.min.js'
        'assets/vendor/lazyload/build/lazyload.js'
        'assets/vendor/jssocials/dist/jssocials.min.js'
        'assets/vendor/remodal/dist/remodal.min.js'
        'js/jquery-loading-overlay/src/loadingoverlay.min.js'
        'assets/vendor/jPages/js/jPages.js'
        'js/utils.js'
        'js/cart/carrito.js'
        'js/scripts.js'
    output='js/iridian_3.js'
    filter='?uglifyjs2' %}
    <script src="{{ asset_url }}" async></script>
    {% endjavascripts %}
{% else %}
    <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/slideout.js/dist/slideout.js') }}"></script>
    <script src="{{ asset('assets/vendor/swiper/dist/js/swiper.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/jssocials/dist/jssocials.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/lazyload/build/lazyload.js') }}"></script>

    <!--<script src="{{ asset('assets/vendor/instafeed.js/instafeed.min.js') }}"></script>-->
    <script src="{{ asset('assets/vendor/remodal/dist/remodal.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/jquery-ui/jquery-ui.js') }}"></script>
    <script src="{{ asset('js/jquery-loading-overlay/src/loadingoverlay.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js') }}"></script>
    <script src="{{ asset('assets/vendor/jPages/js/jPages.js') }}"></script>
    <script src="{{ asset('js/utils.js') }}"></script>
    <script src="{{ asset('js/cart/carrito.js') }}"></script>
    <script src="{{ asset('js/scripts.js') }}"></script>
    <script src="{{ asset('assets/vendor/jssocials/dist/jssocials.min.js') }}"></script>
{% endif %}

    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/css/alertify.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/css/themes/default.min.css"/>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/alertify.min.js"></script>

    <script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyDwaVhmg5HMcLuEQRoXZXD4tL7OoZ-Z3ww",
            authDomain: "todossomosdavid-91957.firebaseapp.com",
            databaseURL: "https://todossomosdavid-91957.firebaseio.com",
            projectId: "todossomosdavid-91957",
            storageBucket: "",
            messagingSenderId: "375462767670"
        };
        firebase.initializeApp(config);
        var database = firebase.database();
    </script>

{% block javascripts %}
  <script>
    // $('#togglenav').click(function(){
    //   $('.mob-nav-display').toggle();
    //   $('.close-nav' ).toggle();
    // });
    // $('#closenav').click(function(){
    //   $('.mob-nav-display').toggle();
    //   $('.close-nav').toggle();
    // });
    // $('.mob-nav-display').html($('.main-nav').html());

  </script> 
{% endblock %}

</body>
</html>