{% extends 'lay_iridian.html.twig' %}

{% set lc = app.request.locale() %}
{% block content %}
    <div class="banner__nosotros banner">
        <img src="{{ qi.imagen('banner-nosotros') }}" alt="" class="fondo">
        <h2>NOSOTROS</h2>
        <a href="#scroll-menu" class="scroll">SCROLL DOWN<br><i class="fas fa-angle-down"></i></a>
    </div>
    <div class="banner banner__premios" id="scroll-menu">
        {% for item in qi.galeria('premios') %}
            <div class="premio">
                <img src="{{ item.imagen }}" alt="">
                <div class="textos">
                    <h2>{{ item.titulo }}</h2>
                    <p>{{ item.resumen }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="somos">
        <img src="{{ qi.imagen('edificio-1') }}" alt="">
        <div class="textos">
            <h2>{{ qi.textoDB('somos-ayv') }}</h2>
            <p>{{ qi.textoBigDB('somos-ayv')|raw }}</p>
        </div>
    </div>
    <div class="cuanto" style="background-image: url('{{ qi.imagen('fondo-cuanto') }}')">
        <h2>{{ qi.textoDB('cuanto') }}</h2>
    </div>
    <div id="cuanto">{{ qi.textoBigDB('cuanto')|raw }}</div>
{% endblock %}
{% block javascripts %}
    <script>

    </script>
{% endblock %}