<form action="{{ path('fos_user_security_check') }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <p><input type="text" placeholder="Usuario" id="username" name="_username" required/></p>
    <p><input id="password" name="_password"  placeholder="Contraseña" type="password" required/></p>
    <p class="terms-text"><input type="checkbox"> {{ qi.textoDB('acepto-terminos') }}</p>
    <p><a href="{{ path('fos_user_resetting_request') }}" class="red-link" >{{ qi.textoDB('recuperar-contrasena') }}</a></p>
    <p>
        <input class="btn btn-red btn-sq btn-sm btn-block" type="submit" value="{{ qi.textoDB('iniciar-sesion') }}"/>
    </p>
    <p><a href="#" class="btn btn-red btn-sq btn-sm btn-block">{{ qi.textoDB('registro') }}</a></p>
</form>