{% extends 'lay_iridian.html.twig' %}


{% block content %}
    <main id="main-compresores">
        <div class="fondo" style="background-image: url({{ qi.imagen('fondo_compresores') }})"></div>
        <form class="buscar" action="{{ path('busca_productos') }}">
            <label>Compresores</label>
            <i class="fa fa-search ico-search" aria-hidden="true"></i>
            {% if search is defined %}
                <input type="search"  class="inputSubmit form-field search" name="search" value="{{ search }}">
            {% else %}
                <input type="search"  class="inputSubmit form-field search" name="search" placeholder="Buscar">
            {% endif %}
        </form>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {% for item in qi.galeria('gal_compresores') %}
                    <div class="swiper-slide" id="{{ item.llave }}">
                        <h3>{{ item.titulo }}</h3>
                        <img src="{{ item.imagen }}">
                        <p>{{ item.resumen }}</p>
                        <a href="/contacto">CONTÁCTANOS</a><div class="triangulito"></div>
                    </div>
                {% endfor %}
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </main>

{% endblock %}

{% block javascripts %}
<script>
    var swiper = new Swiper('.swiper-container', {
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        slidesPerView: 2,
        spaceBetween: 0,
        loop: true
    });
</script>
{% endblock %}
