//Animation Delay

@for $i from 0 through 10 {
  .delay-#{$i} {
    animation-delay: #{$i / 4}s;
  }
}

// Override animation parameters (duration, delay, times)

@mixin animation-params($duration: 1s, $delay: 1s, $times: infinite) {
  animation-duration: $duration;
  animation-delay: $delay;
  animation-iteration-count: $times;
}

// Default values for all animations

.animated {
  // @include animation-params(1s, 1s, 1);
}