//Basic framework styles
//Transform
.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.initial {
  text-transform: initial;
}

.no-transform {
  text-transform: none !important;
}

//Line height
@for $i from 0 through 5 {
  .line-#{$i} {
    line-height: #{$i};
  }
}

//Text decoration
.line-through {
  text-decoration: line-through;
}

.overline {
  text-decoration: overline;
}

.underline {
  text-decoration: underline;
}

//Font weight 
.bold {
  font-weight: bolder;
}

.normal {
  font-weight: normal;
}

.light {
  font-weight: lighter;
}

//Hide blocks
.xs-hidden {
  @media screen and (max-width: $xs) {
    display: none;
  }
}

.sm-hidden {
  @media screen and (max-width: $sm) {
    display: none;
  }
}

.md-hidden {
  @media screen and (max-width: $md) {
    display: none;
  }
}

.lg-hidden {
  @media screen and (max-width: $lg) {
    display: none;
  }
}

//Show blocks
.xs-visible {
  @media screen and (min-width: $xs) {
    display: none;
  }
}

.sm-visible {
  @media screen and (min-width: $sm) {
    display: none;
  }
}

.md-visible {
  @media screen and (min-width: $md) {
    display: none;
  }
}

.lg-visible {
  @media screen and (min-width: $lg) {
    display: none;
  }
}

// Text ellipsis
@mixin ellipsis() {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.text-ellipsis {
  @include ellipsis();
}

// Display
.no-display {
  display: none;
}

.block-display {
  display: block;
}

.inline-block-display {
  display: inline-block;
}

.inline-display {
  display: inline;
}

// Buttons
.btn-sq {
  border-radius: 0;
}

.btn-red {
  background-color: $red;
  color: $white;
  border: 2px solid $red;

  &:hover,
  &:focus {
    background-color: $white;
    color: $red;
    border: 2px solid $red;
  }

  &-inv {
    background-color: $white;
    color: $red;
    border: 2px solid $red;

    &:hover,
    &:focus {
      background-color: $red;
      color: $white;
      border: 2px solid $red;
    }
  }
}

.btn-half {
  width: 50%;
}

.btn-tag {
  @include box-shadow($black);
  color: $red;
  font-weight: bold;
  border: 3px solid $white;

  &:hover,
  &:focus {
    color: $red;
    border: 3px solid $orange;
  }
}

// Color text
.red {
  color: $red;
}

.white {
  color: $white;
}

.black {
  color: $black;
}

.orange {
  color: $orange;
}

.grey-light {
  color: $grey-light;
}

.grey-med {
  color: $grey-med;
}

.grey-dark {
  color: $grey-dark;
}

.padding-0 {
  padding: 0;
}
