body {
  background: #FFFFFF;
}


#menu{
  header{
    padding: 0 6%;
    font-size: 0;
    border-bottom: 1px solid $azul;
    .logo{
      width: 14%;
      display: inline-block;
      img{
        width: 100%;
      }
    }
    ul{
      width: 86%;
      display: inline-block;
      list-style: none;
      text-align: right;
      padding: 0;
      margin: 0;
      li{
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 0 4%;
        a{
          color: $gris;
          font-size: 1vw;
          display: inline-block;
          text-align: center;
          padding: 40px 0;
          position: relative;
          &:hover{
            &::before{
              opacity: 1;
              content: '';
              width: 20px;
              height: 20px;
              background-image: url("../images/vineta_menu.png");
              background-size: 100% 100%;
              position: absolute;
              bottom: 0;
              left: 50%;
              -webkit-transform: translateX(-50%);
              -moz-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
              -o-transform: translateX(-50%);
              transform: translateX(-50%);

              -webkit-animation: hobermenu 1s linear infinite;
              -moz-animation: hobermenu 1s linear infinite;
              -ms-animation: hobermenu 1s linear infinite;
              -o-animation: hobermenu 1s linear infinite;
              animation: hobermenu 1s linear infinite;
            }
          }
          &.active{
            &::before{
              opacity: 1;
              content: '';
              width: 20px;
              height: 20px;
              background-image: url("../images/vineta_menu.png");
              background-size: 100% 100%;
              position: absolute;
              bottom: 0;
              left: 50%;
              -webkit-transform: translateX(-50%);
              -moz-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
              -o-transform: translateX(-50%);
              transform: translateX(-50%);
            }
          }
        }
      }
    }
  }
}

@-webkit-keyframes hobermenu {
  0% {bottom: 0}
  50% {bottom: 20px}
  100% {bottom: 0px}
}
@-moz-keyframes hobermenu {
  0% {bottom: 0}
  50% {bottom: 20px}
  100% {bottom: 0px}
}
@-ms-keyframes hobermenu {
  0% {bottom: 0}
  50% {bottom: 20px}
  100% {bottom: 0px}
}
@-o-keyframes hobermenu {
  0% {bottom: 0}
  50% {bottom: 20px}
  100% {bottom: 0px}
}
@keyframes hobermenu {
  0% {bottom: 0}
  50% {bottom: 20px}
  100% {bottom: 0px}
}

h2{
  font: 2.5vw 'work_sansmedium';
}

p{
  color: $gris;
  font: 1.3vw 'work_sansregular';
}

.boton{
  background-color: $amarillo;
  color: white;
  padding: 15px 5px;
  text-transform: uppercase;
  @include border-radius(10px);
  font-size: 1.3vw;
  span{
    border: 1px solid white;
    padding: 7px 15px;
    display: inline-block;
    @include border-radius(10px);
  }
}

footer{
  background-color: $azul;
  text-align: center;
  padding: 40px 0;
  .logo{
    width: 17%;
    display: inline-block;
  }
  p{
    color: white;
  }
}

/* estilo plantilla general */

.banner_video{
  text-align: center;
  margin: 0;
  position: relative;
  .logo_titulo{
    width: 20%;
    display: inline-block;
    margin: 25px 0;
  }

  .video{
    width: 100%;
    display: inline-block;
    position: relative;
    .banda{
      width: 100%;
      padding-top: 10%;
      position: absolute;
      left: 0;
      top: 50%;
      background-color: $azul;
      z-index: 0;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    .w_r_video{
      width: 51%;
      margin: 0 auto;
    }
    .c_video{
      width: 100%;
      padding-top: 56.25%; /* 16:9 Aspect Ratio */
      position: relative;
      iframe{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        //transform: scale(0.7);
      }
    }
  }
   p{
     max-width: 54%;
     margin: 5% auto 2% auto;
     font-size: 1.3vw;
      .autor{
        width: 100%;
        float: left;
        text-align: right;
      }
   }
  .deco{
    position: absolute;
    &.al{
      width: 22%;
      top: 0;
      left: 0;
    }
    &.ar{
      width: 18%;
      top: 35%;
      right: 0;
    }
  }
}

.programa_liderazgo{
  text-align: center;
  margin: 100px 0;
  position: relative;
  h2, p, .banner{
    width: 62%;
    margin: 0 auto;
  }
  p{
    margin: 5% auto;
  }
  .deco{
    position: absolute;
    z-index: 1;
    &.al{
      top: 0;
      width: 12%;
      left: 0;
    }
    &.ar{
      top: 65%;
      width: 13%;
      right: 0;
    }
  }
}

.mapa{
  padding-top: 50%;
  position: relative;
  #map{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  form{
    width: 38%;
    height: 90%;
    position: absolute;
    z-index: 1;
    top: 5%;
    right: 6%;
    background-color: white;
    padding: 5% 2%;
    @include border-radius(10px);
    text-align: center;
    input[type="image"]{
      width: 70%;
      display: inline-block;
    }
    input[type="text"]{
      width: 100%;
      display: inline-block;
      background-color: $azul2;
      border: 0;
      margin: 4px 0;
      font: 1vw 'work_sansregular';
      color: white;
      padding: 15px 10px;
      text-align: left;
    }
    label{
      width: 100%;
      color: $gris;
      font: 1vw 'work_sansregular';
      margin: 25px 0;
      text-align: left;
      span{
        font-size: 0.8vw;
        text-align: left;
      }
    }
    input[type="submit"]{
      font-size: 1vw;
      padding: 10px 25px;
      border: 0;
      margin-top: 5%;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: white;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: white;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: white;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: white;
    }
  }
}

.nuevo_modelo{
  text-align: center;
  position: relative;
  padding: 100px 0;
  .item{
    width: 21%;
    display: inline-block;
    vertical-align: top;
    margin: 40px 2%;
    .c_img{
      width: 60%;
      margin: 0 auto;
    }
    .img{
      width: 100%;
      position: relative;
      padding-top: 100%;
      overflow: hidden;
      @include border-radius(50%);
      background-color: $gris;
      img{
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
      }
    }
    h3{
      font: 1.5vw 'work_sansmedium';
      color: $azul;
    }
    p{
      font-size: 1vw;
    }
  }
  .deco{
    position: absolute;
    &.al{
      width: 14%;
      left: 0;
      top: 5%;
    }
    &.ar{
      width: 16%;
      right: 0;
      bottom: 0;
    }
  }
}


.guia_contenidos{
  padding: 100px 0;
  text-align: center;
  position: relative;
  .banda{
    width: 100%;
    padding-top: 10%;
    position: absolute;
    left: 0;
    top: 50%;
    background-color: $rojo;
    z-index: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .c_w{
    position: relative;
  }
  .txt{
    width: 45%;
    position: relative;
    z-index: 1;
    background-color: $gris2;
    margin: 10% auto;
    padding: 5%;
    p{
      color: $gris;
      text-align: left;
    }
    .boton{
      margin-top: 10%;
      display: inline-block;
      padding: 5px;
    }
  }
  .deco{
    position: absolute;
    &.al{
      width: 18%;
      left: 7%;
      bottom: 0;
    }
    &.ar{
      width: 10%;
      right: 0;
      top: 90%;
    }
  }
}

.liderando{
  text-align: center;
  position: relative;
  padding: 10% 0;
  h2{
    margin-bottom: 5%;
  }
  p{
    width: 70%;
    margin: 0 auto;
  }
  .item{
    .txt, .img{
      display: inline-block;
      vertical-align: middle;
      margin: 5% 6%;
    }
    .txt{
      width: 30%;
      text-align: left;
      h3{
        color: $azul;
        font: 2.5vw 'work_sansmedium';
        margin-bottom: 10%;
      }
      p{
        width: 100%;
        margin: 0;
      }
    }
    .img{
      width: 36%;
      img{
        width: 100%;
      }
    }
  }
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: #6998CA !important;
  background-image: none !important;
  color: rgb(0, 0, 0) !important;
}