{% extends 'lay_iridian.html.twig' %}

{% block content %}
    <div class="banner__nosotros banner">
        <img src="{{ qi.imagen('banner-responsabilidad') }}" alt="" class="fondo">
        <h2>RESPONSABILIDAD SOCIAL</h2>
        <a href="#scroll-menu" class="scroll">SCROLL DOWN<br><i class="fas fa-angle-down"></i></a>
    </div>
    <div class="responsabilidad" id="scroll-menu">
        <div class="swiper-container swip-res-1">
            <div class="swiper-wrapper">
                {% for item in qi.galeria('responsabilidad1') %}
                    <div class="swiper-slide" data-hash="evento{{ loop.index }}">

                        <img src="{{ item.imagen }}" alt="">
                        <div class="textos">
                            <p>{{ item.resumen}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="next-sedes-eventos flecha-swiper"><i class="fas fa-angle-right"></i></div>
        <div class="prev-sedes-eventos flecha-swiper"><i class="fas fa-angle-left"></i></div>
        <div class="swiper-container swip-res-2">
            <div class="swiper-wrapper">
                {% for item in qi.galeria('responsabilidad2') %}
                    <div class="swiper-slide" data-hash="evento{{ loop.index }}">


                        <div class="textos">
                            <p>{{ item.resumen}}</p>
                        </div>
                        <img src="{{ item.imagen }}" alt="">
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="next-sedes-eventos2 flecha-swiper"><i class="fas fa-angle-right"></i></div>
        <div class="prev-sedes-eventos2 flecha-swiper"><i class="fas fa-angle-left"></i></div>

    </div>


{% endblock %}
{% block javascripts %}
    <script>

    </script>

{% endblock %}