{% extends 'lay_iridian.html.twig' %}

{% block content %}
    {% set categoria = app.request.get('categoria') %}
    {% set marca = app.request.get('marca') %}
    {% set search = app.request.get('search') %}
    {% set categorias = ci.categorias() %}
    {% set lc = app.request.locale() %}
    {% set productos = ci.productos(categoria, null, search,null,marca, true, null) %}
    {% set lc = app.request.locale %}
    {% set cu = app.request.locale | capitalize %}

    {% set fondo = qi.imagen('banner-nosotros') %}
    {% set titulo = qi.textoDB('productos') %}
    {% set resumen = qi.textoDB('productos-txt') %}
    {% for item in categorias %}
        {% if item.id == categoria %}
            {% set titulo = item.nombre %}
            {% set resumen = item.resumen %}
            {% set fondo = path_productos~'/'~item.imagen %}
        {% endif %}
    {% endfor %}
    <main class="main-productos">
        <div class="banner__menu-pg banner">
            <img src="{{ qi.imagen('banner-menu') }}" alt="" class="fondo">
            <h2>MENÚ</h2>
            <a href="#scroll-menu" class="scroll">SCROLL DOWN<br><i class="fas fa-angle-down"></i></a>
        </div>
        <div class="banner banner__categorias" id="scroll-menu">
            <a href="{{ path('menu') }}" class="regresar"><i class="fas fa-angle-left"></i></a>

            <h2>{{ titulo }}</h2>
        </div>
        <div class="categoria-menu">
            {% for item in productos %}
                <a href="{{ path('producto-menu', {id: item.id, nombre: qi.slugify(item.nombre) }) }}#scroll-menu">
                    <div class="producto">
                        <img src="{{item.imagen }}" alt="">
                        <div class="filtro-negro"></div>
                        <h3>{{ item.nombre}}</h3>
                    </div>
                </a>
            {% endfor %}
        </div>


    </main>


{% endblock %}

{% block javascripts %}
    <script>
        window.addEventListener('load', function() {
            console.log("cargó");
            var max_p =0;
            $(".imagen-prod").each(function(k,v){
                max_p = Math.max(max_p,$(this).height());
            });
            $(".imagen-prod").height( max_p);
            max_p =0;
            $(".producto").each(function(k,v){
                max_p = Math.max(max_p,$(this).height());
            });
            $(".producto").height( max_p);
        });
    </script>
{% endblock %}
