{% extends 'lay_iridian.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content %}
    <div class="bannerGeneral" style="background-image: url('{{ qi.imagen('banner-login') }}')">
        {#<img src="/images/nosotros-pie.png"/>#}
    </div>
    <div class="container">
        <div class="row">
            <div class="descripcionPag">
                <hr class="ttlLine"/>
            </div>
        </div>
        <div class="row cont_reg" id="forms">
            <div class="col-md-4 col-xs-12 signIn">
                <form action="{{ path("fos_user_security_check") }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    <h4 class="ttlAzulMed contact-title">{{ qi.textoDB('cliente-soy') }}</h4>
                    <div>
                        {% for flashMessage in app.session.flashbag.get('error') %}
                            {{ flashMessage }}
                        {% endfor %}
                    </div>
                    <div>
                        <label>{{ qi.textoDB('correo') }}</label>
                        <input id="username" name="_username" class="form-control" required/>
                    </div>
                    <div>
                        <label>{{ qi.textoDB('contraseña') }}</label>
                        <input id="password" name="_password" class="form-control"  type="password" required/>
                    </div>
                    <div class="formGroup2">
                        <div class="customCheck">
                            <input type="checkbox" class="styled-checkbox" id="remember_me" name="_remember_me" value="on">
                            <label for="remember_me">{{ qi.textoDB('recordar') }}</label>
                        </div>
                    </div>
                    <div class="formGroup2">
                        <a href="{{ path('fos_user_resetting_request') }}" class="forgot">{{ qi.textoDB('login_forgot') }}</a>
                    </div>
                    <div>
                        {#<a href="javascript:void(0)" class="faceBtn">
                            <span><i class="fa fa-facebook" aria-hidden="true"></i></span>
                            <span>{{ qi.textoDB('facebook-log') }}</span>
                        </a>#}
                    </div>
                    <input class="btn btn-red btn-sq btn-sm btn-block" type="submit" value="{{ qi.textoDB('login_btn') }}"/>
                </form>
            </div>
            <div class="col-md-offset-2 col-md-6 col-xs-12 signUp">
                {{ form_start(form, {'method': 'post', 'action': '#forms', 'attr': {'class': 'fos_user_registration_register'}}) }}
                    <h4 class="ttlAzulMed contact-title">{{ qi.textoDB('nuevo-cliente') }}</h4>
                    {{ form_errors(form) }}
                    <div class="formGroup">
                        <label>{{ qi.textoDB('nombre') }}</label>
                        {{ form_errors(form.nombre) }}
                        {{ form_widget(form.nombre, { attr: {'class':''} } ) }}
                    </div>
                    <div class="formGroup">
                        <label>{{ qi.textoDB('apellido') }}</label>
                        {{ form_errors(form.apellidos) }}
                        {{ form_widget(form.apellidos, { attr: {'class':''} } ) }}
                    </div>
                    <div class="formGroup">
                        <label>{{ qi.textoDB('correo') }}</label>
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email, { attr: {'class':''} } ) }}
                    </div>
                    <div class="formGroup">
                        <label>{{ qi.textoDB('teléfono') }}</label>
                        {{ form_errors(form.telefono) }}
                        {{ form_widget(form.telefono, { attr: {'class':''} } ) }}
                    </div>
                    <div class="formGroup">
                        <label>{{ qi.textoDB('cédula') }}</label>
                        {{ form_errors(form.cedula) }}
                        {{ form_widget(form.cedula, { attr: {'class':''} } ) }}
                    </div>
                    <div class="formGroup">
                        <label>{{ qi.textoDB('dirección') }}</label>
                        {{ form_errors(form.direccion) }}
                        {{ form_widget(form.direccion, { attr: {'class':''} } ) }}
                    </div>
                    <div class="formGroup">
                        <label>{{ qi.textoDB('departamento') }}</label>
                        {{ form_errors(form.departamento) }}
                        {{ form_widget(form.departamento, { attr: {'class':''} } ) }}
                    </div>
                    <div class="formGroup">
                        <label>{{ qi.textoDB('ciudad') }}</label>
                        {{ form_errors(form.ciudad) }}
                        {{ form_widget(form.ciudad, { attr: {'class':''} } ) }}
                    </div>
                    <div class="formGroup">
                        <label>{{ qi.textoDB('contraseña') }}</label>
                        {{ form_errors(form.plainPassword.first) }}
                        {{ form_widget(form.plainPassword.first, { attr: {'class':''} } ) }}
                    </div>
                    <div class="formGroup">
                        <label>{{ qi.textoDB('repetir contraseña') }}</label>
                        {{ form_errors(form.plainPassword.second) }}
                        {{ form_widget(form.plainPassword.second, { attr: {'class':''} } ) }}
                    <div class="customCheck">
                        <input type="checkbox" class="styled-checkbox" id="terminos-tarjeta" required>
                        <label for="terminos-tarjeta">Acepto <a href="{{ path('terminos_y_condiciones') }}" class="forgot">{{ qi.textoDB('terminos-condiciones') }}</a></label>
                    </div>
                     <input class="btn btn-red btn-sq btn-sm btn-block" type="submit" value="{{ qi.textoDB('login_create') }}"/>
                {{ form_end(form) }}
            </div>

        </div>
    </div>


{% endblock %}