{% extends 'lay_iridian.html.twig' %}

{% block content %}
    {% set categoria = app.request.get('categoria') %}
    {% set marca = app.request.get('marca') %}
    {% set nombre = app.request.get('nombre') %}
    {% set search = app.request.get('search') %}
    {% set categorias = ci.categorias() %}
    {% set marcas = ci.marcas() %}
    {% set lc = app.request.locale() %}
    {% set productos = ci.productos(categoria, null, search,null,marca) %}
    {% set lc = app.request.locale %}
    {% set cu = app.request.locale | capitalize %}

    {% set fondo = qi.imagen('banner-nosotros') %}
    {% set titulo = qi.textoDB('productos') %}
    {% set resumen = qi.textoDB('productos-txt') %}
    {% set ventajas = "" %}
    {% set usos = "" %}
    {% for item in marcas %}
        {% if item.id == marca %}
            {% set titulo = item.gen('nombre',lc) %}
            {% set resumen = item.gen('resumen',lc) %}
            {% set fondo = path_productos~'/'~item.imagen %}
            {% set ventajas = item.gen('ventajas',lc) %}
            {% set usos = item.gen('usos',lc) %}
        {% endif %}
    {% endfor %}
    <div class="banner-productos" style="background-image: url({{ qi.imagen('banner-productos') }})"></div>
    <main class="main-marca">

        <div class="breadcrumbs">
            <h5><a href="/">E.Quatro</a><a href="/productos"> / Productos</a> <span> / {{ nombre }}</span></h5>
        </div>
        <div class="marca-info">
           <div class="main-info">
               <h2>{{ nombre }}</h2>
               <p>{{ resumen | raw}}</p>
           </div>

           <div class="ventajas">
               <h3>Ventajas</h3>
               <p>{{ ventajas | raw}}</p>
           </div>

            <div class="usos">
                <h3>Usos</h3>
                {{usos| raw}}
            </div>

            <div class="productos-marca">
                {% for item in productos %}
                    <div class="producto" id="prod{{ item.id}}">
                        <a href="/product/{{item.id}}/{{ item.nombre}}"><div class="imagen-prod"> <img src="{{ item.imagen }}"></div><h4 class="nombre-obj">{{ item.nombre| raw }}</h4></a>
                   <p>{{item.resumen}}</p>
                    </div>
                {% endfor %}
            </div>

        </div>


    </main>


{% endblock %}

{% block javascripts %}
    <script>
        window.addEventListener('load', function() {
            console.log("cargó");
            var max_p =0;
            $(".imagen-prod").each(function(k,v){
                max_p = Math.max(max_p,$(this).height());
            });
            $(".imagen-prod").height( max_p);
            max_p =0;
            $(".producto").each(function(k,v){
                max_p = Math.max(max_p,$(this).height());
            });
            $(".producto").height( max_p);
        });
    </script>
{% endblock %}
