{% extends 'lay_iridian.html.twig' %}

{% block content %}
    {% set categoria = app.request.get('categoria') %}
    {% set marca = app.request.get('marca') %}
    {% set search = app.request.get('search') %}
    {% set categorias = ci.categorias(null, true) %}
    {% set lc = app.request.locale() %}
    {% set productos = ci.productos(categoria, null, search,null,marca, null, true) %}
    {% set lc = app.request.locale %}
    {% set cu = app.request.locale | capitalize %}
    {% for item in categorias %}
        {% if item.id == categoria %}
            {% set titulo = item.nombre %}
            {% set resumen = item.resumen %}
            {% set fondo = path_productos~'/'~item.imagen %}
        {% endif %}
    {% endfor %}
    <div class="banner__menu-pg banner">
        <img src="{{ qi.imagen('banner-tienda') }}" alt="" class="fondo">
        <h2>TIENDA</h2>
        {#<h3>{{ categoria }}</h3>#}
        <a href="#scroll-menu" class="scroll">SCROLL DOWN<br><i class="fas fa-angle-down"></i></a>
    </div>
    <div class="tienda" id="scroll-menu">
        <form action="" class="select-categoria">
            <div class="select-group">
                <i class="fas fa-angle-down"></i>
                <select name="categoria-tienda" id="categoria-tienda" placeholder="Categoría">
                    <option value="{{ path('tienda') }}" selected disabled>Categorías</option>
                    <option value="{{ path('tienda') }}">TODAS</option>
                    {% for item in categorias %}
                        <option value="{{ path('productos_por_categoria', {categoria: item.id, nombre: qi.slugify(item.nombre) }) }}">{{ item.nombre }}</option>
                    {% endfor %}
                </select>
            </div>

            <button id="buscar-cat"><i class="fas fa-search"></i></button>
        </form>
        <div class=" swip-tienda" id="swip-tienda">

                {% for item in productos %}

                    <div class="cont-prod">
                        <img src="{{ item.imagen }}" alt="" class="swiper-lazy">
                        {#<div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>#}
                        <div class="filtro-negro"></div>

                        <h3>{{ item.nombre }}</h3>
                        <a href="{{ path('producto', {id: item.id, nombre: qi.slugify(item.nombre) }) }}">Ver más</a>
                    </div>

                {% endfor %}

        </div>
        <div class="cont-nav">
            <div class="prev-sedes-eventos flecha-swiper"><i class="fas fa-angle-left"></i></div>
            <div class="navegar"></div>
            <div class="next-sedes-eventos flecha-swiper"><i class="fas fa-angle-right"></i></div>
        </div>
        <h6>Página</h6>

    </div>
{% endblock %}
