{% extends 'lay_iridian.html.twig' %}

{% block content %}
    {% set lc = app.request.locale %}
    {% set cu = app.request.locale | capitalize %}
    {% set categorias = ci.categorias() %}

    
<!-- CONTENT -->
    <div class="banner__menu-pg banner">
        <img src="{{ qi.imagen('banner-menu') }}" alt="" class="fondo">
        <h2>TIENDA</h2>
        <a href="#scroll-menu" class="scroll">SCROLL DOWN<br><i class="fas fa-angle-down"></i></a>
    </div>
    <div class="banner banner__categorias" id="scroll-menu">
        <a href="{{ path('tienda') }}"  class="regresar"><i class="fas fa-angle-left"></i></a>
        <h2>{{ producto.categoria }}</h2>
    </div>
    <div class="info-prod">
        <img src="{{ path_productos~'/'~producto.imagen }}" alt="">
        <div class="textos-prod">
            <h3>{{ producto.gen('nombre',lc) }}</h3>
            <p>{{ producto.gen('resumen',lc) }}</p>
            <h4>${{ producto.precio }}</h4>
            <a href="{{ path('tienda')}}" class="regresar">VOLVER</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
   <script>
    </script>


{% endblock %}