{% extends 'lay_iridian.html.twig' %}

{% block content %}
    {% set categoria = app.request.get('categoria') %}
    {% set marca = app.request.get('marca') %}
    {% set search = app.request.get('search') %}
    {% set categorias = ci.categorias(true,null) %}
    {% set lc = app.request.locale() %}
    {% set productos = ci.productos(categoria, null, search,null,marca) %}
    {% set lc = app.request.locale %}
    {% set cu = app.request.locale | capitalize %}
    {% for item in categorias %}
        {% if item.id == categoria %}
            {% set titulo = item.nombre %}
            {% set resumen = item.resumen %}
            {% set fondo = path_productos~'/'~item.imagen %}
        {% endif %}
    {% endfor %}
    <div class="banner__menu-pg banner">
        <img src="{{ qi.imagen('banner-menu') }}" alt="" class="fondo">
        <h2>MENÚ</h2>
        <a href="#scroll-menu" class="scroll">SCROLL DOWN<br><i class="fas fa-angle-down"></i></a>
    </div>
    <div class="banner banner__categorias" id="scroll-menu">
        <h2>CATEGORÍAS</h2>
    </div>
    <div class="categorias-menu">
        {% for item in categorias %}
            <a href="{{ path('menu_por_categoria', {categoria: item.id, nombre: qi.slugify(item.nombre) }) }}#scroll-menu">
                <div class="categoria">
                    <img src="{{ path_productos~'/'~item.imagen }}" alt="">
                    <div class="filtro-negro"></div>
                    <h3>{{ item.nombre }}</h3>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
