{% extends 'lay_iridian.html.twig' %}

{% set lc = app.request.locale() %}
{% set productos = ci.productos() %}
{% block content %}
<!-- CONTENT -->
<div class="subheader-block">
  <!-- CAROUSEL -->
  <div id="headerCarousel" class="carousel slide head-carousel" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      {% for item in qi.galeria('galeria-clientes') %}
      {% if loop.length > 1 %} 
        {% if loop.first %}
        <li data-target="#headerCarousel" data-slide-to="{{ loop.index0 }}" class="active"></li>
        {% else %}
        <li data-target="#headerCarousel" data-slide-to="{{ loop.index0 }}"></li>      
        {% endif %}
      {% endif %}
      {% endfor %}
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      {% for item in qi.galeria('galeria-clientes') %} 
      {% if loop.first %}
      <div class="item active">              
      {% else %}
      <div class="item">        
      {% endif %} 
        <img src="{{ item.imagen }}" alt="Pollo Andino" class="carousel-img">
        <div class="carousel-caption">
          <h3>{{ item.resumen | raw }}</h3>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- / CAROUSEL -->
</div>
<div class="bg-white content-section-block">
  <div class="container">
    <div class="row">
    <a href="{{ qi.archivo("catalogo-file") }}" target="_blank"  class="btn btn-lg btn-sq btn-red">{{ qi.textoDB('descargar-catalogo') }} <i class="fa fa-download" aria-hidden="true"></i></a>
      <div class="col-sm-12">
        <h1 class="text-center">{{ qi.textoDB('clientes-title') }}</h1>
      </div>
    </div>
    <div class="row client-map">
      <div class="col-sm-6">
        <div class="map-wrapper shadow-block" id="map" >
          <!--<iframe src="{{ qi.textoDB('clientes-default-map') }}" width="600" height="550" frameborder="0" style="border:0" id="mapdisplay" allowfullscreen></iframe>-->
        </div>
      </div>

      <div class="col-sm-6">
        <h3 class="red uppercase ">{{ qi.textoDB('clientes-subtitle') }}</h3>
        <div class="row">
          {% for  cliente in clientes%}
            <div class="col-sm-6 no-bootstrap">
              <h3 class="red uppercase centermap" data-lat="{{ cliente.lat }}" data-lng="{{ cliente.lng }}" ><i class="fa fa-dot-circle-o" aria-hidden="true"></i>{{ cliente.nombre }}</h3>
              <p>{{ cliente.descripcion }}</p>
            </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
</div>
<div class="video-bl">
  <iframe width="560" height="315" src="{{ qi.textoDB('clientes-video-url') }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
<section class="section-block bg-red">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="white">{{ qi.textoDB('clientes-title-certificaciones') }}</h1>
      </div>
    </div>
    <div class="row">
      {% for item in qi.galeria("certificaciones") %}
        <div class="col-sm-2 col-xs-6 logos-aliados">
          <div class="text-center">
            <img src="{{ item.imagen }}" alt="Logo" class="img-circle img-responsive">
          </div>
        </div>
      {% endfor %}

    </div>
  </div>
</section>
<!--
<section class="section-block bg-curve">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="bg-white shadow-block">
          <div class="row bg-red">
            <div class="col-sm-6">
              <h3 class="contact-title title-left">{{ qi.textoDB('contacto-titulo') }}</h3>
            </div>
            <div class="col-sm-6">
              <h3 class="contact-title title-right">{{ qi.textoDB('clientes-cotizaciones') }}</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 contact-divider">
              <div class="contact-form-wrapper">
              {% if gracias %}
                  <h3 class="red text-center">{{ qi.textoDB('gracias') }}</h3>
              {% else %}
                  {{ include('@Contacto/Default/formulario.html.twig', { 'form': form }) }}
              {% endif %}
              </div>
            </div>
            <div class="col-sm-6">
              <div class="contact-form-wrapper">
                  <p><input type="text" class="form-field" placeholder="{{ qi.textoDB('form-placeholder-cotizacion-1') }}"></p>
                  <p><input type="text" class="form-field" placeholder="{{ qi.textoDB('form-placeholder-cotizacion-2') }}"></p>
                  <p><input type="text" class="form-field" placeholder="{{ qi.textoDB('form-placeholder-cotizacion-3') }}"></p>
                  <p><button class="btn btn-sq btn-lg btn-block btn-red" onclick="enviarCotizacion()">{{ qi.textoDB('clientes-solicitar-cotizacion') }}</button></p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
-->
<!-- /CONTENT -->
{% endblock %}

{% block javascripts %}
  <script>
  var map;
      function initMap() {
          {% if clientes|length >0 %}
            var uluru = {lat: {{ clientes[0].lat }}, lng: {{ clientes[0].lng }}};
          {% else %}
            var uluru = {lat: 	4.613657, lng: 	-74.102654};
          {% endif %}
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru,
          zoom: 12
        });
        {% for cliente in clientes %}
          var marker = new google.maps.Marker({
            position: {lat: {{ cliente.lat }}, lng: {{ cliente.lng }}},
            map: map
          });
        {% endfor %}
      }
  </script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBecYBkQUMp6uklF8xvJzAPJ7nbd4eObjM&callback=initMap">
  </script>
{% endblock %}