{% extends 'lay_iridian.html.twig' %}

{% set lc = app.request.locale() %}
{% set productos = ci.productos() %}
{% block content %}
<!-- CONTENT -->
<div class="subheader-block">
  <!-- CAROUSEL -->
  <div id="headerCarousel" class="carousel slide head-carousel" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      {% for item in qi.galeria('galeria-domicilios') %}
      {% if loop.length > 1 %} 
        {% if loop.first %}
        <li data-target="#headerCarousel" data-slide-to="{{ loop.index0 }}" class="active"></li>
        {% else %}
        <li data-target="#headerCarousel" data-slide-to="{{ loop.index0 }}"></li>      
        {% endif %}
      {% endif %}
      {% endfor %}
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      {% for item in qi.galeria('galeria-domicilios') %} 
      {% if loop.first %}
      <div class="item active">              
      {% else %}
      <div class="item">        
      {% endif %} 
        <img src="{{ item.imagen }}" alt="Pollo Andino" class="carousel-img">
        <div class="carousel-caption">
          <h3>{{ item.resumen | raw }}</h3>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- / CAROUSEL -->
</div>
<div class="bg-curve content-section-block">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="text-center">{{ qi.textoDB('domicilios-title') }}</h1>
      </div>
    </div>
    <!--
    <div class="row">
      <div class="col-sm-3">
        <p class="select-box map-filter">
          <select name="" id="">
            <option value="">{{ qi.textoDB('domicilios-filter-1') }}</option>
          </select>
        </p>
      </div>
    </div>
    -->
    <div class="row">
      <div class="col-sm-9">
        <div class="map-wrapper shadow-block">
          <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d65191.145294523645!2d-74.08625675517183!3d4.6314141070824295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1spollo+andino!5e0!3m2!1ses!2sco!4v1526301230376" width="600" height="550" frameborder="0" style="border:0" id="mapdisplay" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-sm-3">
        <h3 class="red uppercase">{{ qi.textoDB('puntos-cercanos') }}</h3>
        <ul class="marker-list" id="markerlist"></ul>
      </div>
    </div>
    <section class="map-info">
      <div class="row">
        <div class="col-sm-12">
          <h1 class=" text-center uppercase location-title" id="maptitle"></h1>
        </div>
      </div>
      <div class="map-description bg-white shadow-block">
        <div class="row">
          <div class="col-sm-12">
            <div class="map-text">
              <p id="mapdescription"></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 separator">
            <hr>
          </div>
        </div>
        <div class="row map-details">
          <div class="col-sm-4">
            <div class="map-details-block">
              <p class="uppercase red">{{ qi.textoDB('map-direccion') }}</p>
              <p class="map-data" id="mapaddress"></p>
            </div>
          </div>
          <div class="col-sm-4 middle-line">
            <div class="map-details-block">
              <p class="uppercase red">{{ qi.textoDB('map-telefono') }}</p>
              <p class="map-data" id="mapphone"></p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="map-details-block">
              <p class="uppercase red">{{ qi.textoDB('map-horario') }}</p>
              <p class="map-data" id="mapopening"></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div id="result"></div>
  </div>
</div>
<!-- /CONTENT -->
{% endblock %}
{% block javascripts %}
<script>
  var mapLocations = [
      {% for sede in sedes %}
    {
      "id": {{ sede.id }},
      "name":"{{ sede.nombre }}",
      "map": "https://www.google.com/maps/embed/v1/place?key=AIzaSyA_-R6eywLRGLxpbSdR7JZXu85uQ71jUDc&q={{ sede.lat }},{{ sede.lng }}&zoom=16",
      "description": "{{ sede.descripcion|raw }}",
      "address": "{{ sede.direccion }}",
      "phone": "{{ sede.telefono }}",
      "opening": "{{ sede.horario|replace({"\n": "", "\r\n": "", "\t": "", "\n\r": ""})|raw }}"
    },
     {% endfor %}

  ];
  var maplist = '';
  for (var i = 0; i < mapLocations.length; i++) { 
    maplist += '<li><a id="map' + i + '"><i class="fa fa-map-marker" aria-hidden="true"></i> ' + mapLocations[i].name + '</a></li>';
  }

  $("#markerlist").html(maplist);
  $("#maptitle").html(mapLocations[0].name);
  $("#mapdisplay").attr("src", mapLocations[0].map);
  $("#mapdescription").html(mapLocations[0].description);
  $("#mapaddress").html(mapLocations[0].address);
  $("#mapphone").html(mapLocations[0].phone);
  $("#mapopening").html(mapLocations[0].opening);

  $.each(mapLocations, function(j, val){
    $("#map" + j).click(function() {
      $("#maptitle").html(mapLocations[j].name);
      $("#mapdisplay").attr("src", mapLocations[j].map);
      $("#mapdescription").html(mapLocations[j].description);
      $("#mapaddress").html(mapLocations[j].address);
      $("#mapphone").html(mapLocations[j].phone);
      $("#mapopening").html(mapLocations[j].opening);
    });
  });
</script>
{% endblock %}