{% set ruta = app.request.get('_route') %}
{% set params = app.request.attributes.get('_route_params')  %}
{% set params = params |slice(1) %}
{% set lc = app.request.locale %}

<!-- FOOTER -->


<footer>
<div class="fondo-foot">

       <div class="info">
           <img src="{{ qi.imagen('logo-negro') }}" alt="">
           <a href="mailto:{{ qi.textoDB('mail-info') }}">{{ qi.textoDB('mail-info') }}</a>
           <a class="nslt-btn">Suscribete a nuestro newsletter <i class="fas fa-arrow-right"></i></a>
           <form id="form_newsletter" novalidate="novalidate">
               <input type="email" placeholder="E-mail" required>
               <label>
                   <span id="terms_error">Debes aceptar los terminos y condiciones</span>
                   <span id="news_email_error">Debes ingresar un email válido</span>
                   <input type="checkbox" id="acepta">
                   <label for="acepta">Acepto <a href="/terminos" target="_blank" required>términos y condiciones</a></label>
               </label>

               <input type="submit" value="Enviar">
           </form>
           <div class="rappi">
               <h4>PIDE POR: <a href="https://www.rappi.com.co/restaurantes/fish-place-del-mar "><img src="/images/rappi.png" alt="Rappi"></a></h4>
           </div>
       </div>
    <div class="nav-footer">
        <h4>NAVEGACIÓN</h4>
        <a href="{{ path('homepage') }}"{% if ruta == 'homepage' %}class="active"{% endif %} >Home</a>
        <a href="{{ path('contacto') }}" {% if ruta == 'contacto' %}class="active"{% endif %}>Contáctenos</a>
        <a href="{{ path('menu') }}" {% if ruta == 'menu' %} class="active"{% endif %}>Menú</a>
        <a href="{{ path('the_blog') }}" {% if ruta == 'the_blog' %}class="active"{% endif %}>Blog</a>
        <a href="{{ path('nosotros') }}" {% if ruta == 'nosotros' %} class="active" {% endif %} >Nosotros</a>
        <a href="{{ path('eventos') }}" {% if ruta == 'eventos' %}class="active"{% endif %}>Eventos</a>
        <a href="{{ path('sostenibilidad') }}" {% if ruta == 'sostenibilidad' %}class="active"{% endif %}>Sostenibilidad</a>
        <a href="{{ path('tienda') }}" {% if ruta == 'tienda' %}class="active"{% endif %}>Tienda Fish Place</a>
        <a href="{{ path('responsabilidad') }}" {% if ruta == 'responsabilidad' %}class="active"{% endif %}>Responsabilidad Social</a>
        <a href="{{ path('reservas') }}" {% if ruta == 'reservas' %}class="active"{% endif %} >Reservas</a>
    </div>
    <div class="interes">
        <a href="{{ qi.textoDB('link_anclayviento') }}">ANCLA Y VIENTO</a>
        <a href="">TRATAMIENTO DE DATOS</a>
        <a href="{{ qi.SettingDB('protecciondedatos') }}">{{ qi.textoDB('protecciondedatos') }} </a>
        <a href="{{ path('polIticaSAGRILAFT') }}">{{ qi.textoDB('polIticaSAGRILAFT') }}</a>
        <a href="{{ path('Terminosycondiciones') }}">{{ qi.textoDB('Terminosycondiciones')}}</a>
        <a href="{{ path('transparencia-etica') }}">{{ qi.textoDB('ProgramadeTransparencia')}}</a>
        <div class="redes-foot">
            {% for item in qi.galeria('redes_sociales') %}
                <a href="{{ item.link }}"><img src="{{ item.doc }}" alt=""></a>
            {% endfor %}
        </div>
    </div>
    <div class="legal"><span>{{ qi.textoDB('derechos-res') }}</span><a href="http://www.iridian.co/"><img src="/images/logo-pivot.png" alt=""></a>
        <a href="{{ qi.textoDB('link_anclayviento') }}"><img src="{{ qi.imagen('logo-ancla') }}" alt=""></a></div>
</div>
</footer>