<form action="" id="new_reserva">
  <div class="marco">

    <div class="form-group">
      <label for="nombre-res">NOMBRE: </label> <input type="text" id="nombre-res" name="nombre">
    </div>
    <div class="form-group-2">
      <input type="text" id="fecha-res" placeholder="FECHA" name="fecha">
      <input type="text" id="cantidad-res" placeholder="NÚMERO DE PERSONAS" name="num">
      <div class="form-group selector">
        <label for="nombre-res">SEDE: </label>
        <select name="sede" id="sede">
            <option value="1">Los Heroes</option>

        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="email-res">EMAIL: </label> <input type="email" id="email-res" name="email">
    </div>
    <div class="form-group">
      <label for="celular-res">CELULAR: </label> <input type="text" id="celular-res" name="celular">
    </div>
    <div class="form-group-3">
      <input type="checkbox" id="acepto-pol"><label for="acepto-pol">Acepto la política de tratamiento de datos</label>
    </div>
    <div class="correos">
      <span><strong>HEROES: </strong><a href="mailto:{{ qi.textoDB('mail-heroes') }}">{{ qi.textoDB('mail-heroes') }}</a></span>
      <span><strong>PLAZA: </strong><a href="mailto:{{ qi.textoDB('mail-plaza') }}">{{ qi.textoDB('mail-plaza') }}</a></span>
      <br><span><strong>Supervisor: </strong><a href="mailto:{{ qi.textoDB('mail-supervisor') }}">{{ qi.textoDB('mail-supervisor') }}</a></span>

    </div>
  </div>
  <button>RESERVAR</button>
</form>