{% set ruta = app.request.get('_route') %}
{% set params = app.request.attributes.get('_route_params')  %}
{% set params = params |slice(1) %}
{% set lc = app.request.locale %}
{% set categoria = app.request.get('categoria') %}

<!-- HEADER -->
<header id="menu">
    <div class="logo-close">
        <img src="{{ qi.imagen('logo-negro') }}" alt="" class="logo-home">
        <div class="close-btn" id="close-menu">x</div>
    </div>
  <nav>
      <a href="{{ path('nosotros') }}" {% if ruta == 'nosotros' %} class="active" {% endif %}>Nosotros</a>
      <a href="{{ path('homepage') }}" {% if ruta == 'homepage' %} class="active" {% endif %}>Home</a>
      <a href="{{ path('menu') }}" {% if ruta == 'menu' %} class="active"{% endif %}>Menú</a>
      <a href="{{ path('reservas') }}" {% if ruta == 'reservas' %}class="active"{% endif %}>Reservas</a>
      <a href="{{ path('tienda') }}"{% if ruta == 'tienda' %}class="active"{% endif %}>Tienda</a>
      <a href="{{ path('eventos') }}" {% if ruta == 'eventos' %}class="active"{% endif %}>Eventos</a>
      <a href="{{ path('sostenibilidad') }}" {% if ruta == 'sostenibilidad' %}class="active"{% endif %}>Sostenibilidad</a>      <a href="{{ path('responsabilidad') }}" {% if ruta == 'responsabilidad' %}class="active"{% endif %}>Responsabilidad Social</a>
      <a href="{{ path('the_blog') }}" {% if ruta == 'the_blog' %}class="active"{% endif %}>Blog</a>
      <a href="{{ path('contacto') }}" {% if ruta == 'contacto' %}class="active"{% endif %}>Contacto</a>
  </nav>
    <div class="red-social">
        {% for item in qi.galeria('redes_sociales') %}
        <a href="{{ item.link }}" target="_blank"><img src="{{ item.imagen }}" alt=""></a>
        {% endfor %}
    </div>
</header>
