{% extends 'lay_iridian.html.twig' %}

{% set lc = app.request.locale() %}
{% set sedes=qi.sedes() %}

{% block content %}
    <div class="banner__home banner">
        <img src="{{ qi.imagen('banner-home') }}" alt="" class="fondo">
        <img src="{{ qi.imagen('logo-blanco') }}" alt="" class="logo">
        <a href="{{ path('tienda') }}" class="sello"><img src="{{ qi.imagen('sello-home') }}" alt=""></a>
        <a href="#scroll-menu" class="scroll">SCROLL DOWN<br><i class="fas fa-angle-down"></i></a>
    </div>
    <div class="banner banner__menu" id="scroll-menu">
        <h2>MENÚ</h2>
    </div>
    <div class="categorias-menu">
        {% for item in ci.categorias(true, null) %}
            <a href="{{ path('menu_por_categoria', {categoria: item.id, nombre: qi.slugify(item.nombre) }) }}">
            <div class="categoria">
                <img src="{{ path_productos~'/'~item.imagen }}" alt="">
                <div class="filtro-negro"></div>
                <h3>{{ item.nombre }}</h3>
            </div>
            </a>
        {% endfor %}
    </div>
    <div class="fondo-lindo">
        <div class="reservas">
        <h2>RESERVAS</h2>
            <img src="{{ qi.imagen('fondo-reservas') }}" alt="" class="deco">
            {{ include('@Home/Default/form_reservas.html.twig') }}
        </div>
        <div class="sedes">
            <h2>¿DÓNDE ESTAMOS?</h2>
            <div id="map">

            </div>
            <div class="swiper-container sedes-home">
                <div class="swiper-wrapper">
                    {% for item in sedes %}
                        <div class="swiper-slide">
                            <h3>{{ item.nombre }}</h3>
                            <p>{{ item.descripcion |raw}}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="prev-sedes-home flecha-swiper"><i class="fas fa-angle-left"></i></div>

            <div class="next-sedes-home flecha-swiper"><i class="fas fa-angle-right"></i></div>

        </div>
        <div class="domicilios">
            <h3>SERVICIO DE DOMICILIO</h3>
            <a class="rappi" href="https://www.rappi.com.co/restaurantes/fish-place-del-mar "><img src="/images/rappi.png" alt="Rappi"></a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

<script>
    var mapHome;
    function initMap() {

        var latlngcenter = {lat: 4.6496249, lng:  -74.1031817};

        mapHome = new google.maps.Map(document.getElementById('map'), {
            center: latlngcenter,
            zoom: 11,
            mapTypeControl: false
        });
        {% for sede in sedes %}
            var uluru = {lat: {{ sede.lat }}, lng: {{ sede.lng }}};
            var marker = new google.maps.Marker({position: uluru, label:"{{ sede.nombre }}", map: mapHome, pos: {{ loop.index0 }} });
            marker.addListener('click', function() {
                console.log(this.pos);
                swiperSedesHome.slideTo(this.pos);
            });
        {% endfor %}
    }
</script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_-R6eywLRGLxpbSdR7JZXu85uQ71jUDc&callback=initMap"
            async defer></script>

{% endblock %}