{% extends 'lay_iridian.html.twig' %}

{% set lc = app.request.locale() %}
{% set productos = ci.productos() %}
{% block content %}
    <div class="bannerGeneral" style="background-image: url('{{ qi.imagen('banner-insumos') }}')">
        {#<img src="/images/nosotros-pie.png"/>#}
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="descripcionPag">
                    <h1 class="ttlGrandGris" style="margin-top: 46px;">{{ qi.textoDB('insumos-ttl') }}</h1>
                    <hr class="ttlLine"/>
                    <p class="descLinea">{{ qi.textoDB('insumos-txt') }}</p>
                    <div class="buscAlfabeto">
                        <a href="">A</a>
                        <a href="">B</a>
                        <a href="">C</a>
                        <a href="">D</a>
                        <a href="">E</a>
                        <a href="">F</a>
                        <a href="">G</a>
                        <a href="">H</a>
                        <a href="">I</a>
                        <a href="">J</a>
                        <a href="">K</a>
                        <a href="">L</a>
                        <a href="">M</a>
                        <a href="">N</a>
                        <a href="">O</a>
                        <a href="">P</a>
                        <a href="">Q</a>
                        <a href="">R</a>
                        <a href="">S</a>
                        <a href="">T</a>
                        <a href="">U</a>
                        <a href="">V</a>
                        <a href="">W</a>
                        <a href="">X</a>
                        <a href="">Y</a>
                        <a href="">Z</a>
                        <a href="" class="todos">{{ qi.textoDB('mostrar') }}</a>
                    </div>
                    <hr class="ttlLineLt"/>
                </div>
                {%  for item in ingredientes %}
                    <a data-remodal-target="insumoContent_{{ item.id }}" class="insumo {{ item.firstLetters | upper }}">
                        <div class="insumoImg">
                            <img src="{{ (path_productos ~'/'~ item.imageEs) | imagine_filter('insumo') }}" alt="{{ item.gen('nombre',lc) }}"/>
                        </div>
                        <h3 class="ttlHelveGris">{{ item.gen('nombre',lc) }}</h3>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
    {%  for item in ingredientes %}
        <div class="remodal-bg">
            <div class="remodal InsuRemodal" data-remodal-id="insumoContent_{{ item.id }}">
                <button data-remodal-action="close" class="remodal-close"></button>
                <div class="insuImg">
                    <img src="{{ path_productos}}/{{  item.imageEs }}" alt="{{ item.gen('nombre',lc) }}"/>
                </div>
                <h3 class="txtMedptima">{{ item.gen('nombre',lc) }}</h3>
                <span class="txtOptimaIt">{{ item.latin }}</span>
                <div class="insuTxt">
                    <p class="txtHelveLtReg">
                        {{ item.gen('left', lc) | raw | nl2br }}
                    </p>
                    <p class="txtHelveLtReg">
                        {{ item.gen('right', lc) | raw | nl2br }}
                    </p>
                </div>
                <section>
                    <h4 class="txtHelveBd">{{ qi.textoDB('productos-con') }} {{ item.gen('nombre',lc) }}</h4>
                    {% for prod in item.productos %}
                        {% if prod.visible %}
                            <article class="insuProd">
                                <div class="insuProdImg">
                                    <img src="{{ path_productos~'/'~prod.imagen }}" alt="{{ prod.gen('nombre',lc) }}"/>
                                </div>
                                <div class="insuProdTxt">
                                    <h2 class="ttlHelveGris">{{ prod.gen('nombre',lc) }}</h2>
                                    <p class="descripcionesProductos"> {{ prod.gen('descripcion',lc) | nl2br }}</p>
                                    <a class="btnGris"   href="#productoInfo_{{ prod.id }}">
                                        <span>${{ prod.precio | number_format }}</span>
                                        <span>
                                            {{ qi.textoDB('mas_info') }}
                                            <img src="/images/blueCart.png" alt="ver más"/>
                                        </span>
                                    </a>
                                </div>
                            </article>
                        {% endif %}
                    {% endfor %}
                </section>
            </div>
        </div>
    {% endfor %}
    {% for item in productos %}
        {{ include('@Carroiridian/Default/modal_product.html.twig') }}
    {% endfor %}
{% endblock %}