{% set ruta = app.request.get('_route') %}
{% set params = app.request.attributes.get('_route_params')  %}
{% set params = params |slice(1) %}
{% set lc = app.request.locale %}
{% set categoria = app.request.get('categoria') %}

<img src="{{ qi.imagen('new_banner_1') }}" class="der"><img src="{{ qi.imagen('new_banner_2') }}" class="izq">