{% set ruta = app.request.get('_route') %}
{% set params = app.request.attributes.get('_route_params')  %}
{% set params = params |slice(1) %}
{% set lc = app.request.locale %}
{% set categoria = app.request.get('categoria') %}

<!-- HEADER --><div class="textos"><h2>NEWSLETTER</h2>
    <h3>Suscríbete y entérate<br>de las últimas novedades</h3></div>

<form id="newsletter_form">
<input type="email" placeholder="Dirección de correo electrónico">
    <input type="checkbox" checked id="acepta">
    <input type="submit" value="SUSCRIBIRME">
</form>