{% set ruta = app.request.get('_route') %}
{% set params = app.request.attributes.get('_route_params')  %}
{% set params = params |slice(1) %}
{% set lc = app.request.locale %}
{% set categoria = app.request.get('categoria') %}

<!-- HEADER -->
<img src="/images/hamburguesa.png" id="hamburguesa" class="toggle-button">
<a href="{{ path('homepage') }}" id="head-movil"><img src="/images/logo.png"></a>
<div class="triangulo-head"></div>

<div class="redes-soc">
    {% for item in qi.galeria('redes_sociales') %}
        <a href="{{ item.link }}" target="_blank"><img src="{{ item.imagen}}" alt="{{ item.alt }}"></a>
    {% endfor %}
</div>