{% extends 'lay_iridian.html.twig' %}


{% block content %}
    <div class="banner__reserva banner">
        <img src="{{ qi.imagen('banner-sost') }}" alt="" class="fondo">
        <h2>Sostenibilidad</h2>
        <a href="#scroll-menu" class="scroll">SCROLL DOWN<br><i class="fas fa-angle-down"></i></a>

    </div>
    <div class="sostenibilidad" id="scroll-menu">
        {#<div id="mapa-interact">#}
            {#<!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In  -->#}
            {#<svg version="1.1"#}
                 {#xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"#}
                 {#x="0px" y="0px" width="406.7px" height="502.1px" viewBox="0 0 406.7 502.1" style="enable-background:new 0 0 406.7 502.1;"#}
                 {#xml:space="preserve">#}
{#<style type="text/css">#}
    {#.st0{fill:#89A0B2;stroke:#FFFFFF;stroke-miterlimit:10;}#}
{#</style>#}
                {#<defs>#}
                {#</defs>#}
                {#<g>#}
                    {#<a href="#sost-Amazonas"><path id="#amazonas" class="st0" d="M319.7,410c-3.2,30.2-11.5,59.5-16.7,90.7c-3.3-5.3-5.9-9.5-10.2-12c-1.1-0.7-2.2-2.3-3.3-0.9#}
		{#c-3.4,4.1-7.4,0-10.8,1.8c-0.2-0.4-0.4-0.7-0.6-1.1c3.7-5.3,7.4-10.7,11.1-16c2.8-4,5.7-8.1,8.5-12.1c1.4-2,2.1-3.2-1.3-4.4#}
		{#c-3.1-1.2-5.8-3.6-9.1-4.5c-3.4-0.9-6.7-1.4-9.8-3.8c-4.7-3.8-9.5-3.4-14.4,1.1c-2.6,2.4-7.5,1.3-10.4-1.4#}
		{#c-2.5-2.4-5.9-1.2-8.4-2.9c-0.4-0.2-1.7,0.1-1.8,0.5c-1.5,4-5.8,3.9-8.3,5.8c-5.4,4.2-10.5,2-15.8,2.1c-0.9,0-1.7-0.9-2.7-0.1#}
		{#c-5.6,4-10.6-0.1-15.6-1.6c-1.5-0.5-2.7-2.1-0.8-3.8c2.9-2.7,1.3-5.8,0.1-8.4c-1-2.2-3.6-2.4-6.1-2.2c-5,0.4-5.8-1.5-6.7-6.5#}
		{#c-0.6-3.4-2.4-8.5-6.6-8.6c-5-0.1-7.8-3.7-11.8-5.2c-1.8-0.7-3.5-1.8-5.5-1.7c-1.6,0-2.5-0.5-2.6-2.2c-0.2-4-3.2-7.1-3.6-11.1#}
		{#c5-2.9,11-3,16-5.8c6.6-0.8,12.1,3.8,18.8,3.6c3-0.1,6.1,3,9.1-0.5c0.3-0.4,1.5,0.1,2.3,0.1c5.7-0.2,11.4,5.9,17.3,0.4#}
		{#c0.2-0.2,1.2,0.1,1.7,0.4c3.3,2,4.7,0,5.9-2.7c2.1-4.6,4.5-8.9,10.8-7.5c1.9,0.4,2.6-1.1,3.5-2.7c1.6-2.8,3.4-5.8,7.2-6#}
		{#c2.5-0.1,4.4-1.1,6.5-2.1c5.7-0.1,10.6,0.9,13.3,7c1.2,2.6,3.4,4.4,7,4c3-0.3,6.1,0.5,8.7,2.5c1.7,1.2,3.6,1.5,5.6,1.3l0.1,0.1#}
		{#c2,4.1,1.2,8.6,1.2,12.7c0,2.8,1.5,3.4,2.8,4.4c1.7,1.3,2.9,0.1,4-1.4c0.8-1.1,3-2.7,3.4-1c1.3,5.3,4.6,1.7,6.8,1.9#}
		{#c1,0.1,2.5-1,2.4,0.8c-0.2,4.4,2.7,2.1,4.5,2.4C318,413.5,317.4,409.8,319.7,410z"/></a>#}
                    {#<path class="st0" d="M313,190.8c3.7-0.4,8.1,1.9,10.6-2.9c0.1-0.2,0.9-0.1,1.4,0c9.5,1.3,19.3,2.3,28.4-0.4c5.4-1.6,10.9,0,16-2.2#}
		{#c2.5-1,5.5-1.2,6.5,1.4c0.9,2.3,4.7,4.8,0.4,8.1c-3,2.3-3.9,6-2.5,9.8c0.9,2.5-1,3.6-2.3,4.9c-2.2,2.1-3.6,3.8-2.5,7.7#}
		{#c1.2,4.1,0.1,9-0.3,13.5c-0.1,1.5-1,3.1,0.1,4.2c4.6,4.8,4.1,10.9,4.4,16.8c-3.2,4.2-7.7,4.7-12.4,3.8c-1.9-0.3-4.1-0.5-5.2,0.4#}
		{#c-5.5,4.2-11.4,6.4-18.3,7.7c-5.3,1-10.2,2.8-16,2.6c-3.5-0.2-9-2.8-11.4,3.1c-0.2,0.4-1.2,0.7-1.7,0.6c-2.7-0.5-4.4,1.1-5.9,2.7#}
		{#c-1.8,1.9-3.8,3.1-6.5,3.5c-1.4,0.2-3.9,0.3-3.2,2.7c0.7,2.4-0.1,3.2-2.1,3.9c-1,0.3-1.9,1.2-1.8,2.6c0.3,5.8-3.6,7.7-8.4,8.8#}
		{#c-0.7-2.5-2.8-2.9-3.6-0.9c-1.2,3.1-3.2,2.1-5,1.9c-3.1-0.4-6.1-1.3-9.1-1.9c-0.4-5.6-0.7-11.3-1.1-16.9c0-5.2,0-10.4,0-15.7#}
		{#c0.7-5.4-1.4-10.6-1-16c0-4.9,0.1-9.8,0.1-14.7c2.1-5.2,6.6-8.1,10.2-11.9c5.1-5.6,10.5-9.4,17.8-10.8c2-0.4,2.9-1.9,3.9-3.4#}
		{#c2.3-3.3,4.2-7,7.6-9.5c1.9,0,3.9,0.2,5.8,0C308.6,194.1,311.8,194.4,313,190.8z"/>#}
                    {#<path class="st0" d="M280.3,294.3c4.8-1.1,8.6-3,8.4-8.8c-0.1-1.4,0.9-2.3,1.8-2.6c2.1-0.7,2.8-1.6,2.1-3.9#}
		{#c-0.7-2.4,1.9-2.5,3.2-2.7c2.7-0.3,4.6-1.6,6.5-3.5c1.6-1.6,3.3-3.2,5.9-2.7c0.5,0.1,1.6-0.2,1.7-0.6c2.4-6,7.9-3.3,11.4-3.1#}
		{#c5.8,0.2,10.7-1.6,16-2.6c6.9-1.3,12.8-3.6,18.3-7.7c1.2-0.9,3.4-0.7,5.2-0.4c4.7,0.8,9.1,0.3,12.4-3.8c1.5,2.1,1.9,5.4,5.7,5.1#}
		{#c1.3-0.1,1,1.4,1,2.4c0.1,2.6,1.9,4.5,3,6.6c0.6,1.2,3.3,1.4,2.5,3.1c-0.8,1.7-2.3,3.5-3.9,4.2c-5.7,2.3-8.2,7.9-12.3,11.8#}
		{#c-1.9,1.8-0.4,2.2,1.4,2.5c7.5,1.2,18.3,11.6,22.1,17.7c3.4,5.5,3.9,12.1,8.2,17.2c2.6,3.1,2.9,8,4.9,11.9c0.6,1.1,0.4,3.7-0.1,4#}
		{#c-1.9,0.8-4.2,1.1-6.2,0.2c-1.6-0.7-1.4-2.3-1.4-3.9c0.2-5.9-2.5-10.9-6.1-15.2c-1.7-2.1-2.8-4.3-3.9-6.7c-1.9-4.2-4.6-4.9-8.1-1.9#}
		{#c-4.1,3.5-8.2,7-11.8,11.2c-1.7,2-2.6,0-3.2-1.1c-1.1-1.7-1.5-4.4-4.5-3.2c-2.1,0.8-2.1,3.2,0.2,7.2c-15.4-0.3-30.5,2.3-45.8,0.6#}
		{#c-3.8-0.4-7.4,0.7-10.8,2.4c-0.7-1.1-1.7-1.8-3.1-2c-6.4-1-7.6-2.7-7-9c0.2-1.2,0.8-2.1,1.7-2.9c0.9-0.8,2.8-1.2,2.1-2.9#}
		{#c-0.8-1.9-2.3-0.2-3.4-0.1c-7.3,0.6-15.3,3.5-19.6-5.9c-0.2-0.5-1-0.8-1.6-1c-4-1.4-2.6-2.6-0.1-4.4#}
		{#C275.4,298,278.5,296.9,280.3,294.3z"/>#}
                    {#<path class="st0" d="M60.9,139.9c1.1,1.5,1.1,4.3,4.2,3.4c2.8-0.8,2.7-3,2.4-5.1c-0.4-2.7-1.2-5.4-0.9-8.3c0.3-2.8-2.1-3.7-4.1-4.9#}
		{#c-1.9-1.2-2.1-3.3,0.2-3.3c5.8,0,8.6-4.7,13-6.8c0.9-0.4,1.8-0.7,2.7-1c0.1,3,1,5.6,4,6.8c4.5,1.9,3.4,5.7,1.3,7.5#}
		{#c-5.9,4.9-5.3,12.1-7.7,18.2c-1.7,4.4,2,12.1,5.4,13.3c8.5,3.1,18.2-1,21.7-9.4c0.4-1.1,0.7-2.9,1.7-2.7c5.7,1.1,6.8-4.4,10.3-6.5#}
		{#c2-1.2,2.4-4.4,5.7-4c4,0.5,7.3-1.1,10-4c2.3,1.3,4.4,3,6.8,3.9c4.6,1.7,2.2,6.5,4.5,9.2c1.3,1.5-1.4,1.8-1.8,2.9#}
		{#c-0.8,2.6-2.2,5.3,0.2,7.8c2.3,2.5,4-0.2,7.1-2.1c-2.1,4.1-2.1,6.9-1.1,9.8c1.5,4.5,3,5.2,6.9,2.3c2.9-2.1,5.5-4.7,8.2-7#}
		{#c-0.1,3.3,4.9,6.6,0.6,9.6c-4.1,2.8-6.5,7.3-11.1,9.5c-2.8,1.3-4.9,3.5-4.4,7.4c0.3,2.6-1.9,4-3.9,5.2c-1.7,1.5-3.8,3-1.8,5.6#}
		{#c1.3,1.7,0.6,3.1-0.2,4.5c-1.1,1.8-0.9,3.8-0.9,5.7c-2.2-0.4-3.7,2.3-5.4,1.8c-5.1-1.4-7.8,1.2-10.7,4.7c-2.9,3.5-6.9,3.6-7.7,0.4#}
		{#c-1-3.8-3.7-3.1-6.3-3.6c-4-0.8-1.2,2.3-2.1,3.3c-0.5,0.5-1.4,1.3-1.9,1.3c-2.5-0.4-4.2,1.8-6.4,2.1c-1.6,0-3.3,0-4.9,0l-0.1,0#}
		{#c-0.3-0.3-0.6-0.7-0.9-1c-4.3-4.9-1-13.2-7.7-16.9c-0.2-0.1-0.2-0.6-0.2-0.9c0.2-3.1-1.9-3-3.9-2.8c-2.6,0.2-5.2,0.7-7.8,1#}
		{#c-3.7,0.4-6.1-2.3-5.9-5c0.2-3.7-2-5.8-3.7-8.1c-2.1-2.9-4.6-5.3,0.9-7.1c1-0.3,1.5-1.2,1.5-2.3c-0.3-3.3,1.8-3.5,4.1-2.9#}
		{#c2.1,0.6,4.2,1.6,5.3-1.3c1-2.6,0.7-5.5-1.6-6.6c-5.7-2.9-9-8.4-14.2-11.9C54.7,147.3,54.9,144.8,60.9,139.9z"/>#}
                    {#<path class="st0" d="M103,310.5c-4.5-1.6-6.9,3.9-11.3,2.8c-3.1-0.8-5.1,2-4.4,5.3c0.8,3.3-0.8,5.1-3.9,4.2#}
		{#c-1.5-0.5-3.8-1.9-4.3-0.1c-0.6,2-0.3,4.9,2.1,6.4c1.3,0.8,3.4,1.2,3.4,2.6c-0.2,6.3,5.6,5.6,8.8,8c-3.5,5.9-0.5,10,3.9,13.8#}
		{#c-3.6,4.5-8.3,2.3-12.4,1.6c-3.6-0.6-2.2-4.1-2.4-6.5c-0.2-1.8-0.2-3.8-2.1-4.6c-2-0.8-3.8-0.3-5,1.8c-0.5,1-1.6,0.9-2.6,1#}
		{#c-0.1-1.1-0.5-2.5-0.1-3.4c2-4.6-0.6-6-4.3-7.3c-3-1.1-5.8,0-8.7,0c-1.3,0-2.8,0.3-3.5-0.9c-0.8-1.4-1.1-3.8,0-4.6#}
		{#c2.6-2.1,2-3.3-0.4-4.7c-0.8-0.4-1.1-1.2-1.1-2.1c0.1-3.8-2-3.6-4.8-3c-2.4,0.5-5.3,0.9-7-1c-3.9-4.3-8.2-8.3-11.1-13.5#}
		{#c2.2-1.6,5.1-2.1,7-4.6c1.4-2,5.2-2.7,2.5-6.3c-0.8-1,0.4-1.5,1-1.8c2.4-1,3.1-3.3,4.1-5.3c1.5,0.4,2.6-1.2,4.5,0.1#}
		{#c8.4,5.7,17.6,5.8,27,2.7c1.1-0.4,1.8-1.1,1.9-2c0.4-3.4,1.7-4.1,5.2-3.4c2.1,0.4,4.3,0,6.2,1.5c0.6,0.5,1.2,0.7,1.7,0.7l2.5,2.6#}
		{#c0.2,1.6,1.7,4.9,2.8,7c0,0.4,0.1,0.9,0.2,1.4c0.7,3.1,2.7,5.6,4.2,8.3C103.5,308.3,104,310.9,103,310.5z"/>#}
                    {#<path class="st0" d="M145.7,268.4c-3.4,3.1-7,5.9-8,10.9c-0.3,1.6-1.8,3.1-2.9,4.5c-1.1,1.5-2.8,1.7-4.5,1.4#}
		{#c-1.9-0.3-2.4-1.4-1.7-3.2c0.4-1.1-0.7-1.9-1.2-1.5c-3.3,2.3-7.4,0.4-10.9,2.4c-3.1,1.8-4.4,5-6.8,7.1c-2.6,2.3-6,3.7-9.3,5#}
		{#c-0.1,0.1-0.3,0.1-0.4,0.2c-1.2,0.6-1.6,1.3-1.5,2.3c-1.2-2.1-2.6-5.3-2.8-7l-2.5-2.6c0.3,0,0.5-0.1,0.7-0.2c0.4-0.3,0.7-0.7,1-1.4#}
		{#c0.6-1.5,1.1-3,1.5-4.6c1.9-6.4,0.3-14.4,8.5-17.9c1.1-0.4,0.5-2.2,0.9-3.1c2.5-5.9,2.2-13.4,9-17.1c1.1-0.6,1.7-1.6,0.5-2.8#}
		{#c0.3-1.5,0.7-3,1-4.5c1.3-1.9,0.5-4.1,0.7-6.2c0.1-1.1-0.3-2.6,1.3-2.8c6.1-0.8,10.2-8.1,17.4-5.2c1.4,1.9,1.4,4.1,1.1,6.1#}
		{#c-0.8,6.5-1.7,12.9-2.4,19.4c-0.6,5.7,1.7,8.6,7.5,7.6c3.1-0.6,4.4,0.9,3.6,3.4C144.5,261.9,146,265.1,145.7,268.4z"/>#}
                    {#<a href="sost-Vaupés">  <path id="vaupes" class="st0" d="M293.9,316.9c-0.6,6.3,0.7,7.9,7.1,9c1.4,0.2,2.4,0.9,3.1,2c0,5.3,0,10.5,0,15.8c0,1.6-0.1,2.7,2.4,2.1#}
		{#c4.8-1.1,9.6,0.7,14.5,0.4c4.2-0.3,7.8,8.3,5.3,11.8c-0.9,1.2-2.5,1.6-4.4,0.8c-5-2.3-9.9-1.1-14.4,1.6c-0.6,0.3-1.2,0.6-1.8,0.8#}
		{#c-7,1.7-7,1.7-7,8.9c0,1,0,2,0,3c0.2,15.4-1.6,11.8,11,17.9c3,1.5,4.2,4.2,3.6,6c-1.6,4.6,1.8,6.6,3.9,9c1.2,1.3,1.8,2.6,2.4,4.1#}
		{#c-2.2-0.2-1.7,3.5-4.4,3c-1.9-0.3-4.7,2-4.5-2.4c0.1-1.8-1.4-0.7-2.4-0.8c-2.3-0.1-5.5,3.4-6.8-1.9c-0.4-1.7-2.6,0-3.4,1#}
		{#c-1.1,1.5-2.3,2.7-4,1.4c-1.3-1-2.8-1.6-2.8-4.4c0-4.2,0.8-8.7-1.2-12.7c0.4-0.2,0.9-0.3,1.3-0.5c-0.1-0.1-0.3-0.4-0.3-0.4#}
		{#c-0.4,0.2-0.7,0.5-1.1,0.7c-2,0.2-3.9-0.1-5.6-1.3c-2.6-2-5.7-2.8-8.7-2.5c-3.6,0.4-5.9-1.4-7-4c-2.7-6-7.6-7.1-13.3-7#}
		{#c0-2.2-1.6-1.9-3.1-2.1c-2.9-0.3-5.9-0.5-8.3-2.3c-4.7-3.6-8.6-7.9-12.6-12.2c4.1-2.7,7.1-6.5,10.7-9.7c4.6-4.2,8.9-12.6,7.1-18.8#}
		{#c-0.4-1.3-2.1-2.7-0.3-3.9c1.4-0.9,3.2-0.8,4.6,0.3c2.2,1.7,3.2,0.6,5.2-0.9c4-2.9,8.2-6.6,13.5-6.7C280,322,286.8,319,293.9,316.9#}
		{#z"/></a>#}
                    {#<path class="st0" d="M60.9,139.9c-6,4.9-6.3,7.4-0.5,11.3c5.2,3.4,8.5,9,14.2,11.9c2.3,1.1,2.6,4.1,1.6,6.6#}
		{#c-1.1,2.9-3.2,1.9-5.3,1.3c-2.3-0.6-4.4-0.4-4.1,2.9c0.1,1.1-0.5,2-1.5,2.3c-5.5,1.8-3,4.2-0.9,7.1c1.7,2.3,3.9,4.4,3.7,8.1#}
		{#c-0.1,2.7,2.3,5.4,5.9,5c2.6-0.3,5.2-0.7,7.8-1c2-0.2,4.2-0.3,3.9,2.8c0,0.3,0,0.8,0.2,0.9c6.8,3.7,3.5,12,7.7,16.9#}
		{#c0.3,0.3,0.6,0.7,0.9,1l0.1,0c-2.6,2.2-6.2,2.6-8.6,5.1c-1.5,1.6-2.2,2.5-0.5,4.7c1.8,2.2,3.7,4.8,3.9,8c-1.4,1.5-2.6,3.1-4.4,4.4#}
		{#c-4.4,3.1-5.9,8.4-8,13c-1.1,2.5,2.6,4.5,4.3,7.1c-3,0.2-3.7,3.3-6.4,4.2c-6.2,2.2-10.7-2-15.8-3.5c-2.7-0.8-5.1-2.1-7.8-0.5#}
		{#c-1.8,1-3.7,1.1-5.7,1.1c-0.4-1.4-1.1-3.3,0.3-4.1c7.9-4.2,5.7-11.4,4.6-17.5c-0.9-4.5-1.2-9-2.4-13.4c-0.7-2.6-0.3-5.7-3.8-6.7#}
		{#c-0.7-0.2-1-0.8-0.7-1.5c0.3-0.8,1-1.1,1.9-1.4c6.7-1.8,7.7-4.2,4.8-10.4c-1.2-2.5-2-5.1-4.2-7.1c-1.8-1.7-1.2-3.6,0.4-5.6#}
		{#c2.4-2.8,2.2-6,0.7-9.3c-0.6-1.3-1.5-2.7-2.9-1.9c-1.7,1-1.5-0.2-2.5-0.9c-5.1-3.4-3.7-11.3-10.1-13.7c-3-1.1-1-3.9-0.3-6#}
		{#c0.6-1.7,2.9-2.3,3.1-3.7c0.6-3.9,1.1-6.3,5-2.1c1.2,1.3,2.2-0.3,3.1-1.3c2.8-3.2,5-6.7,8.4-9.5c3-2.5,0.7-6.8-1.4-9.2#}
		{#c-2.3-2.5-2.4-6.1-5-8.3c-1.1-0.9-0.5-2.5,0.7-3.4c1.4-1.1,2.3-0.2,3.4,0.7c3.3,2.8,6.6,5.5,9.9,8.3#}
		{#C60.8,134.6,60.1,137.5,60.9,139.9z"/>#}
                    {#<a href="#sost-Nariño"> <path id="#nariño" class="st0" d="M66.4,360.5c0.4,1.8,3.4,5.4-1.7,6.4c-1.2,0.2-0.1,1.7,0,2.6c0.3,1.9,1.4,3.7,1,5.7c-5.6,0.3-10.6,0.6-14-6#}
		{#c-1.9-3.6-6.6-6.4-11.7-6.2c-3.2,0.1-5.9-1.2-8.7-2.9c-5.6-3.5-10.8-7.6-17.1-10.1c-5.1-2-8.4-6.7-12.7-9.8c-1-0.7-1.4-2-0.6-3.1#}
		{#c1.5-1.9,3-4.1,5.8-4.2c2,0,4,0.1,5.9,0.4c3.6,0.6,3.1-1.4,2.3-3.4c-0.4-1-1.2-2-2-2.8c-5.6-5.3-2.2-11.7,3.1-16.2#}
		{#c4.8-4.1,10.2-5,16.1-4.6c2.9,5.1,7.2,9.1,11.1,13.5c1.7,1.9,4.7,1.5,7,1c2.8-0.6,4.9-0.8,4.8,3c0,0.9,0.3,1.6,1.1,2.1#}
		{#c2.4,1.4,3,2.6,0.4,4.7c-1.1,0.9-0.9,3.2,0,4.6c0.7,1.2,2.1,0.9,3.5,0.9c2.9,0,5.7-1.1,8.7,0c3.7,1.3,6.3,2.7,4.3,7.3#}
		{#c-0.4,0.9,0,2.3,0.1,3.4C63.9,350.1,64.1,350,66.4,360.5z"/></a>#}
                    {#<a href="#sost-Bolívar"><path id="bolivar" class="st0" d="M161.6,159.9c-2.7,2.4-5.3,4.9-8.2,7c-3.9,2.9-5.3,2.2-6.9-2.3c-1-3-0.9-5.7,1.1-9.8c-3,1.9-4.7,4.6-7.1,2.1#}
		{#c-2.4-2.5-0.9-5.2-0.2-7.8c0.3-1.1,3.1-1.4,1.8-2.9c-2.4-2.7,0-7.5-4.5-9.2c-2.4-0.9-4.6-2.6-6.8-3.9c1.1-1.2,2.1-2.5,3.2-3.7#}
		{#c4.7-1.2,6.4-4.2,4.9-8.5c-0.6-1.6-2.5-3.3-1.6-4.9c3.2-5.5-0.8-7.3-4.4-9.2c-3.7-1.9-5.7-4.9-5.9-8.8c-0.1-2.4-0.9-4.3-2.8-5.4#}
		{#c-4-2.2-7.4-6.2-12.8-4.3c0.6-3.9,0.6-4-2.5-7.2c-1.1-1.1-0.7-2.4-0.9-3.7c2-1.5,0.3-2.4-0.4-3.5c-3.4-5.6-2.1-13.1,2.8-16#}
		{#c0.8-0.5,1.8-0.5,2.8-0.7c0.6,4.1,2.7,7.4,6.2,9.4c2.1,1.2,5,0.8,6.9,2.8c-0.3,2.3-0.8,4.6,2.1,5.9c0.9,0.4,1.8,1.4,1.5,2.3#}
		{#c-1.9,4.9,1.5,9.3,1.2,14c-0.1,1,0.1,1.9,1.3,2.4c4.1,1.7,6.7,6.3,11.9,5.9c1-0.1,2.5,0.5,3,1.3c3.8,5.8,9.7,5.5,15.4,5.5#}
		{#c-0.1,4.1,2,7.7,2.6,11.7c0.9,5.3,1,10.6,1.3,15.9c-5.3-0.2-2.9,3.6-2.5,5.7c0.7,3.2,2.5,6.1,0.4,9.4#}
		{#C162.6,152.4,162.3,156.2,161.6,159.9z"/></a>#}

                    {#<a href="#sost-Córdoba"><path id="cordoba" class="st0" d="M134.1,129.3c-1.1,1.3-2.1,2.5-3.2,3.7c-2.7,2.9-6.1,4.5-10,4c-3.3-0.4-3.7,2.8-5.7,4#}
		{#c-3.4,2.1-4.6,7.6-10.3,6.5c-1-0.2-1.3,1.6-1.7,2.7c-3.6,8.4-13.2,12.5-21.7,9.4c-3.3-1.2-7.1-8.9-5.4-13.3#}
		{#c2.4-6.1,1.8-13.3,7.7-18.2c2.1-1.8,3.2-5.6-1.3-7.5c-3-1.3-3.8-3.9-4-6.8c3.4-4.9,6.5-10.1,10.4-14.6c3.2-3.6,8.1-2.9,12.6-2.6#}
		{#c0,2.2,1.7,2.4,3.2,3.1c3.8,1.9,7.3,4.3,11.1,6.4c1.7,1,2.2,2.6,2.2,4.1c0,2-1.8,2-3.3,2.1c-1.9,0.1-2,1-1.5,2.6#}
		{#c0.6,1.9,0.4,4.2,1.4,5.7c1.6,2.3,3.2,5.9,6.9,4.9C127.9,123.6,129.2,123.7,134.1,129.3z"/>#}
                    {#</a>#}
                    {#<path class="st0" d="M313,190.8c-1.2,3.6-4.4,3.3-7.1,3.6c-1.9,0.2-3.9,0-5.8,0c-3-2.7-6.8-4.1-10.2-6.1c-2.6-1.6-6.9-3-10.2-1.1#}
		{#c-3.5,1.9-7,1.3-10.6,1.8c-6.9,0.8-13.8-2-20.8,0.5c-6,2.1-12.7,0.4-18.7,3c-5,2.2-9.9,3.7-13.9-1.8c-0.1-0.2-0.9,0.1-1.4,0.2#}
		{#c-0.1-3.4,2.8-4.6,4.8-6.4c1.2-1.1,3.3-1.6,3.5-3.2c0.6-5.7,4.2-10.3,5.5-15.7c9.9-2.1,19.7-0.9,29.5,0.3c0.9,0.1,2.1,0.1,2.8-0.3#}
		{#c6.9-4.2,13.7-2.6,20.6,0c0.8,0.3,1.7,0.9,2.3,0.6c6-2.8,8.6,2,11.7,5.3C301,177.8,307,184.3,313,190.8z"/>#}
                    {#<a href="#sost-Putumayo">  <path id="putumayo" class="st0" d="M172.5,395.2c-5,2.8-11,2.9-16,5.8c-2.9-1.8-6.4-3.1-8.5-5.6c-3.7-4.5-9.5-3.9-13.6-7c-2-1.5-4.3-1.8-6.6-1.3#}
		{#c-4.5,1-8.4-0.3-12-2.7c-1.2-0.8-2.2-1.3-3.6-1.2c-4.1,0.2-7.2-1.8-9.9-4.5c-1.8-1.7-3.4-3.6-5.8-4.3c-3.3-1-7.2-3.9-8.3,2.7#}
		{#c-0.4,2.1-3.8,0.4-4.9,2.5c-4.5-4-10.6,0.5-15.2-2.8c-0.8-0.5-1.5-1.2-2.3-1.7c0.4-2-0.8-3.8-1-5.7c-0.1-0.9-1.2-2.3,0-2.6#}
		{#c5-1,2.1-4.6,1.7-6.4c-2.3-10.4-2.5-10.4,6.5-13.8c1-0.1,2.1,0,2.6-1c1.2-2.1,3-2.6,5-1.8c1.9,0.8,1.9,2.8,2.1,4.6#}
		{#c0.3,2.4-1.2,5.9,2.4,6.5c4.2,0.7,8.8,2.9,12.4-1.6c2,0.6,4.7-0.8,6,2.2c1.3,3.2,4.3,3.6,7.3,3.6c4.6,0,9.2,1.9,13.1,3.5#}
		{#c3.6,1.4,5,7.9,10.6,8.6c0.2,0,0.5,0.6,0.4,0.8c-1,5.9,3.5,5.4,7,5.9c2.4,0.4,3.8,1,3.8,3.9c0.1,4.2,2.8,6.3,6.9,5.6#}
		{#c1.8-0.3,3.7-0.8,5.2,0.4C162,391.8,167.5,392.9,172.5,395.2z"/></a>#}
                    {#<path class="st0" d="M228,165.4c-1.3,5.4-4.8,10-5.5,15.7c-0.2,1.7-2.4,2.1-3.5,3.2c-1.9,1.9-4.8,3.1-4.8,6.4#}
		{#c-0.3,2.6,2.1,5.1,0.7,7.6c-1.7,3.1-1,4.3,2.3,5.4c3.8,1.3,1.1,4.3,0.9,6.6c-0.1,0.9,0.1,2.6-1.2,1.9c-3.6-2.1-4.1,1.1-5.5,2.8#}
		{#c-2.2,2.7-4.6,4.6-8.4,3.9c-3.8-0.7-6.3,1.7-5.5,5.5c0.3,1.5,1.2,3.1-0.3,4c-3.8,2.2-3.3,5.9-3.7,9.3c-0.1,0.3-0.1,0.7-0.2,1#}
		{#c-4.2,1.9-6.9-1-9.3-3.4c-1.8-1.8-3.2-3.6-6.7-3.7c2.6-2.6,2-4.8,1.2-7.3c-1-3.1-4.1-4.8-5-8.2c-0.5-2.1-7.6-2.8-8.7-1.3#}
		{#c-1.3,1.9-3.4,4.1-5.1,2.9c-2.9-2.1-8.4-2-8.2-6.6c0.3-6.6-3.1-5.8-7.2-4.8c-1.3,0.3-2.5,0.6-3.8,0.9c-0.2,0-0.4,0-0.6-0.1#}
		{#c0-1.9-0.2-3.9,0.9-5.7c0.8-1.4,1.6-2.8,0.2-4.5c-2-2.6,0-4.1,1.8-5.6c2.3,2.3,2.8,7.7,8.2,5.2c0.2-0.1,1.1,0.6,1,0.8#}
		{#c-1.3,5.4,3.7,5,6.2,6.5c3.3,2,6.7,5.2,11.1,1.6c0.7-0.6,2.4,0.2,4,0.3c0.1-1.8,0-3.6,0.3-5.4c0.4-1.9,1.8-3.1,3.9-3.1#}
		{#c1.2,0,2.8-0.6,3.6,0.9c0.8,1.5,0.1,2.8-1,4c-0.6,0.6-1.9,1.3-0.6,2.3c1.1,0.9,1.6-0.5,2.3-1c3.2-2.5,6.4-4.6,10.6-5.5#}
		{#c5.6-1.1,10.9-10.4,9.1-14.6c-0.3-0.8-1.7-1.5-0.6-2.5c1.1-0.9,2.2-0.2,2.9,0.8c2.4,3.6,3.4,1.2,4.7-1c2.2-3.5,1.6-7.3,1.5-11#}
		{#c1.5,0.3,3.5,1.8,4.5,0.2c2.5-4,6.7-3.9,10.5-4.9C225.9,165.3,226.9,165.3,228,165.4z"/>#}
                    {#<path class="st0" d="M115,243.6c-6.8,3.7-6.5,11.2-9,17.1c-0.4,1,0.1,2.7-0.9,3.1c-8.2,3.4-6.7,11.5-8.5,17.9#}
		{#c-0.5,1.6-0.9,3.1-1.5,4.6c-0.3,0.7-0.6,1.2-1,1.4c-0.2,0.1-0.5,0.2-0.7,0.2c-0.5,0-1.1-0.2-1.7-0.7c-1.9-1.5-4.1-1.1-6.2-1.5#}
		{#c-3.5-0.7-4.8,0-5.2,3.4c-0.1,0.9-0.8,1.7-1.9,2c-9.4,3.1-18.6,3-27-2.7c-1.9-1.3-3.1,0.3-4.5-0.1c1.7-3.8,4.9-6.7,7.6-9.5#}
		{#c3.2-3.3,3.3-7.9,6.6-10.1c-1.3-3.5-9.4,4.7-6.4-5.3c-4.1,2.6-7.2,2-8.8-2.8c2,0,3.9-0.1,5.7-1.1c2.8-1.5,5.1-0.2,7.8,0.6#}
		{#c5.1,1.5,9.7,5.7,15.8,3.5c2.7-1,3.4-4,6.4-4.2c-1.7-2.6-5.5-4.6-4.3-7.1c2.1-4.6,3.6-9.9,8-13c1.8-1.3,3-2.9,4.4-4.4#}
		{#c4.7-3.6,5.3,1.9,7.5,3.5c2.9,2.1,4.6,7.5,9.6,2.9c0.8-0.7,1.8-0.4,2.8,0c2.1,1,4.1,0.5,6.1-0.5C116.7,242,116,243.1,115,243.6z"/>#}

                    {#<a href="#sost-Cesar"></a><path id="cesar" class="st0" d="M166.6,134.1c-0.3-5.3-0.4-10.5-1.3-15.9c-0.7-4-2.8-7.6-2.6-11.7c-0.5-4.7-5-7.5-5.9-12#}
		{#c0-0.1-0.2-0.2-0.4-0.3c-1.2-0.9-4.1-0.4-2.7-3.4c1-2.1,2.5-1.8,4.5-1.6c1.7,0.2,4.3,0.3,5.1-1.7c0.6-1.7-0.9-3.4-2.1-4.7#}
		{#c-1.4-1.4-2.8-2.7-4.2-4.1c-3.9-4.1-3.9-6.4-0.5-11.1c1.7-2.3,3.8-3.5,6.4-4.2c4.6-1.1,6-4,6.1-8.5c0-1.7-3.4-1.8-1.2-3.8#}
		{#c2.3,0.3,4.5-0.4,6.7-0.8c1.5-0.3,4.4-0.7,4.4,0.6c-0.1,3.4,2.5,3.1,4.2,4c2.3,1.3,3.1,2.4,1.4,4.9c-1.7,2.4-0.9,3.6,2.2,3.3#}
		{#c2.7-0.3,5.5,0,8.3,0c-2.5,5.5-4.7,10.9-3.5,17.3c0.4,1.9-1.4,5.2-3.2,6.4c-5.1,3.4-6.4,8.9-8.7,13.8c-2.8,0.1-2.8,2-2.9,4.1#}
		{#c-0.2,2.9,1.1,6.2-0.6,8.7c-3.5,4.9-1.4,9,0.7,13.4c1.4-0.6,1.2-2.6,2.8-2.8c0.7,1.7-0.1,3.1-0.5,4.7c-0.5,1.9-1.1,4.3,0.4,5.6#}
		{#c3.4,2.9,1.7,6,0.5,8.8c-1.3,3.2-4.5,2.8-7.3,2.9c-1.6-1.6-6.7-0.5-5.3-3.3C168.9,139,166.9,136.9,166.6,134.1z"/>#}

                    {#<path class="st0" d="M172.4,145.9c2.8-0.1,6,0.3,7.3-2.9c1.2-2.8,2.9-5.9-0.5-8.8c-1.5-1.3-1-3.7-0.4-5.6c0.4-1.6,1.2-3,0.5-4.7#}
		{#c-1.6,0.2-1.3,2.2-2.8,2.8c-2.1-4.4-4.2-8.5-0.7-13.4c1.7-2.5,0.5-5.8,0.6-8.7c0.1-2.1,0.1-4,2.9-4.1c3.4,1.9,6-0.4,8.3-2.1#}
		{#c2.5-2,4-0.9,4,1.2c0.1,3.1,0.8,3.1,3.4,2.2c2-0.7,3.8,0.4,4.4,2.8c0.3,1.1,0.6,2.2,0.7,3.4c0.8,6.1,3.4,11,8.7,14.6#}
		{#c6.4,4.2,4.6,7.4,2.4,12.7c-2.1,5-1.1,9.9-0.9,14.9c0.1,1.5,1.6,3.8,3.4,3.7c4.4-0.4,6.3,1.6,7.5,5.5c0.6,2.1,2.4,3.9,3.6,5.8#}
		{#c-3.8,1-7.9,0.8-10.5,4.9c-1,1.6-3,0.1-4.5-0.2c-2.5-0.6-4.2-2.6-7.4-2.7c-5-0.2-5-5.3-5.3-9.3c-0.5-6.3-8.2-12.2-12.7-9.7#}
		{#C178.8,151.4,176.8,151,172.4,145.9z"/>#}
                    {#<a href="#sost-Magdalena"><path id="magdalena" class="st0" d="M167.7,51.1c-2.1,1.9,1.3,2,1.2,3.8c-0.1,4.5-1.6,7.4-6.1,8.5c-2.6,0.6-4.7,1.8-6.4,4.2#}
		{#c-3.4,4.7-3.4,7.1,0.5,11.1c1.4,1.4,2.8,2.7,4.2,4.1c1.3,1.3,2.8,3,2.1,4.7c-0.8,2-3.4,1.9-5.1,1.7c-2-0.2-3.5-0.6-4.5,1.6#}
		{#c-1.4,3,1.5,2.5,2.7,3.4c0.1,0.1,0.3,0.2,0.4,0.3c0.9,4.5,5.4,7.3,5.9,12c-5.8-0.1-11.7,0.3-15.4-5.5c-0.5-0.8-2-1.4-3-1.3#}
		{#c-5.2,0.4-7.8-4.2-11.9-5.9c-1.1-0.5-1.3-1.4-1.3-2.4c0.3-4.7-3.1-9.1-1.2-14c0.4-0.9-0.6-1.9-1.5-2.3c-2.8-1.3-2.4-3.5-2.1-5.9#}
		{#c1.4-1,1.7-2.7,2.5-4.1c2.9-5.1,2.4-10.7,2.7-16.2c1.9-2.3,4.4-1.9,6.8-1.4c2.4,0.5,4.8,0.8,7.3,0.2c2.3-0.5,3.1-1.3,2.9-4#}
		{#c-0.5-5.3,1.9-7.3,7.1-6.1c4.4,1,8.7,1.6,13.2,0.8C166.3,42.5,165.4,46.7,167.7,51.1z"/>#}
                    {#</a>#}
                    {#<a href="#sost-Guajira"><path id="guajira" class="st0" d="M167.7,51.1c-2.3-4.5-1.4-8.6,1-12.7c9.6,0.3,16.1-5.8,22.8-11.4c2.3-1.9,5.2-3.2,8.1-3.4#}
		{#c8.3-0.7,13.8-4.4,15.4-12.9c0.4-2.3,2-2.5,3.6-1.3c2.4,1.6,3.5,2.4,4.5-1.6c0.6-2.3,3.3-4.5,5-6.6c1.3-1.6,4.2,0.4,6.4,1.1#}
		{#c5,1.6,9.5,3.7,12,8.7c0.9,1.7,1,2.8-0.7,4.2c-5.4,4.7-11.4,8.1-18.5,9.3c-4,0.7-6.7,2.3-8.7,6.1c-2.7,5.1-5.2,10.4-11.6,12.6#}
		{#c-3.2,1.1-4.6,5-5.9,8.2c-1.7,4.2-4,8-6.4,11.9c-2.8,0-5.6-0.3-8.3,0c-3.1,0.3-3.9-0.9-2.2-3.3c1.8-2.5,0.9-3.7-1.4-4.9#}
		{#c-1.7-0.9-4.2-0.6-4.2-4c0-1.3-2.9-0.9-4.4-0.6C172.2,50.7,170,51.4,167.7,51.1z"/>#}
                    {#</a>#}
                    {#<a href="#sost-Sucre"><path id="sucre" class="st0" d="M134.1,129.3c-4.9-5.6-6.2-5.7-12.8-3.7c-3.7,1.1-5.3-2.5-6.9-4.9c-1-1.5-0.8-3.8-1.4-5.7#}
		{#c-0.5-1.6-0.4-2.5,1.5-2.6c1.5-0.1,3.3-0.1,3.3-2.1c0-1.6-0.5-3.2-2.2-4.1c-3.7-2.1-7.3-4.5-11.1-6.4c-1.5-0.8-3.2-1-3.2-3.1#}
		{#c4.3-2.1,5.3-4.9,1.9-8.7c-0.8-0.9,0.6-11.4,1.5-11.9c1.5-0.8,1.9,1.6,3.4,1.2c0.2,1.3-0.1,2.6,0.9,3.7c3.1,3.2,3.1,3.2,2.5,7.2#}
		{#c5.4-1.8,8.8,2.1,12.8,4.3c1.9,1,2.7,2.9,2.8,5.4c0.2,3.9,2.2,6.9,5.9,8.8c3.6,1.9,7.6,3.7,4.4,9.2c-0.9,1.6,1,3.3,1.6,4.9#}
		{#C140.5,125.1,138.8,128.1,134.1,129.3z"/></a>#}

                    {#<a href="#sost-Atlántico"> <path id="atlantico" class="st0" d="M131.5,48.9c-0.2,5.5,0.3,11.1-2.7,16.2c-0.8,1.4-1,3.1-2.5,4.1c-1.9-2-4.8-1.6-6.9-2.8#}
		{#c-3.5-2-5.6-5.3-6.2-9.4c0.5-1.9,0.9-3.7,3.5-4c2.3-0.3,3.9-2.2,5.6-3.7C125.4,46.6,128.3,46.1,131.5,48.9z"/>#}
                    {#</a>#}
                    {#<a href="sost-Caquetá"><path id="caqueta" class="st0" d="M255.5,378.3c-2.1,1-4,2-6.5,2.1c-3.7,0.1-5.6,3.1-7.2,5.9c-0.9,1.6-1.5,3.1-3.5,2.7#}
		{#c-6.4-1.4-8.8,2.9-10.9,7.5c-1.2,2.7-2.6,4.7-6,2.7c-0.5-0.3-1.5-0.7-1.7-0.4c-5.9,5.5-11.5-0.5-17.3-0.4c-0.8,0-2-0.5-2.3-0.1#}
		{#c-3,3.6-6.1,0.5-9.1,0.5c-6.7,0.2-12.2-4.4-18.8-3.6c-4.9-2.4-10.5-3.5-14.8-7.2c-1.4-1.2-3.3-0.7-5.2-0.4#}
		{#c-4.1,0.7-6.9-1.4-6.9-5.6c-0.1-3-1.5-3.6-3.8-3.9c-3.5-0.5-8,0-7-5.9c0-0.3-0.2-0.8-0.4-0.8c-5.6-0.7-7-7.2-10.6-8.6#}
		{#c-3.9-1.5-8.4-3.5-13.1-3.5c-3,0-6-0.4-7.3-3.6c-1.3-3-3.9-1.6-6-2.2c-4.4-3.7-7.4-7.8-3.9-13.8c6.6,0.9,10.4-2.5,13-8#}
		{#c0.4-0.9,1.1-1.6,1.8-2.3c5.5-6.2,11.7-11.9,14.9-19.8c0.6-1.5,1.5-1.1,2.8-1.1c3.4,0.1,6.9-3,5.6-4.9c-2.2-3.3-0.1-5.1,1.4-7.3#}
		{#c0.7,0,1.3-0.1,2-0.1c8.2,0.1,10.4,3.4,7.6,11c-0.2,0.6-0.3,1.3-0.2,1.9c1.1,4.9,2,9.8,3.3,14.7c1.1,3.8,3.7,6.1,7.9,6.1#}
		{#c2.7,0,5,0.8,7.2,2.5c3.4,2.4,7,4.6,11.8,2.7c1.4-0.6,3.2-0.7,4.5,0.3c0.2,0.1,0.3,0.2,0.4,0.4c0.4,0.4,0.7,0.8,0.9,1.4v0#}
		{#c2.3,3.6,5.9,6.1,7.7,10.3c1.8,4.1,6.8,5.3,10.4,7.9c1.4,1,2.6-0.2,3.8-1.3c2.3-2,3.5-4.9,5.5-6.9c1.1-1.1,12.3,2.4,13.2,4#}
		{#c2.9,5.1,6.3,9.4,12.4,10.7c0.5,0.5,1,1.1,1.5,1.6c3.5,3.8,7,7.5,11.1,10.6c2.4,1.8,5.4,2,8.3,2.3#}
		{#C253.9,376.4,255.5,376.1,255.5,378.3z"/></a>#}
                    {#<path class="st0" d="M178.4,311.2c8.4,1.7,16.1,0.9,22.3-5.9c0.3-0.4,0.8-0.9,1.1-0.9c8.3,1.2,13.5-6.2,21-7.9#}
		{#c3.2-0.7,5.9-0.3,8.8-0.4c3.4,0,6.3-2.4,10-1.2c1.9,0.6,4.4-0.5,6.6-1.1c4.7-1.2,9.5-0.6,14.2-0.6c3,0.7,6.1,1.5,9.1,1.9#}
		{#c1.8,0.3,3.8,1.3,5-1.9c0.8-2,2.9-1.6,3.6,0.9c-1.8,2.7-4.9,3.7-7.4,5.5c-2.4,1.8-3.9,3,0.1,4.4c0.6,0.2,1.4,0.5,1.6,1#}
		{#c4.3,9.4,12.3,6.5,19.6,5.9c1.1-0.1,2.6-1.8,3.4,0.1c0.7,1.6-1.3,2-2.1,2.9c-0.8,0.8-1.5,1.7-1.7,2.9c-7.1,2.1-13.9,5-21.6,5.1#}
		{#c-5.3,0.1-9.4,3.8-13.5,6.7c-2,1.5-3,2.6-5.2,0.9c-1.4-1.1-3.2-1.2-4.6-0.3c-1.8,1.2-0.1,2.6,0.3,3.9c1.8,6.2-2.5,14.6-7.1,18.8#}
		{#c-3.5,3.2-6.6,7-10.7,9.7c-6.1-1.3-9.6-5.6-12.4-10.7c-0.9-1.7-12.1-5.2-13.2-4c-2,2.1-3.2,4.9-5.5,6.9c-1.2,1.1-2.4,2.3-3.8,1.3#}
		{#c-3.6-2.6-8.6-3.8-10.4-7.9c-1.8-4.2-5.5-6.7-7.7-10.3c0-1,0-2.1,0-3.1C178.4,326.3,178.4,318.8,178.4,311.2z"/>#}
                    {#<a href="#sost-Casanare"><path id="casanare" class="st0 active" d="M258.3,230.9c-4.6,2-9.3,4-13.8,6.2c-4.1,2.1-9.2,3.2-11.9,7.6c-1.6,2.6-3.7,3.5-6.5,1.7#}
		{#c-2.2-1.4-4.7-0.9-6.4,0.6c-4.1,3.6-9.4,1.5-13.8,3.3c-0.7,0.3-1.2-0.1-1.7-0.6c-3.6-4-7.2-8-10.8-12c0.4-3.4-0.1-7.1,3.7-9.3#}
		{#c1.6-0.9,0.6-2.5,0.3-4c-0.7-3.8,1.7-6.2,5.5-5.5c3.8,0.7,6.2-1.2,8.4-3.9c1.4-1.7,1.9-4.9,5.5-2.8c1.3,0.8,1.1-1,1.2-1.9#}
		{#c0.2-2.3,2.8-5.3-0.9-6.6c-3.3-1.1-4-2.3-2.3-5.4c1.4-2.5-1-5-0.7-7.6c0.5-0.1,1.3-0.4,1.4-0.2c4,5.5,8.9,4,13.9,1.8#}
		{#c6-2.6,12.7-0.9,18.7-3c7-2.4,13.8,0.4,20.8-0.5c3.6-0.4,7.1,0.2,10.6-1.8c3.4-1.9,7.6-0.5,10.2,1.1c3.4,2.1,7.2,3.4,10.2,6.1#}
		{#c-3.4,2.5-5.3,6.1-7.6,9.5c-1,1.5-2,3.1-3.9,3.4c-7.3,1.3-12.7,5.2-17.8,10.8c-3.6,3.9-8.1,6.8-10.2,11.9#}
		{#C259.7,230,258.8,230.1,258.3,230.9z"/></a>#}
                    {#<path class="st0" d="M172.4,145.9c4.5,5.1,6.4,5.4,12.3,2.2c4.5-2.5,12.2,3.4,12.7,9.7c0.3,4,0.3,9.1,5.3,9.3#}
		{#c3.2,0.1,4.9,2.1,7.4,2.7c0.1,3.7,0.7,7.5-1.5,11c-1.3,2.1-2.3,4.6-4.7,1c-0.7-1-1.8-1.8-2.9-0.8c-1.1,0.9,0.3,1.6,0.6,2.5#}
		{#c1.8,4.3-3.5,13.5-9.1,14.6c-4.3,0.8-7.4,3-10.6,5.5c-0.7,0.5-1.2,1.9-2.3,1c-1.3-1,0.1-1.7,0.6-2.3c1.1-1.2,1.8-2.4,1-4#}
		{#c-0.8-1.5-2.3-0.9-3.6-0.9c-2.1,0-3.5,1.2-3.9,3.1c-0.4,1.7-0.2,3.6-0.3,5.4c-1.5-0.2-3.3-0.9-4-0.3c-4.4,3.5-7.8,0.4-11.1-1.6#}
		{#c-2.5-1.5-7.5-1.1-6.2-6.5c0-0.2-0.9-0.9-1-0.8c-5.4,2.5-5.9-2.8-8.2-5.2c2-1.3,4.2-2.7,3.9-5.2c-0.5-3.8,1.6-6.1,4.4-7.4#}
		{#c4.6-2.2,7-6.7,11.1-9.5c4.3-3-0.7-6.3-0.6-9.6c0.7-3.7,0.9-7.4,2.9-10.7c2-3.3,0.2-6.2-0.4-9.4c-0.4-2-2.9-5.8,2.5-5.7#}
		{#c0.3,2.8,2.3,4.9,0.5,8.5C165.6,145.5,170.8,144.3,172.4,145.9z"/>#}
                    {#<path class="st0" d="M140.6,207.3c-0.3,1.8-0.5,3.5-0.8,5.3c-0.5,3.5-0.5,7.2-3.9,9.4c-7.2-2.8-11.3,4.5-17.4,5.2#}
		{#c-1.5,0.2-1.2,1.7-1.3,2.8c-0.2,2.1,0.6,4.3-0.7,6.2c-3-0.8-5.1-3.9-8.9-3.3c-3.5,0.6-7.2-4.1-6.3-7.5c0.7-2.5,3.6-5.5-1.7-6.5#}
		{#c-0.1,0,0-1.2-0.1-1.9c2.3-0.3,3.9-2.5,6.4-2.1c0.6,0.1,1.4-0.7,1.9-1.3c0.9-0.9-2-4.1,2.1-3.3c2.6,0.5,5.3-0.1,6.3,3.6#}
		{#c0.8,3.2,4.8,3.1,7.7-0.4c2.9-3.5,5.6-6.1,10.7-4.7c1.7,0.5,3.2-2.3,5.4-1.8C140.1,207.3,140.3,207.4,140.6,207.3z"/>#}
                    {#<path class="st0" d="M116.4,236.3c-0.3,1.5-0.7,3-1,4.5c-2,1-4,1.5-6.1,0.5c-0.9-0.4-2-0.7-2.8,0c-5,4.5-6.7-0.8-9.6-2.9#}
		{#c-2.2-1.6-2.8-7.1-7.5-3.5c-0.2-3.2-2.1-5.7-3.9-8c-1.8-2.2-1-3.1,0.5-4.7c2.4-2.6,6-2.9,8.6-5.1c1.7,0,3.3,0,4.9,0#}
		{#c0,0.6-0.1,1.8,0.1,1.9c5.3,0.9,2.4,4,1.7,6.5c-1,3.4,2.8,8.1,6.3,7.5C111.3,232.4,113.4,235.5,116.4,236.3z"/>#}
                    {#<path class="st0" d="M94.5,217.1c-0.3-0.3-0.6-0.7-0.9-1C93.9,216.4,94.2,216.8,94.5,217.1z"/>#}
                    {#<path class="st0" d="M192.3,252c0,2.6-1,2.7-3,1.4c-2.5-1.7-5-2.5-8.2-0.8c-2.4,1.2-3.9-0.6-4.6-3c-0.7-2.5-2.3-4.4-5-3.4#}
		{#c-2.9,1-2.5,3.6-1.4,5.8c1.1,2.1,0.7,3.2-1.3,4.3c-1.7,1-3.4,1.8-5.2,2.5c-4.5,1.7-9,3.4-11.4,8.4c-1,2.2-2,5.1-5.3,5.2#}
		{#c-0.2-1.4,0.2-3-1.2-4c0.3-3.3-1.2-6.5-0.1-9.9c0.8-2.4-0.5-3.9-3.6-3.4c-5.8,1.1-8.2-1.9-7.5-7.6c0.7-6.5,1.6-12.9,2.4-19.4#}
		{#c0.3-2.1,0.3-4.3-1.1-6.1c3.5-2.2,3.4-6,3.9-9.4c0.3-1.8,0.5-3.5,0.8-5.3c1.3-0.3,2.5-0.7,3.8-1c4.1-0.9,7.5-1.7,7.2,4.8#}
		{#c-0.2,4.6,5.4,4.5,8.2,6.6c1.6,1.2,3.7-1,5-2.9c1.1-1.5,8.2-0.8,8.7,1.3c0.9,3.4,4,5.1,5,8.2c0.8,2.5,1.3,4.8-1.2,7.3#}
		{#c3.5,0.1,5,2,6.7,3.7c2.4,2.4,5.1,5.3,9.3,3.4C193.9,243.3,192.2,247.6,192.3,252z"/>#}
                    {#<path class="st0" d="M142.6,283.6c0.1,2.1-2,3.6-3.5,5.1c-2.3,2.3-4.9,4.3-6.1,7.6c-1.6,2.2-3.7,4-1.4,7.3c1.3,1.9-2.2,5-5.6,4.9#}
		{#c-1.2,0-2.2-0.4-2.8,1.1c-3.1,8-9.3,13.7-14.9,19.8c-0.7,0.7-1.4,1.5-1.8,2.3c-2.6,5.5-6.4,9-13,8c-3.2-2.3-9-1.7-8.8-8#}
		{#c0-1.4-2.1-1.8-3.4-2.6c-2.5-1.5-2.7-4.4-2.1-6.4c0.5-1.8,2.8-0.4,4.3,0.1c3.1,0.9,4.7-0.9,3.9-4.2c-0.8-3.3,1.3-6.1,4.4-5.3#}
		{#c4.3,1.1,6.7-4.4,11.3-2.8c1,0.3,0.4-2.2-0.1-3.3c-1.4-2.8-3.5-5.2-4.2-8.3c-0.1-0.5-0.2-1-0.2-1.4c0-0.9,0.3-1.7,1.5-2.3#}
		{#c0.1-0.1,0.3-0.1,0.4-0.2c3.3-1.3,6.7-2.8,9.3-5c2.4-2.1,3.7-5.3,6.8-7.1c3.5-2,7.6-0.2,10.9-2.4c0.5-0.4,1.7,0.4,1.2,1.5#}
		{#c-0.7,1.8-0.2,2.9,1.7,3.2c1.7,0.3,3.4,0.1,4.5-1.4c1.1-1.4,2.5-2.9,2.9-4.5c1-5,4.6-7.8,8-10.9c1.5,1,1,2.6,1.2,4#}
		{#C145,275.9,142.4,279,142.6,283.6z"/>#}
                    {#<path class="st0" d="M290.1,393.1c0.4-0.2,0.7-0.5,1.1-0.7c0,0,0.2,0.2,0.3,0.4c-0.4,0.2-0.9,0.3-1.3,0.5#}
		{#C290.2,393.2,290.1,393.1,290.1,393.1z"/>#}
                    {#<path class="st0" d="M261.4,276.4c0-5.2,0-10.4,0-15.7c0.7-5.4-1.4-10.6-1-16c-1.4-2-1-4.2-0.8-6.3c-0.1,2.1-0.5,4.3,0.8,6.3#}
		{#c0-4.9,0.1-9.8,0.1-14.7c-0.8,0-1.7,0-2.2,0.9c-4.6,2-9.3,4-13.8,6.2c-4.1,2.1-9.2,3.2-11.9,7.6c-1.6,2.6-3.7,3.5-6.5,1.7#}
		{#c-2.2-1.4-4.7-0.9-6.4,0.6c-4.1,3.6-9.4,1.5-13.8,3.3c-0.7,0.3-1.2-0.1-1.7-0.6c-3.6-4-7.2-8-10.8-12c-0.1,0.3-0.1,0.7-0.2,1#}
		{#c0.7,4.5-1,8.8-0.9,13.2c0,2.6-1,2.7-3,1.4c-2.5-1.7-5-2.5-8.2-0.8c-2.4,1.2-3.9-0.6-4.6-3c-0.7-2.5-2.3-4.4-5-3.4#}
		{#c-2.9,1-2.5,3.6-1.4,5.8c1.1,2.1,0.7,3.2-1.3,4.3c-1.7,1-3.4,1.8-5.2,2.5c-4.5,1.7-9.1,3.4-11.4,8.4c-1,2.2-2,5.1-5.3,5.2#}
		{#c-1.9,3.5-4.6,6.6-4.4,11.2c0.1,2.1-2,3.6-3.5,5.1c-2.3,2.3-4.9,4.3-6.1,7.6c0.7,0,1.3-0.1,2-0.1c8.2,0.1,10.4,3.4,7.6,11#}
		{#c-0.2,0.6-0.3,1.3-0.2,1.8c1.1,4.9,2,9.8,3.4,14.7c1.1,3.8,3.7,6.1,7.9,6.1c2.7,0,5,0.8,7.2,2.5c3.4,2.4,7,4.6,11.8,2.7#}
		{#c2-0.8,4.6-0.7,5.8,2c0-1,0-2.1,0-3.1c-1-5.6-1-5.6,0,0c0-7.5,0-15,0.1-22.6c8.4,1.7,16.1,0.9,22.3-5.9c0.3-0.4,0.8-0.9,1.1-0.9#}
		{#c8.3,1.2,13.5-6.2,21-7.9c3.2-0.7,5.9-0.3,8.8-0.4c3.4,0,6.3-2.4,10-1.2c1.9,0.6,4.4-0.5,6.6-1.1c4.7-1.2,9.5-0.6,14.2-0.6#}
		{#C262.2,287.7,261.8,282,261.4,276.4z"/>#}
                {#</g>#}
{#</svg>#}



        {#</div>#}
        <div id="mapa-interact">
            <!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In  -->
            <!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In  -->
            <!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In  -->
            <svg version="1.1"
                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
                 x="0px" y="0px" width="437px" height="502.1px" viewBox="0 0 437 502.1" style="enable-background:new 0 0 437 502.1;"
                 xml:space="preserve">
<style type="text/css">
    .st0{fill:#89A0B2;}
    .st1{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
    .st2{fill:none;stroke:#89A0B2;stroke-miterlimit:10;}
    .st3{fill:#89A0B2;stroke:#FFFFFF;stroke-miterlimit:10;}
</style>
                <defs>
                </defs>
                <g>
                    <g>
                        <g>
                            <g>
                                <path class="st0" d="M350,410c-3.2,30.2-11.5,59.5-16.7,90.7c-3.3-5.3-5.9-9.5-10.2-12c-1.1-0.7-2.2-2.3-3.3-0.9
					c-3.4,4.1-7.4,0-10.8,1.8c-0.2-0.4-0.4-0.7-0.6-1.1c3.7-5.3,7.4-10.7,11.1-16c2.8-4,5.7-8.1,8.5-12.1c1.4-2,2.1-3.2-1.3-4.4
					c-3.1-1.2-5.8-3.6-9.1-4.5c-3.4-0.9-6.7-1.4-9.8-3.8c-4.7-3.8-9.5-3.4-14.4,1.1c-2.6,2.4-7.5,1.3-10.4-1.4
					c-2.5-2.4-5.9-1.2-8.4-2.9c-0.4-0.2-1.7,0.1-1.8,0.5c-1.5,4-5.8,3.9-8.3,5.8c-5.4,4.2-10.5,2-15.8,2.1c-0.9,0-1.7-0.9-2.7-0.1
					c-5.6,4-10.6-0.1-15.6-1.6c-1.5-0.5-2.7-2.1-0.8-3.8c2.9-2.7,1.3-5.8,0.1-8.4c-1-2.2-3.6-2.4-6.1-2.2c-5,0.4-5.8-1.5-6.7-6.5
					c-0.6-3.4-2.4-8.5-6.6-8.6c-5-0.1-7.8-3.7-11.8-5.2c-1.8-0.7-3.5-1.8-5.5-1.7c-1.6,0-2.5-0.5-2.6-2.2c-0.2-4-3.2-7.1-3.6-11.1
					c5-2.9,11-3,16-5.8c6.6-0.8,12.1,3.8,18.8,3.6c3-0.1,6.1,3,9.1-0.5c0.3-0.4,1.5,0.1,2.3,0.1c5.7-0.2,11.4,5.9,17.3,0.4
					c0.2-0.2,1.2,0.1,1.7,0.4c3.3,2,4.7,0,5.9-2.7c2.1-4.6,4.5-8.9,10.8-7.5c1.9,0.4,2.6-1.1,3.5-2.7c1.6-2.8,3.4-5.8,7.2-6
					c2.5-0.1,4.4-1.1,6.5-2.1c5.7-0.1,10.6,0.9,13.3,7c1.2,2.6,3.4,4.4,7,4c3-0.3,6.1,0.5,8.7,2.5c1.7,1.2,3.6,1.5,5.6,1.3l0.1,0.1
					c2,4.1,1.2,8.6,1.2,12.7c0,2.8,1.5,3.4,2.8,4.4c1.7,1.3,2.9,0.1,4-1.4c0.8-1.1,3-2.7,3.4-1c1.3,5.3,4.6,1.7,6.8,1.9
					c1,0.1,2.5-1,2.4,0.8c-0.2,4.4,2.7,2.1,4.5,2.4C348.3,413.5,347.8,409.8,350,410z"/>
                                <path class="st1" d="M350,410c-3.2,30.2-11.5,59.5-16.7,90.7c-3.3-5.3-5.9-9.5-10.2-12c-1.1-0.7-2.2-2.3-3.3-0.9
					c-3.4,4.1-7.4,0-10.8,1.8c-0.2-0.4-0.4-0.7-0.6-1.1c3.7-5.3,7.4-10.7,11.1-16c2.8-4,5.7-8.1,8.5-12.1c1.4-2,2.1-3.2-1.3-4.4
					c-3.1-1.2-5.8-3.6-9.1-4.5c-3.4-0.9-6.7-1.4-9.8-3.8c-4.7-3.8-9.5-3.4-14.4,1.1c-2.6,2.4-7.5,1.3-10.4-1.4
					c-2.5-2.4-5.9-1.2-8.4-2.9c-0.4-0.2-1.7,0.1-1.8,0.5c-1.5,4-5.8,3.9-8.3,5.8c-5.4,4.2-10.5,2-15.8,2.1c-0.9,0-1.7-0.9-2.7-0.1
					c-5.6,4-10.6-0.1-15.6-1.6c-1.5-0.5-2.7-2.1-0.8-3.8c2.9-2.7,1.3-5.8,0.1-8.4c-1-2.2-3.6-2.4-6.1-2.2c-5,0.4-5.8-1.5-6.7-6.5
					c-0.6-3.4-2.4-8.5-6.6-8.6c-5-0.1-7.8-3.7-11.8-5.2c-1.8-0.7-3.5-1.8-5.5-1.7c-1.6,0-2.5-0.5-2.6-2.2c-0.2-4-3.2-7.1-3.6-11.1
					c5-2.9,11-3,16-5.8c6.6-0.8,12.1,3.8,18.8,3.6c3-0.1,6.1,3,9.1-0.5c0.3-0.4,1.5,0.1,2.3,0.1c5.7-0.2,11.4,5.9,17.3,0.4
					c0.2-0.2,1.2,0.1,1.7,0.4c3.3,2,4.7,0,5.9-2.7c2.1-4.6,4.5-8.9,10.8-7.5c1.9,0.4,2.6-1.1,3.5-2.7c1.6-2.8,3.4-5.8,7.2-6
					c2.5-0.1,4.4-1.1,6.5-2.1c5.7-0.1,10.6,0.9,13.3,7c1.2,2.6,3.4,4.4,7,4c3-0.3,6.1,0.5,8.7,2.5c1.7,1.2,3.6,1.5,5.6,1.3l0.1,0.1
					c2,4.1,1.2,8.6,1.2,12.7c0,2.8,1.5,3.4,2.8,4.4c1.7,1.3,2.9,0.1,4-1.4c0.8-1.1,3-2.7,3.4-1c1.3,5.3,4.6,1.7,6.8,1.9
					c1,0.1,2.5-1,2.4,0.8c-0.2,4.4,2.7,2.1,4.5,2.4C348.3,413.5,347.8,409.8,350,410z"/>
                            </g>
                            <g>
                                <path class="st0" d="M343.3,190.8c3.7-0.4,8.1,1.9,10.6-2.9c0.1-0.2,0.9-0.1,1.4,0c9.5,1.3,19.3,2.3,28.4-0.4
					c5.4-1.6,10.9,0,16-2.2c2.5-1,5.5-1.2,6.5,1.4c0.9,2.3,4.7,4.8,0.4,8.1c-3,2.3-3.9,6-2.5,9.8c0.9,2.5-1,3.6-2.3,4.9
					c-2.2,2.1-3.6,3.8-2.5,7.7c1.2,4.1,0.1,9-0.3,13.5c-0.1,1.5-1,3.1,0.1,4.2c4.6,4.8,4.1,10.9,4.4,16.8c-3.2,4.2-7.7,4.7-12.4,3.8
					c-1.9-0.3-4.1-0.5-5.2,0.4c-5.5,4.2-11.4,6.4-18.3,7.7c-5.3,1-10.2,2.8-16,2.6c-3.5-0.2-9-2.8-11.4,3.1
					c-0.2,0.4-1.2,0.7-1.7,0.6c-2.7-0.5-4.4,1.1-5.9,2.7c-1.8,1.9-3.8,3.1-6.5,3.5c-1.4,0.2-3.9,0.3-3.2,2.7
					c0.7,2.4-0.1,3.2-2.1,3.9c-1,0.3-1.9,1.2-1.8,2.6c0.3,5.8-3.6,7.7-8.4,8.8c-0.7-2.5-2.8-2.9-3.6-0.9c-1.2,3.1-3.2,2.1-5,1.9
					c-3.1-0.4-6.1-1.3-9.1-1.9c-0.4-5.6-0.7-11.3-1.1-16.9c0-5.2,0-10.4,0-15.7c0.7-5.4-1.4-10.6-1-16c0-4.9,0.1-9.8,0.1-14.7
					c2.1-5.2,6.6-8.1,10.2-11.9c5.1-5.6,10.5-9.4,17.8-10.8c2-0.4,2.9-1.9,3.9-3.4c2.3-3.3,4.2-7,7.6-9.5c1.9,0,3.9,0.2,5.8,0
					C338.9,194.1,342.1,194.4,343.3,190.8z"/>
                                <path class="st1" d="M343.3,190.8c3.7-0.4,8.1,1.9,10.6-2.9c0.1-0.2,0.9-0.1,1.4,0c9.5,1.3,19.3,2.3,28.4-0.4
					c5.4-1.6,10.9,0,16-2.2c2.5-1,5.5-1.2,6.5,1.4c0.9,2.3,4.7,4.8,0.4,8.1c-3,2.3-3.9,6-2.5,9.8c0.9,2.5-1,3.6-2.3,4.9
					c-2.2,2.1-3.6,3.8-2.5,7.7c1.2,4.1,0.1,9-0.3,13.5c-0.1,1.5-1,3.1,0.1,4.2c4.6,4.8,4.1,10.9,4.4,16.8c-3.2,4.2-7.7,4.7-12.4,3.8
					c-1.9-0.3-4.1-0.5-5.2,0.4c-5.5,4.2-11.4,6.4-18.3,7.7c-5.3,1-10.2,2.8-16,2.6c-3.5-0.2-9-2.8-11.4,3.1
					c-0.2,0.4-1.2,0.7-1.7,0.6c-2.7-0.5-4.4,1.1-5.9,2.7c-1.8,1.9-3.8,3.1-6.5,3.5c-1.4,0.2-3.9,0.3-3.2,2.7
					c0.7,2.4-0.1,3.2-2.1,3.9c-1,0.3-1.9,1.2-1.8,2.6c0.3,5.8-3.6,7.7-8.4,8.8c-0.7-2.5-2.8-2.9-3.6-0.9c-1.2,3.1-3.2,2.1-5,1.9
					c-3.1-0.4-6.1-1.3-9.1-1.9c-0.4-5.6-0.7-11.3-1.1-16.9c0-5.2,0-10.4,0-15.7c0.7-5.4-1.4-10.6-1-16c0-4.9,0.1-9.8,0.1-14.7
					c2.1-5.2,6.6-8.1,10.2-11.9c5.1-5.6,10.5-9.4,17.8-10.8c2-0.4,2.9-1.9,3.9-3.4c2.3-3.3,4.2-7,7.6-9.5c1.9,0,3.9,0.2,5.8,0
					C338.9,194.1,342.1,194.4,343.3,190.8z"/>
                            </g>
                            <g>
                                <path class="st0" d="M310.6,294.3c4.8-1.1,8.6-3,8.4-8.8c-0.1-1.4,0.9-2.3,1.8-2.6c2.1-0.7,2.8-1.6,2.1-3.9
					c-0.7-2.4,1.9-2.5,3.2-2.7c2.7-0.3,4.6-1.6,6.5-3.5c1.6-1.6,3.3-3.2,5.9-2.7c0.5,0.1,1.6-0.2,1.7-0.6c2.4-6,7.9-3.3,11.4-3.1
					c5.8,0.2,10.7-1.6,16-2.6c6.9-1.3,12.8-3.6,18.3-7.7c1.2-0.9,3.4-0.7,5.2-0.4c4.7,0.8,9.1,0.3,12.4-3.8c1.5,2.1,1.9,5.4,5.7,5.1
					c1.3-0.1,1,1.4,1,2.4c0.1,2.6,1.9,4.5,3,6.6c0.6,1.2,3.3,1.4,2.5,3.1c-0.8,1.7-2.3,3.5-3.9,4.2c-5.7,2.3-8.2,7.9-12.3,11.8
					c-1.9,1.8-0.4,2.2,1.4,2.5c7.5,1.2,18.3,11.6,22.1,17.7c3.4,5.5,3.9,12.1,8.2,17.2c2.6,3.1,2.9,8,4.9,11.9
					c0.6,1.1,0.4,3.7-0.1,4c-1.9,0.8-4.2,1.1-6.2,0.2c-1.6-0.7-1.4-2.3-1.4-3.9c0.2-5.9-2.5-10.9-6.1-15.2c-1.7-2.1-2.8-4.3-3.9-6.7
					c-1.9-4.2-4.6-4.9-8.1-1.9c-4.1,3.5-8.2,7-11.8,11.2c-1.7,2-2.6,0-3.2-1.1c-1.1-1.7-1.5-4.4-4.5-3.2c-2.1,0.8-2.1,3.2,0.2,7.2
					c-15.4-0.3-30.5,2.3-45.8,0.6c-3.8-0.4-7.4,0.7-10.8,2.4c-0.7-1.1-1.7-1.8-3.1-2c-6.4-1-7.6-2.7-7-9c0.2-1.2,0.8-2.1,1.7-2.9
					c0.9-0.8,2.8-1.2,2.1-2.9c-0.8-1.9-2.3-0.2-3.4-0.1c-7.3,0.6-15.3,3.5-19.6-5.9c-0.2-0.5-1-0.8-1.6-1c-4-1.4-2.6-2.6-0.1-4.4
					C305.8,298,308.8,296.9,310.6,294.3z"/>
                                <path class="st1" d="M310.6,294.3c4.8-1.1,8.6-3,8.4-8.8c-0.1-1.4,0.9-2.3,1.8-2.6c2.1-0.7,2.8-1.6,2.1-3.9
					c-0.7-2.4,1.9-2.5,3.2-2.7c2.7-0.3,4.6-1.6,6.5-3.5c1.6-1.6,3.3-3.2,5.9-2.7c0.5,0.1,1.6-0.2,1.7-0.6c2.4-6,7.9-3.3,11.4-3.1
					c5.8,0.2,10.7-1.6,16-2.6c6.9-1.3,12.8-3.6,18.3-7.7c1.2-0.9,3.4-0.7,5.2-0.4c4.7,0.8,9.1,0.3,12.4-3.8c1.5,2.1,1.9,5.4,5.7,5.1
					c1.3-0.1,1,1.4,1,2.4c0.1,2.6,1.9,4.5,3,6.6c0.6,1.2,3.3,1.4,2.5,3.1c-0.8,1.7-2.3,3.5-3.9,4.2c-5.7,2.3-8.2,7.9-12.3,11.8
					c-1.9,1.8-0.4,2.2,1.4,2.5c7.5,1.2,18.3,11.6,22.1,17.7c3.4,5.5,3.9,12.1,8.2,17.2c2.6,3.1,2.9,8,4.9,11.9
					c0.6,1.1,0.4,3.7-0.1,4c-1.9,0.8-4.2,1.1-6.2,0.2c-1.6-0.7-1.4-2.3-1.4-3.9c0.2-5.9-2.5-10.9-6.1-15.2c-1.7-2.1-2.8-4.3-3.9-6.7
					c-1.9-4.2-4.6-4.9-8.1-1.9c-4.1,3.5-8.2,7-11.8,11.2c-1.7,2-2.6,0-3.2-1.1c-1.1-1.7-1.5-4.4-4.5-3.2c-2.1,0.8-2.1,3.2,0.2,7.2
					c-15.4-0.3-30.5,2.3-45.8,0.6c-3.8-0.4-7.4,0.7-10.8,2.4c-0.7-1.1-1.7-1.8-3.1-2c-6.4-1-7.6-2.7-7-9c0.2-1.2,0.8-2.1,1.7-2.9
					c0.9-0.8,2.8-1.2,2.1-2.9c-0.8-1.9-2.3-0.2-3.4-0.1c-7.3,0.6-15.3,3.5-19.6-5.9c-0.2-0.5-1-0.8-1.6-1c-4-1.4-2.6-2.6-0.1-4.4
					C305.8,298,308.8,296.9,310.6,294.3z"/>
                            </g>
                            <g>
                                <path class="st0" d="M91.2,139.9c1.1,1.5,1.1,4.3,4.2,3.4c2.8-0.8,2.7-3,2.4-5.1c-0.4-2.7-1.2-5.4-0.9-8.3
					c0.3-2.8-2.1-3.7-4.1-4.9c-1.9-1.2-2.1-3.3,0.2-3.3c5.8,0,8.6-4.7,13-6.8c0.9-0.4,1.8-0.7,2.7-1c0.1,3,1,5.6,4,6.8
					c4.5,1.9,3.4,5.7,1.3,7.5c-5.9,4.9-5.3,12.1-7.7,18.2c-1.7,4.4,2,12.1,5.4,13.3c8.5,3.1,18.2-1,21.7-9.4
					c0.4-1.1,0.7-2.9,1.7-2.7c5.7,1.1,6.8-4.4,10.3-6.5c2-1.2,2.4-4.4,5.7-4c4,0.5,7.3-1.1,10-4c2.3,1.3,4.4,3,6.8,3.9
					c4.6,1.7,2.2,6.5,4.5,9.2c1.3,1.5-1.4,1.8-1.8,2.9c-0.8,2.6-2.2,5.3,0.2,7.8c2.3,2.5,4-0.2,7.1-2.1c-2.1,4.1-2.1,6.9-1.1,9.8
					c1.5,4.5,3,5.2,6.9,2.3c2.9-2.1,5.5-4.7,8.2-7c-0.1,3.3,4.9,6.6,0.6,9.6c-4.1,2.8-6.5,7.3-11.1,9.5c-2.8,1.3-4.9,3.5-4.4,7.4
					c0.3,2.6-1.9,4-3.9,5.2c-1.7,1.5-3.8,3-1.8,5.6c1.3,1.7,0.6,3.1-0.2,4.5c-1.1,1.8-0.9,3.8-0.9,5.7c-2.2-0.4-3.7,2.3-5.4,1.8
					c-5.1-1.4-7.8,1.2-10.7,4.7c-2.9,3.5-6.9,3.6-7.7,0.4c-1-3.8-3.7-3.1-6.3-3.6c-4-0.8-1.2,2.3-2.1,3.3c-0.5,0.5-1.4,1.3-1.9,1.3
					c-2.5-0.4-4.2,1.8-6.4,2.1c-1.6,0-3.3,0-4.9,0l-0.1,0c-0.3-0.3-0.6-0.7-0.9-1c-4.3-4.9-1-13.2-7.7-16.9
					c-0.2-0.1-0.2-0.6-0.2-0.9c0.2-3.1-1.9-3-3.9-2.8c-2.6,0.2-5.2,0.7-7.8,1c-3.7,0.4-6.1-2.3-5.9-5c0.2-3.7-2-5.8-3.7-8.1
					c-2.1-2.9-4.6-5.3,0.9-7.1c1-0.3,1.5-1.2,1.5-2.3c-0.3-3.3,1.8-3.5,4.1-2.9c2.1,0.6,4.2,1.6,5.3-1.3c1-2.6,0.7-5.5-1.6-6.6
					c-5.7-2.9-9-8.4-14.2-11.9C85,147.3,85.2,144.8,91.2,139.9z"/>
                                <path class="st1" d="M91.2,139.9c1.1,1.5,1.1,4.3,4.2,3.4c2.8-0.8,2.7-3,2.4-5.1c-0.4-2.7-1.2-5.4-0.9-8.3
					c0.3-2.8-2.1-3.7-4.1-4.9c-1.9-1.2-2.1-3.3,0.2-3.3c5.8,0,8.6-4.7,13-6.8c0.9-0.4,1.8-0.7,2.7-1c0.1,3,1,5.6,4,6.8
					c4.5,1.9,3.4,5.7,1.3,7.5c-5.9,4.9-5.3,12.1-7.7,18.2c-1.7,4.4,2,12.1,5.4,13.3c8.5,3.1,18.2-1,21.7-9.4
					c0.4-1.1,0.7-2.9,1.7-2.7c5.7,1.1,6.8-4.4,10.3-6.5c2-1.2,2.4-4.4,5.7-4c4,0.5,7.3-1.1,10-4c2.3,1.3,4.4,3,6.8,3.9
					c4.6,1.7,2.2,6.5,4.5,9.2c1.3,1.5-1.4,1.8-1.8,2.9c-0.8,2.6-2.2,5.3,0.2,7.8c2.3,2.5,4-0.2,7.1-2.1c-2.1,4.1-2.1,6.9-1.1,9.8
					c1.5,4.5,3,5.2,6.9,2.3c2.9-2.1,5.5-4.7,8.2-7c-0.1,3.3,4.9,6.6,0.6,9.6c-4.1,2.8-6.5,7.3-11.1,9.5c-2.8,1.3-4.9,3.5-4.4,7.4
					c0.3,2.6-1.9,4-3.9,5.2c-1.7,1.5-3.8,3-1.8,5.6c1.3,1.7,0.6,3.1-0.2,4.5c-1.1,1.8-0.9,3.8-0.9,5.7c-2.2-0.4-3.7,2.3-5.4,1.8
					c-5.1-1.4-7.8,1.2-10.7,4.7c-2.9,3.5-6.9,3.6-7.7,0.4c-1-3.8-3.7-3.1-6.3-3.6c-4-0.8-1.2,2.3-2.1,3.3c-0.5,0.5-1.4,1.3-1.9,1.3
					c-2.5-0.4-4.2,1.8-6.4,2.1c-1.6,0-3.3,0-4.9,0l-0.1,0c-0.3-0.3-0.6-0.7-0.9-1c-4.3-4.9-1-13.2-7.7-16.9
					c-0.2-0.1-0.2-0.6-0.2-0.9c0.2-3.1-1.9-3-3.9-2.8c-2.6,0.2-5.2,0.7-7.8,1c-3.7,0.4-6.1-2.3-5.9-5c0.2-3.7-2-5.8-3.7-8.1
					c-2.1-2.9-4.6-5.3,0.9-7.1c1-0.3,1.5-1.2,1.5-2.3c-0.3-3.3,1.8-3.5,4.1-2.9c2.1,0.6,4.2,1.6,5.3-1.3c1-2.6,0.7-5.5-1.6-6.6
					c-5.7-2.9-9-8.4-14.2-11.9C85,147.3,85.2,144.8,91.2,139.9z"/>
                            </g>
                            <g>
                                <path class="st0" d="M62.4,306.3c2.2-1.6,5.1-2.1,7-4.6c1.4-1.9,5.2-2.7,2.5-6.3c-0.7-1,0.4-1.5,1-1.8c2.4-1,3.1-3.3,4.1-5.3
					c1.5,0.4,2.6-1.2,4.5,0.1c8.4,5.7,17.6,5.8,27,2.7c1.1-0.4,1.8-1.1,1.9-2c0.4-3.4,1.6-4.1,5.2-3.4c2.1,0.4,4.3,0,6.2,1.5
					c1.4,1.1,2.6,0.9,3.4-1c0.6-1.5,1.1-3,1.6-4.6c1.9-6.4,0.3-14.4,8.5-17.9c1.1-0.4,0.5-2.2,0.9-3.1c2.5-5.9,2.2-13.4,9-17.1
					c1.1-0.6,1.7-1.6,0.5-2.8c0.3-1.5,0.7-3,1-4.5c1.3-1.9,0.5-4.1,0.7-6.2c0.1-1.1-0.2-2.6,1.3-2.8c6.1-0.8,10.2-8.1,17.4-5.2
					c1.4,1.9,1.4,4.1,1.1,6.2c-0.8,6.4-1.7,12.9-2.4,19.4c-0.6,5.7,1.7,8.6,7.5,7.6c3.1-0.6,4.4,1,3.6,3.4c-1.1,3.5,0.4,6.6,0.1,9.9
					c-3.4,3.1-7,5.9-8,10.9c-0.3,1.6-1.8,3.1-2.9,4.5c-1.1,1.4-2.8,1.7-4.5,1.4c-1.9-0.3-2.4-1.4-1.7-3.2c0.4-1.1-0.7-1.9-1.2-1.5
					c-3.3,2.3-7.4,0.4-10.9,2.4c-3.1,1.8-4.4,5-6.8,7.1c-2.6,2.3-6,3.7-9.3,5c-2.2,0.9-2.1,2.1-1.7,3.8c0.7,3.1,2.7,5.6,4.2,8.3
					c0.6,1.1,1.1,3.6,0.1,3.3c-4.6-1.6-6.9,3.9-11.3,2.8c-3.1-0.8-5.1,2-4.4,5.3c0.8,3.3-0.9,5.1-3.9,4.2c-1.5-0.5-3.8-1.9-4.3-0.1
					c-0.6,2-0.4,4.9,2.1,6.4c1.3,0.8,3.4,1.2,3.4,2.6c-0.2,6.3,5.6,5.6,8.8,8c-3.5,5.9-0.5,10,3.9,13.8c-3.6,4.5-8.3,2.3-12.4,1.6
					c-3.6-0.6-2.1-4.1-2.4-6.5c-0.2-1.8-0.2-3.8-2.1-4.6c-2-0.8-3.8-0.3-4.9,1.8c-0.5,1-1.7,0.9-2.6,1c-0.1-1.1-0.5-2.5-0.1-3.4
					c2-4.6-0.6-6-4.3-7.3c-3-1.1-5.8,0-8.7,0c-1.4,0-2.8,0.3-3.5-0.9c-0.9-1.4-1.1-3.7,0-4.6c2.6-2.1,2-3.3-0.4-4.6
					c-0.8-0.5-1.1-1.2-1.1-2.1c0.2-3.8-2-3.6-4.8-3c-2.4,0.5-5.3,0.9-7-1C69.6,315.4,65.3,311.4,62.4,306.3z"/>
                                <path class="st1" d="M62.4,306.3c2.2-1.6,5.1-2.1,7-4.6c1.4-1.9,5.2-2.7,2.5-6.3c-0.7-1,0.4-1.5,1-1.8c2.4-1,3.1-3.3,4.1-5.3
					c1.5,0.4,2.6-1.2,4.5,0.1c8.4,5.7,17.6,5.8,27,2.7c1.1-0.4,1.8-1.1,1.9-2c0.4-3.4,1.6-4.1,5.2-3.4c2.1,0.4,4.3,0,6.2,1.5
					c1.4,1.1,2.6,0.9,3.4-1c0.6-1.5,1.1-3,1.6-4.6c1.9-6.4,0.3-14.4,8.5-17.9c1.1-0.4,0.5-2.2,0.9-3.1c2.5-5.9,2.2-13.4,9-17.1
					c1.1-0.6,1.7-1.6,0.5-2.8c0.3-1.5,0.7-3,1-4.5c1.3-1.9,0.5-4.1,0.7-6.2c0.1-1.1-0.2-2.6,1.3-2.8c6.1-0.8,10.2-8.1,17.4-5.2
					c1.4,1.9,1.4,4.1,1.1,6.2c-0.8,6.4-1.7,12.9-2.4,19.4c-0.6,5.7,1.7,8.6,7.5,7.6c3.1-0.6,4.4,1,3.6,3.4c-1.1,3.5,0.4,6.6,0.1,9.9
					c-3.4,3.1-7,5.9-8,10.9c-0.3,1.6-1.8,3.1-2.9,4.5c-1.1,1.4-2.8,1.7-4.5,1.4c-1.9-0.3-2.4-1.4-1.7-3.2c0.4-1.1-0.7-1.9-1.2-1.5
					c-3.3,2.3-7.4,0.4-10.9,2.4c-3.1,1.8-4.4,5-6.8,7.1c-2.6,2.3-6,3.7-9.3,5c-2.2,0.9-2.1,2.1-1.7,3.8c0.7,3.1,2.7,5.6,4.2,8.3
					c0.6,1.1,1.1,3.6,0.1,3.3c-4.6-1.6-6.9,3.9-11.3,2.8c-3.1-0.8-5.1,2-4.4,5.3c0.8,3.3-0.9,5.1-3.9,4.2c-1.5-0.5-3.8-1.9-4.3-0.1
					c-0.6,2-0.4,4.9,2.1,6.4c1.3,0.8,3.4,1.2,3.4,2.6c-0.2,6.3,5.6,5.6,8.8,8c-3.5,5.9-0.5,10,3.9,13.8c-3.6,4.5-8.3,2.3-12.4,1.6
					c-3.6-0.6-2.1-4.1-2.4-6.5c-0.2-1.8-0.2-3.8-2.1-4.6c-2-0.8-3.8-0.3-4.9,1.8c-0.5,1-1.7,0.9-2.6,1c-0.1-1.1-0.5-2.5-0.1-3.4
					c2-4.6-0.6-6-4.3-7.3c-3-1.1-5.8,0-8.7,0c-1.4,0-2.8,0.3-3.5-0.9c-0.9-1.4-1.1-3.7,0-4.6c2.6-2.1,2-3.3-0.4-4.6
					c-0.8-0.5-1.1-1.2-1.1-2.1c0.2-3.8-2-3.6-4.8-3c-2.4,0.5-5.3,0.9-7-1C69.6,315.4,65.3,311.4,62.4,306.3z"/>
                            </g>
                            <g>
                                <path class="st0" d="M324.3,316.9c-0.6,6.3,0.7,7.9,7.1,9c1.4,0.2,2.4,0.9,3.1,2c0,5.3,0,10.5,0,15.8c0,1.6-0.1,2.7,2.4,2.1
					c4.8-1.1,9.6,0.7,14.5,0.4c4.2-0.3,7.8,8.3,5.3,11.8c-0.9,1.2-2.5,1.6-4.4,0.8c-5-2.3-9.9-1.1-14.4,1.6
					c-0.6,0.3-1.2,0.6-1.8,0.8c-7,1.7-7,1.7-7,8.9c0,1,0,2,0,3c0.2,15.4-1.6,11.8,11,17.9c3,1.5,4.2,4.2,3.6,6
					c-1.6,4.6,1.8,6.6,3.9,9c1.2,1.3,1.8,2.6,2.4,4.1c-2.2-0.2-1.7,3.5-4.4,3c-1.9-0.3-4.7,2-4.5-2.4c0.1-1.8-1.4-0.7-2.4-0.8
					c-2.3-0.1-5.5,3.4-6.8-1.9c-0.4-1.7-2.6,0-3.4,1c-1.1,1.5-2.3,2.7-4,1.4c-1.3-1-2.8-1.6-2.8-4.4c0-4.2,0.8-8.7-1.2-12.7
					c0.4-0.2,0.9-0.3,1.3-0.5c-0.1-0.1-0.3-0.4-0.3-0.4c-0.4,0.2-0.7,0.5-1.1,0.7c-2,0.2-3.9-0.1-5.6-1.3c-2.6-2-5.7-2.8-8.7-2.5
					c-3.6,0.4-5.9-1.4-7-4c-2.7-6-7.6-7.1-13.3-7c0-2.2-1.6-1.9-3.1-2.1c-2.9-0.3-5.9-0.5-8.3-2.3c-4.7-3.6-8.6-7.9-12.6-12.2
					c4.1-2.7,7.1-6.5,10.7-9.7c4.6-4.2,8.9-12.6,7.1-18.8c-0.4-1.3-2.1-2.7-0.3-3.9c1.4-0.9,3.2-0.8,4.6,0.3
					c2.2,1.7,3.2,0.6,5.2-0.9c4-2.9,8.2-6.6,13.5-6.7C310.3,322,317.2,319,324.3,316.9z"/>
                                <path class="st1" d="M324.3,316.9c-0.6,6.3,0.7,7.9,7.1,9c1.4,0.2,2.4,0.9,3.1,2c0,5.3,0,10.5,0,15.8c0,1.6-0.1,2.7,2.4,2.1
					c4.8-1.1,9.6,0.7,14.5,0.4c4.2-0.3,7.8,8.3,5.3,11.8c-0.9,1.2-2.5,1.6-4.4,0.8c-5-2.3-9.9-1.1-14.4,1.6
					c-0.6,0.3-1.2,0.6-1.8,0.8c-7,1.7-7,1.7-7,8.9c0,1,0,2,0,3c0.2,15.4-1.6,11.8,11,17.9c3,1.5,4.2,4.2,3.6,6
					c-1.6,4.6,1.8,6.6,3.9,9c1.2,1.3,1.8,2.6,2.4,4.1c-2.2-0.2-1.7,3.5-4.4,3c-1.9-0.3-4.7,2-4.5-2.4c0.1-1.8-1.4-0.7-2.4-0.8
					c-2.3-0.1-5.5,3.4-6.8-1.9c-0.4-1.7-2.6,0-3.4,1c-1.1,1.5-2.3,2.7-4,1.4c-1.3-1-2.8-1.6-2.8-4.4c0-4.2,0.8-8.7-1.2-12.7
					c0.4-0.2,0.9-0.3,1.3-0.5c-0.1-0.1-0.3-0.4-0.3-0.4c-0.4,0.2-0.7,0.5-1.1,0.7c-2,0.2-3.9-0.1-5.6-1.3c-2.6-2-5.7-2.8-8.7-2.5
					c-3.6,0.4-5.9-1.4-7-4c-2.7-6-7.6-7.1-13.3-7c0-2.2-1.6-1.9-3.1-2.1c-2.9-0.3-5.9-0.5-8.3-2.3c-4.7-3.6-8.6-7.9-12.6-12.2
					c4.1-2.7,7.1-6.5,10.7-9.7c4.6-4.2,8.9-12.6,7.1-18.8c-0.4-1.3-2.1-2.7-0.3-3.9c1.4-0.9,3.2-0.8,4.6,0.3
					c2.2,1.7,3.2,0.6,5.2-0.9c4-2.9,8.2-6.6,13.5-6.7C310.3,322,317.2,319,324.3,316.9z"/>
                            </g>
                            <g>
                                <path class="st0" d="M91.2,139.9c-6,4.9-6.3,7.4-0.5,11.3c5.2,3.4,8.5,9,14.2,11.9c2.3,1.1,2.6,4.1,1.6,6.6
					c-1.1,2.9-3.2,1.9-5.3,1.3c-2.3-0.6-4.4-0.4-4.1,2.9c0.1,1.1-0.5,2-1.5,2.3c-5.5,1.8-3,4.2-0.9,7.1c1.7,2.3,3.9,4.4,3.7,8.1
					c-0.1,2.7,2.3,5.4,5.9,5c2.6-0.3,5.2-0.7,7.8-1c2-0.2,4.2-0.3,3.9,2.8c0,0.3,0,0.8,0.2,0.9c6.8,3.7,3.5,12,7.7,16.9
					c0.3,0.3,0.6,0.7,0.9,1l0.1,0c-2.6,2.2-6.2,2.6-8.6,5.1c-1.5,1.6-2.2,2.5-0.5,4.7c1.8,2.2,3.7,4.8,3.9,8
					c-1.4,1.5-2.6,3.1-4.4,4.4c-4.4,3.1-5.9,8.4-8,13c-1.1,2.5,2.6,4.5,4.3,7.1c-3,0.2-3.7,3.3-6.4,4.2c-6.2,2.2-10.7-2-15.8-3.5
					c-2.7-0.8-5.1-2.1-7.8-0.5c-1.8,1-3.7,1.1-5.7,1.1c-0.4-1.4-1.1-3.3,0.3-4.1c7.9-4.2,5.7-11.4,4.6-17.5c-0.9-4.5-1.2-9-2.4-13.4
					c-0.7-2.6-0.3-5.7-3.8-6.7c-0.7-0.2-1-0.8-0.7-1.5c0.3-0.8,1-1.1,1.9-1.4c6.7-1.8,7.7-4.2,4.8-10.4c-1.2-2.5-2-5.1-4.2-7.1
					c-1.8-1.7-1.2-3.6,0.4-5.6c2.4-2.8,2.2-6,0.7-9.3c-0.6-1.3-1.5-2.7-2.9-1.9c-1.7,1-1.5-0.2-2.5-0.9c-5.1-3.4-3.7-11.3-10.1-13.7
					c-3-1.1-1-3.9-0.3-6c0.6-1.7,2.9-2.3,3.1-3.7c0.6-3.9,1.1-6.3,5-2.1c1.2,1.3,2.2-0.3,3.1-1.3c2.8-3.2,5-6.7,8.4-9.5
					c3-2.5,0.7-6.8-1.4-9.2c-2.3-2.5-2.4-6.1-5-8.3c-1.1-0.9-0.5-2.5,0.7-3.4c1.4-1.1,2.3-0.2,3.4,0.7c3.3,2.8,6.6,5.5,9.9,8.3
					C91.1,134.6,90.4,137.5,91.2,139.9z"/>
                                <path class="st1" d="M91.2,139.9c-6,4.9-6.3,7.4-0.5,11.3c5.2,3.4,8.5,9,14.2,11.9c2.3,1.1,2.6,4.1,1.6,6.6
					c-1.1,2.9-3.2,1.9-5.3,1.3c-2.3-0.6-4.4-0.4-4.1,2.9c0.1,1.1-0.5,2-1.5,2.3c-5.5,1.8-3,4.2-0.9,7.1c1.7,2.3,3.9,4.4,3.7,8.1
					c-0.1,2.7,2.3,5.4,5.9,5c2.6-0.3,5.2-0.7,7.8-1c2-0.2,4.2-0.3,3.9,2.8c0,0.3,0,0.8,0.2,0.9c6.8,3.7,3.5,12,7.7,16.9
					c0.3,0.3,0.6,0.7,0.9,1l0.1,0c-2.6,2.2-6.2,2.6-8.6,5.1c-1.5,1.6-2.2,2.5-0.5,4.7c1.8,2.2,3.7,4.8,3.9,8
					c-1.4,1.5-2.6,3.1-4.4,4.4c-4.4,3.1-5.9,8.4-8,13c-1.1,2.5,2.6,4.5,4.3,7.1c-3,0.2-3.7,3.3-6.4,4.2c-6.2,2.2-10.7-2-15.8-3.5
					c-2.7-0.8-5.1-2.1-7.8-0.5c-1.8,1-3.7,1.1-5.7,1.1c-0.4-1.4-1.1-3.3,0.3-4.1c7.9-4.2,5.7-11.4,4.6-17.5c-0.9-4.5-1.2-9-2.4-13.4
					c-0.7-2.6-0.3-5.7-3.8-6.7c-0.7-0.2-1-0.8-0.7-1.5c0.3-0.8,1-1.1,1.9-1.4c6.7-1.8,7.7-4.2,4.8-10.4c-1.2-2.5-2-5.1-4.2-7.1
					c-1.8-1.7-1.2-3.6,0.4-5.6c2.4-2.8,2.2-6,0.7-9.3c-0.6-1.3-1.5-2.7-2.9-1.9c-1.7,1-1.5-0.2-2.5-0.9c-5.1-3.4-3.7-11.3-10.1-13.7
					c-3-1.1-1-3.9-0.3-6c0.6-1.7,2.9-2.3,3.1-3.7c0.6-3.9,1.1-6.3,5-2.1c1.2,1.3,2.2-0.3,3.1-1.3c2.8-3.2,5-6.7,8.4-9.5
					c3-2.5,0.7-6.8-1.4-9.2c-2.3-2.5-2.4-6.1-5-8.3c-1.1-0.9-0.5-2.5,0.7-3.4c1.4-1.1,2.3-0.2,3.4,0.7c3.3,2.8,6.6,5.5,9.9,8.3
					C91.1,134.6,90.4,137.5,91.2,139.9z"/>
                            </g>
                            <g>
                                <a href="#sost-Narino" class="activada">
                                <path class="st0" d="M62.4,306.3c2.9,5.1,7.2,9.2,11.1,13.5c1.7,1.9,4.7,1.5,7,1c2.8-0.6,4.9-0.8,4.8,3c0,0.9,0.3,1.6,1.1,2.1
					c2.4,1.4,3,2.6,0.4,4.6c-1.1,0.9-0.9,3.2,0,4.6c0.7,1.2,2.1,0.9,3.5,0.9c2.9,0,5.7-1.1,8.7,0c3.7,1.3,6.3,2.7,4.3,7.3
					c-0.4,0.9,0,2.3,0.1,3.4c-9,3.4-8.8,3.3-6.5,13.8c0.4,1.8,3.3,5.4-1.7,6.4c-1.2,0.2-0.1,1.7,0,2.6c0.3,1.9,1.4,3.7,1,5.7
					c-5.6,0.3-10.6,0.6-14-5.9c-1.9-3.6-6.6-6.4-11.7-6.2c-3.2,0.1-5.9-1.2-8.7-2.9c-5.6-3.5-10.8-7.6-17.1-10.1
					c-5.1-2-8.4-6.7-12.7-9.8c-1-0.7-1.4-2-0.6-3.1c1.5-1.9,2.9-4.1,5.8-4.2c2,0,4,0.1,5.9,0.4c3.6,0.6,3.1-1.4,2.3-3.4
					c-0.4-1-1.1-2-2-2.8c-5.6-5.3-2.2-11.7,3.1-16.2C51.2,306.7,56.5,305.8,62.4,306.3z"/>
                                <path class="st1" d="M62.4,306.3c2.9,5.1,7.2,9.2,11.1,13.5c1.7,1.9,4.7,1.5,7,1c2.8-0.6,4.9-0.8,4.8,3c0,0.9,0.3,1.6,1.1,2.1
					c2.4,1.4,3,2.6,0.4,4.6c-1.1,0.9-0.9,3.2,0,4.6c0.7,1.2,2.1,0.9,3.5,0.9c2.9,0,5.7-1.1,8.7,0c3.7,1.3,6.3,2.7,4.3,7.3
					c-0.4,0.9,0,2.3,0.1,3.4c-9,3.4-8.8,3.3-6.5,13.8c0.4,1.8,3.3,5.4-1.7,6.4c-1.2,0.2-0.1,1.7,0,2.6c0.3,1.9,1.4,3.7,1,5.7
					c-5.6,0.3-10.6,0.6-14-5.9c-1.9-3.6-6.6-6.4-11.7-6.2c-3.2,0.1-5.9-1.2-8.7-2.9c-5.6-3.5-10.8-7.6-17.1-10.1
					c-5.1-2-8.4-6.7-12.7-9.8c-1-0.7-1.4-2-0.6-3.1c1.5-1.9,2.9-4.1,5.8-4.2c2,0,4,0.1,5.9,0.4c3.6,0.6,3.1-1.4,2.3-3.4
					c-0.4-1-1.1-2-2-2.8c-5.6-5.3-2.2-11.7,3.1-16.2C51.2,306.7,56.5,305.8,62.4,306.3z"/>
                                </a>
                            </g>
                            <g>
                                <path class="st0" d="M192,159.9c-2.7,2.4-5.3,4.9-8.2,7c-3.9,2.9-5.3,2.2-6.9-2.3c-1-3-0.9-5.7,1.1-9.8c-3,1.9-4.7,4.6-7.1,2.1
					c-2.4-2.5-0.9-5.2-0.2-7.8c0.3-1.1,3.1-1.4,1.8-2.9c-2.4-2.7,0-7.5-4.5-9.2c-2.4-0.9-4.6-2.6-6.8-3.9c1.1-1.2,2.1-2.5,3.2-3.7
					c4.7-1.2,6.4-4.2,4.9-8.5c-0.6-1.6-2.5-3.3-1.6-4.9c3.2-5.5-0.8-7.3-4.4-9.2c-3.7-1.9-5.7-4.9-5.9-8.8c-0.1-2.4-0.9-4.3-2.8-5.4
					c-4-2.2-7.4-6.2-12.8-4.3c0.6-3.9,0.6-4-2.5-7.2c-1.1-1.1-0.7-2.4-0.9-3.7c2-1.5,0.3-2.4-0.4-3.5c-3.4-5.6-2.1-13.1,2.8-16
					c0.8-0.5,1.8-0.5,2.8-0.7c0.6,4.1,2.7,7.4,6.2,9.4c2.1,1.2,5,0.8,6.9,2.8c-0.3,2.3-0.8,4.6,2.1,5.9c0.9,0.4,1.8,1.4,1.5,2.3
					c-1.9,4.9,1.5,9.3,1.2,14c-0.1,1,0.1,1.9,1.3,2.4c4.1,1.7,6.7,6.3,11.9,5.9c1-0.1,2.5,0.5,3,1.3c3.8,5.8,9.7,5.5,15.4,5.5
					c-0.1,4.1,2,7.7,2.6,11.7c0.9,5.3,1,10.6,1.3,15.9c-5.3-0.2-2.9,3.6-2.5,5.7c0.7,3.2,2.5,6.1,0.4,9.4
					C192.9,152.4,192.6,156.2,192,159.9z"/>
                                <path class="st1" d="M192,159.9c-2.7,2.4-5.3,4.9-8.2,7c-3.9,2.9-5.3,2.2-6.9-2.3c-1-3-0.9-5.7,1.1-9.8c-3,1.9-4.7,4.6-7.1,2.1
					c-2.4-2.5-0.9-5.2-0.2-7.8c0.3-1.1,3.1-1.4,1.8-2.9c-2.4-2.7,0-7.5-4.5-9.2c-2.4-0.9-4.6-2.6-6.8-3.9c1.1-1.2,2.1-2.5,3.2-3.7
					c4.7-1.2,6.4-4.2,4.9-8.5c-0.6-1.6-2.5-3.3-1.6-4.9c3.2-5.5-0.8-7.3-4.4-9.2c-3.7-1.9-5.7-4.9-5.9-8.8c-0.1-2.4-0.9-4.3-2.8-5.4
					c-4-2.2-7.4-6.2-12.8-4.3c0.6-3.9,0.6-4-2.5-7.2c-1.1-1.1-0.7-2.4-0.9-3.7c2-1.5,0.3-2.4-0.4-3.5c-3.4-5.6-2.1-13.1,2.8-16
					c0.8-0.5,1.8-0.5,2.8-0.7c0.6,4.1,2.7,7.4,6.2,9.4c2.1,1.2,5,0.8,6.9,2.8c-0.3,2.3-0.8,4.6,2.1,5.9c0.9,0.4,1.8,1.4,1.5,2.3
					c-1.9,4.9,1.5,9.3,1.2,14c-0.1,1,0.1,1.9,1.3,2.4c4.1,1.7,6.7,6.3,11.9,5.9c1-0.1,2.5,0.5,3,1.3c3.8,5.8,9.7,5.5,15.4,5.5
					c-0.1,4.1,2,7.7,2.6,11.7c0.9,5.3,1,10.6,1.3,15.9c-5.3-0.2-2.9,3.6-2.5,5.7c0.7,3.2,2.5,6.1,0.4,9.4
					C192.9,152.4,192.6,156.2,192,159.9z"/>
                            </g>
                            <g>
                                <path class="st0" d="M164.4,129.3c-1.1,1.3-2.1,2.5-3.2,3.7c-2.7,2.9-6.1,4.5-10,4c-3.3-0.4-3.7,2.8-5.7,4
					c-3.4,2.1-4.6,7.6-10.3,6.5c-1-0.2-1.3,1.6-1.7,2.7c-3.6,8.4-13.2,12.5-21.7,9.4c-3.3-1.2-7.1-8.9-5.4-13.3
					c2.4-6.1,1.8-13.3,7.7-18.2c2.1-1.8,3.2-5.6-1.3-7.5c-3-1.3-3.8-3.9-4-6.8c3.4-4.9,6.5-10.1,10.4-14.6c3.2-3.6,8.1-2.9,12.6-2.6
					c0,2.2,1.7,2.4,3.2,3.1c3.8,1.9,7.3,4.3,11.1,6.4c1.7,1,2.2,2.6,2.2,4.1c0,2-1.8,2-3.3,2.1c-1.9,0.1-2,1-1.5,2.6
					c0.6,1.9,0.4,4.2,1.4,5.7c1.6,2.3,3.2,5.9,6.9,4.9C158.2,123.6,159.5,123.7,164.4,129.3z"/>
                                <path class="st1" d="M164.4,129.3c-1.1,1.3-2.1,2.5-3.2,3.7c-2.7,2.9-6.1,4.5-10,4c-3.3-0.4-3.7,2.8-5.7,4
					c-3.4,2.1-4.6,7.6-10.3,6.5c-1-0.2-1.3,1.6-1.7,2.7c-3.6,8.4-13.2,12.5-21.7,9.4c-3.3-1.2-7.1-8.9-5.4-13.3
					c2.4-6.1,1.8-13.3,7.7-18.2c2.1-1.8,3.2-5.6-1.3-7.5c-3-1.3-3.8-3.9-4-6.8c3.4-4.9,6.5-10.1,10.4-14.6c3.2-3.6,8.1-2.9,12.6-2.6
					c0,2.2,1.7,2.4,3.2,3.1c3.8,1.9,7.3,4.3,11.1,6.4c1.7,1,2.2,2.6,2.2,4.1c0,2-1.8,2-3.3,2.1c-1.9,0.1-2,1-1.5,2.6
					c0.6,1.9,0.4,4.2,1.4,5.7c1.6,2.3,3.2,5.9,6.9,4.9C158.2,123.6,159.5,123.7,164.4,129.3z"/>
                            </g>
                            <g>
                                <path class="st0" d="M343.3,190.8c-1.2,3.6-4.4,3.3-7.1,3.6c-1.9,0.2-3.9,0-5.8,0c-3-2.7-6.8-4.1-10.2-6.1
					c-2.6-1.6-6.9-3-10.2-1.1c-3.5,1.9-7,1.3-10.6,1.8c-6.9,0.8-13.8-2-20.8,0.5c-6,2.1-12.7,0.4-18.7,3c-5,2.2-9.9,3.7-13.9-1.8
					c-0.1-0.2-0.9,0.1-1.4,0.2c-0.1-3.4,2.8-4.6,4.8-6.4c1.2-1.1,3.3-1.6,3.5-3.2c0.6-5.7,4.2-10.3,5.5-15.7
					c9.9-2.1,19.7-0.9,29.5,0.3c0.9,0.1,2.1,0.1,2.8-0.3c6.9-4.2,13.7-2.6,20.6,0c0.8,0.3,1.7,0.9,2.3,0.6c6-2.8,8.6,2,11.7,5.3
					C331.3,177.8,337.3,184.3,343.3,190.8z"/>
                                <path class="st1" d="M343.3,190.8c-1.2,3.6-4.4,3.3-7.1,3.6c-1.9,0.2-3.9,0-5.8,0c-3-2.7-6.8-4.1-10.2-6.1
					c-2.6-1.6-6.9-3-10.2-1.1c-3.5,1.9-7,1.3-10.6,1.8c-6.9,0.8-13.8-2-20.8,0.5c-6,2.1-12.7,0.4-18.7,3c-5,2.2-9.9,3.7-13.9-1.8
					c-0.1-0.2-0.9,0.1-1.4,0.2c-0.1-3.4,2.8-4.6,4.8-6.4c1.2-1.1,3.3-1.6,3.5-3.2c0.6-5.7,4.2-10.3,5.5-15.7
					c9.9-2.1,19.7-0.9,29.5,0.3c0.9,0.1,2.1,0.1,2.8-0.3c6.9-4.2,13.7-2.6,20.6,0c0.8,0.3,1.7,0.9,2.3,0.6c6-2.8,8.6,2,11.7,5.3
					C331.3,177.8,337.3,184.3,343.3,190.8z"/>
                            </g>
                            <g>
                                <path class="st0" d="M96.1,375.2c0.4-2-0.7-3.8-1-5.7c-0.1-0.9-1.2-2.3,0-2.6c5.1-1,2.1-4.6,1.7-6.4
					c-2.3-10.4-2.5-10.4,6.5-13.8c1-0.1,2.1,0,2.6-1c1.1-2.1,3-2.6,4.9-1.8c1.9,0.8,1.9,2.8,2.1,4.6c0.3,2.4-1.2,5.9,2.4,6.5
					c4.2,0.7,8.8,2.9,12.4-1.6c2,0.6,4.7-0.8,6,2.2c1.4,3.2,4.3,3.6,7.3,3.6c4.7,0,9.2,1.9,13.1,3.5c3.6,1.4,5,7.9,10.6,8.6
					c0.2,0,0.5,0.6,0.4,0.8c-1,5.9,3.5,5.4,7,5.9c2.4,0.4,3.8,1,3.8,3.9c0.1,4.2,2.8,6.3,6.9,5.6c1.8-0.3,3.7-0.8,5.2,0.4
					c4.3,3.7,9.8,4.9,14.8,7.2c-5,2.8-11,2.9-16,5.8c-2.9-1.8-6.4-3.1-8.5-5.6c-3.7-4.5-9.5-3.9-13.5-7c-2-1.5-4.3-1.7-6.6-1.3
					c-4.5,1-8.4-0.3-12-2.7c-1.2-0.8-2.2-1.2-3.6-1.2c-4.1,0.2-7.2-1.8-9.9-4.5c-1.8-1.7-3.4-3.6-5.8-4.3c-3.3-1-7.2-3.9-8.3,2.7
					c-0.4,2.1-3.9,0.4-4.9,2.5c-4.5-4-10.6,0.5-15.2-2.7C97.5,376.4,96.8,375.7,96.1,375.2z"/>
                                <path class="st1" d="M96.1,375.2c0.4-2-0.7-3.8-1-5.7c-0.1-0.9-1.2-2.3,0-2.6c5.1-1,2.1-4.6,1.7-6.4
					c-2.3-10.4-2.5-10.4,6.5-13.8c1-0.1,2.1,0,2.6-1c1.1-2.1,3-2.6,4.9-1.8c1.9,0.8,1.9,2.8,2.1,4.6c0.3,2.4-1.2,5.9,2.4,6.5
					c4.2,0.7,8.8,2.9,12.4-1.6c2,0.6,4.7-0.8,6,2.2c1.4,3.2,4.3,3.6,7.3,3.6c4.7,0,9.2,1.9,13.1,3.5c3.6,1.4,5,7.9,10.6,8.6
					c0.2,0,0.5,0.6,0.4,0.8c-1,5.9,3.5,5.4,7,5.9c2.4,0.4,3.8,1,3.8,3.9c0.1,4.2,2.8,6.3,6.9,5.6c1.8-0.3,3.7-0.8,5.2,0.4
					c4.3,3.7,9.8,4.9,14.8,7.2c-5,2.8-11,2.9-16,5.8c-2.9-1.8-6.4-3.1-8.5-5.6c-3.7-4.5-9.5-3.9-13.5-7c-2-1.5-4.3-1.7-6.6-1.3
					c-4.5,1-8.4-0.3-12-2.7c-1.2-0.8-2.2-1.2-3.6-1.2c-4.1,0.2-7.2-1.8-9.9-4.5c-1.8-1.7-3.4-3.6-5.8-4.3c-3.3-1-7.2-3.9-8.3,2.7
					c-0.4,2.1-3.9,0.4-4.9,2.5c-4.5-4-10.6,0.5-15.2-2.7C97.5,376.4,96.8,375.7,96.1,375.2z"/>
                            </g>
                            <g>
                                <path class="st0" d="M258.3,165.4c-1.3,5.4-4.8,10-5.5,15.7c-0.2,1.7-2.4,2.1-3.5,3.2c-1.9,1.9-4.8,3.1-4.8,6.4
					c-0.3,2.6,2.1,5.1,0.7,7.6c-1.7,3.1-1,4.3,2.3,5.4c3.8,1.3,1.1,4.3,0.9,6.6c-0.1,0.9,0.1,2.6-1.2,1.9c-3.6-2.1-4.1,1.1-5.5,2.8
					c-2.2,2.7-4.6,4.6-8.4,3.9c-3.8-0.7-6.3,1.7-5.5,5.5c0.3,1.5,1.2,3.1-0.3,4c-3.8,2.2-3.3,5.9-3.7,9.3c-0.1,0.3-0.1,0.7-0.2,1
					c-4.2,1.9-6.9-1-9.3-3.4c-1.8-1.8-3.2-3.6-6.7-3.7c2.6-2.6,2-4.8,1.2-7.3c-1-3.1-4.1-4.8-5-8.2c-0.5-2.1-7.6-2.8-8.7-1.3
					c-1.3,1.9-3.4,4.1-5.1,2.9c-2.9-2.1-8.4-2-8.2-6.6c0.3-6.6-3.1-5.8-7.2-4.8c-1.3,0.3-2.5,0.6-3.8,0.9c-0.2,0-0.4,0-0.6-0.1
					c0-1.9-0.2-3.9,0.9-5.7c0.8-1.4,1.6-2.8,0.2-4.5c-2-2.6,0-4.1,1.8-5.6c2.3,2.3,2.8,7.7,8.2,5.2c0.2-0.1,1.1,0.6,1,0.8
					c-1.3,5.4,3.7,5,6.2,6.5c3.3,2,6.7,5.2,11.1,1.6c0.7-0.6,2.4,0.2,4,0.3c0.1-1.8,0-3.6,0.3-5.4c0.4-1.9,1.8-3.1,3.9-3.1
					c1.2,0,2.8-0.6,3.6,0.9c0.8,1.5,0.1,2.8-1,4c-0.6,0.6-1.9,1.3-0.6,2.3c1.1,0.9,1.6-0.5,2.3-1c3.2-2.5,6.4-4.6,10.6-5.5
					c5.6-1.1,10.9-10.4,9.1-14.6c-0.3-0.8-1.7-1.5-0.6-2.5c1.1-0.9,2.2-0.2,2.9,0.8c2.4,3.6,3.4,1.2,4.7-1c2.2-3.5,1.6-7.3,1.5-11
					c1.5,0.3,3.5,1.8,4.5,0.2c2.5-4,6.7-3.9,10.5-4.9C256.3,165.3,257.3,165.3,258.3,165.4z"/>
                                <path class="st1" d="M258.3,165.4c-1.3,5.4-4.8,10-5.5,15.7c-0.2,1.7-2.4,2.1-3.5,3.2c-1.9,1.9-4.8,3.1-4.8,6.4
					c-0.3,2.6,2.1,5.1,0.7,7.6c-1.7,3.1-1,4.3,2.3,5.4c3.8,1.3,1.1,4.3,0.9,6.6c-0.1,0.9,0.1,2.6-1.2,1.9c-3.6-2.1-4.1,1.1-5.5,2.8
					c-2.2,2.7-4.6,4.6-8.4,3.9c-3.8-0.7-6.3,1.7-5.5,5.5c0.3,1.5,1.2,3.1-0.3,4c-3.8,2.2-3.3,5.9-3.7,9.3c-0.1,0.3-0.1,0.7-0.2,1
					c-4.2,1.9-6.9-1-9.3-3.4c-1.8-1.8-3.2-3.6-6.7-3.7c2.6-2.6,2-4.8,1.2-7.3c-1-3.1-4.1-4.8-5-8.2c-0.5-2.1-7.6-2.8-8.7-1.3
					c-1.3,1.9-3.4,4.1-5.1,2.9c-2.9-2.1-8.4-2-8.2-6.6c0.3-6.6-3.1-5.8-7.2-4.8c-1.3,0.3-2.5,0.6-3.8,0.9c-0.2,0-0.4,0-0.6-0.1
					c0-1.9-0.2-3.9,0.9-5.7c0.8-1.4,1.6-2.8,0.2-4.5c-2-2.6,0-4.1,1.8-5.6c2.3,2.3,2.8,7.7,8.2,5.2c0.2-0.1,1.1,0.6,1,0.8
					c-1.3,5.4,3.7,5,6.2,6.5c3.3,2,6.7,5.2,11.1,1.6c0.7-0.6,2.4,0.2,4,0.3c0.1-1.8,0-3.6,0.3-5.4c0.4-1.9,1.8-3.1,3.9-3.1
					c1.2,0,2.8-0.6,3.6,0.9c0.8,1.5,0.1,2.8-1,4c-0.6,0.6-1.9,1.3-0.6,2.3c1.1,0.9,1.6-0.5,2.3-1c3.2-2.5,6.4-4.6,10.6-5.5
					c5.6-1.1,10.9-10.4,9.1-14.6c-0.3-0.8-1.7-1.5-0.6-2.5c1.1-0.9,2.2-0.2,2.9,0.8c2.4,3.6,3.4,1.2,4.7-1c2.2-3.5,1.6-7.3,1.5-11
					c1.5,0.3,3.5,1.8,4.5,0.2c2.5-4,6.7-3.9,10.5-4.9C256.3,165.3,257.3,165.3,258.3,165.4z"/>
                            </g>
                            <g>
                                <path class="st0" d="M75.9,260.7c2,0,3.9-0.1,5.7-1.1c2.7-1.5,5.1-0.2,7.8,0.5c5.1,1.5,9.7,5.7,15.8,3.5c2.7-1,3.4-4,6.4-4.2
					c-1.7-2.6-5.5-4.6-4.3-7.1c2.1-4.6,3.6-9.9,8-13c1.8-1.3,3-2.9,4.4-4.4c4.7-3.7,5.3,1.9,7.5,3.5c2.9,2.1,4.6,7.5,9.6,2.9
					c0.8-0.7,1.9-0.4,2.8,0c2.1,1,4.1,0.5,6.1-0.5c1.3,1.2,0.6,2.2-0.5,2.8c-6.8,3.7-6.5,11.2-9,17.1c-0.4,1,0.1,2.7-0.9,3.1
					c-8.2,3.4-6.7,11.5-8.5,17.9c-0.5,1.6-0.9,3.1-1.6,4.6c-0.8,1.9-2,2.1-3.4,1c-1.9-1.5-4.1-1.1-6.2-1.5c-3.5-0.7-4.8,0-5.2,3.4
					c-0.1,0.9-0.8,1.7-1.9,2c-9.4,3.1-18.6,3-27-2.7c-1.9-1.3-3.1,0.3-4.5-0.1c1.7-3.8,4.9-6.7,7.6-9.6c3.2-3.3,3.3-7.9,6.6-10.1
					c-1.3-3.5-9.4,4.7-6.4-5.3C80.6,266.1,77.5,265.4,75.9,260.7z"/>
                                <path class="st1" d="M75.9,260.7c2,0,3.9-0.1,5.7-1.1c2.7-1.5,5.1-0.2,7.8,0.5c5.1,1.5,9.7,5.7,15.8,3.5c2.7-1,3.4-4,6.4-4.2
					c-1.7-2.6-5.5-4.6-4.3-7.1c2.1-4.6,3.6-9.9,8-13c1.8-1.3,3-2.9,4.4-4.4c4.7-3.7,5.3,1.9,7.5,3.5c2.9,2.1,4.6,7.5,9.6,2.9
					c0.8-0.7,1.9-0.4,2.8,0c2.1,1,4.1,0.5,6.1-0.5c1.3,1.2,0.6,2.2-0.5,2.8c-6.8,3.7-6.5,11.2-9,17.1c-0.4,1,0.1,2.7-0.9,3.1
					c-8.2,3.4-6.7,11.5-8.5,17.9c-0.5,1.6-0.9,3.1-1.6,4.6c-0.8,1.9-2,2.1-3.4,1c-1.9-1.5-4.1-1.1-6.2-1.5c-3.5-0.7-4.8,0-5.2,3.4
					c-0.1,0.9-0.8,1.7-1.9,2c-9.4,3.1-18.6,3-27-2.7c-1.9-1.3-3.1,0.3-4.5-0.1c1.7-3.8,4.9-6.7,7.6-9.6c3.2-3.3,3.3-7.9,6.6-10.1
					c-1.3-3.5-9.4,4.7-6.4-5.3C80.6,266.1,77.5,265.4,75.9,260.7z"/>
                            </g>
                            <g>
                                <path class="st0" d="M196.9,134.1c-0.3-5.3-0.4-10.5-1.3-15.9c-0.7-4-2.8-7.6-2.6-11.7c-0.5-4.7-5-7.5-5.9-12
					c0-0.1-0.2-0.2-0.4-0.3c-1.2-0.9-4.1-0.4-2.7-3.4c1-2.1,2.5-1.8,4.5-1.6c1.7,0.2,4.3,0.3,5.1-1.7c0.6-1.7-0.9-3.4-2.1-4.7
					c-1.4-1.4-2.8-2.7-4.2-4.1c-3.9-4.1-3.9-6.4-0.5-11.1c1.7-2.3,3.8-3.5,6.4-4.2c4.6-1.1,6-4,6.1-8.5c0-1.7-3.4-1.8-1.2-3.8
					c2.3,0.3,4.5-0.4,6.7-0.8c1.5-0.3,4.4-0.7,4.4,0.6c-0.1,3.4,2.5,3.1,4.2,4c2.3,1.3,3.1,2.4,1.4,4.9c-1.7,2.4-0.9,3.6,2.2,3.3
					c2.7-0.3,5.5,0,8.3,0c-2.5,5.5-4.7,10.9-3.5,17.3c0.4,1.9-1.4,5.2-3.2,6.4c-5.1,3.4-6.4,8.9-8.7,13.8c-2.8,0.1-2.8,2-2.9,4.1
					c-0.2,2.9,1.1,6.2-0.6,8.7c-3.5,4.9-1.4,9,0.7,13.4c1.4-0.6,1.2-2.6,2.8-2.8c0.7,1.7-0.1,3.1-0.5,4.7c-0.5,1.9-1.1,4.3,0.4,5.6
					c3.4,2.9,1.7,6,0.5,8.8c-1.3,3.2-4.5,2.8-7.3,2.9c-1.6-1.6-6.7-0.5-5.3-3.3C199.3,139,197.2,136.9,196.9,134.1z"/>
                                <path class="st1" d="M196.9,134.1c-0.3-5.3-0.4-10.5-1.3-15.9c-0.7-4-2.8-7.6-2.6-11.7c-0.5-4.7-5-7.5-5.9-12
					c0-0.1-0.2-0.2-0.4-0.3c-1.2-0.9-4.1-0.4-2.7-3.4c1-2.1,2.5-1.8,4.5-1.6c1.7,0.2,4.3,0.3,5.1-1.7c0.6-1.7-0.9-3.4-2.1-4.7
					c-1.4-1.4-2.8-2.7-4.2-4.1c-3.9-4.1-3.9-6.4-0.5-11.1c1.7-2.3,3.8-3.5,6.4-4.2c4.6-1.1,6-4,6.1-8.5c0-1.7-3.4-1.8-1.2-3.8
					c2.3,0.3,4.5-0.4,6.7-0.8c1.5-0.3,4.4-0.7,4.4,0.6c-0.1,3.4,2.5,3.1,4.2,4c2.3,1.3,3.1,2.4,1.4,4.9c-1.7,2.4-0.9,3.6,2.2,3.3
					c2.7-0.3,5.5,0,8.3,0c-2.5,5.5-4.7,10.9-3.5,17.3c0.4,1.9-1.4,5.2-3.2,6.4c-5.1,3.4-6.4,8.9-8.7,13.8c-2.8,0.1-2.8,2-2.9,4.1
					c-0.2,2.9,1.1,6.2-0.6,8.7c-3.5,4.9-1.4,9,0.7,13.4c1.4-0.6,1.2-2.6,2.8-2.8c0.7,1.7-0.1,3.1-0.5,4.7c-0.5,1.9-1.1,4.3,0.4,5.6
					c3.4,2.9,1.7,6,0.5,8.8c-1.3,3.2-4.5,2.8-7.3,2.9c-1.6-1.6-6.7-0.5-5.3-3.3C199.3,139,197.2,136.9,196.9,134.1z"/>
                            </g>
                            <g>
                                <path class="st0" d="M202.7,145.9c2.8-0.1,6,0.3,7.3-2.9c1.2-2.8,2.9-5.9-0.5-8.8c-1.5-1.3-1-3.7-0.4-5.6c0.4-1.6,1.2-3,0.5-4.7
					c-1.6,0.2-1.3,2.2-2.8,2.8c-2.1-4.4-4.2-8.5-0.7-13.4c1.7-2.5,0.5-5.8,0.6-8.7c0.1-2.1,0.1-4,2.9-4.1c3.4,1.9,6-0.4,8.3-2.1
					c2.5-2,4-0.9,4,1.2c0.1,3.1,0.8,3.1,3.4,2.2c2-0.7,3.8,0.4,4.4,2.8c0.3,1.1,0.6,2.2,0.7,3.4c0.8,6.1,3.4,11,8.7,14.6
					c6.4,4.2,4.6,7.4,2.4,12.7c-2.1,5-1.1,9.9-0.9,14.9c0.1,1.5,1.6,3.8,3.4,3.7c4.4-0.4,6.3,1.6,7.5,5.5c0.6,2.1,2.4,3.9,3.6,5.8
					c-3.8,1-7.9,0.8-10.5,4.9c-1,1.6-3,0.1-4.5-0.2c-2.5-0.6-4.2-2.6-7.4-2.7c-5-0.2-5-5.3-5.3-9.3c-0.5-6.3-8.2-12.2-12.7-9.7
					C209.1,151.4,207.2,151,202.7,145.9z"/>
                                <path class="st1" d="M202.7,145.9c2.8-0.1,6,0.3,7.3-2.9c1.2-2.8,2.9-5.9-0.5-8.8c-1.5-1.3-1-3.7-0.4-5.6c0.4-1.6,1.2-3,0.5-4.7
					c-1.6,0.2-1.3,2.2-2.8,2.8c-2.1-4.4-4.2-8.5-0.7-13.4c1.7-2.5,0.5-5.8,0.6-8.7c0.1-2.1,0.1-4,2.9-4.1c3.4,1.9,6-0.4,8.3-2.1
					c2.5-2,4-0.9,4,1.2c0.1,3.1,0.8,3.1,3.4,2.2c2-0.7,3.8,0.4,4.4,2.8c0.3,1.1,0.6,2.2,0.7,3.4c0.8,6.1,3.4,11,8.7,14.6
					c6.4,4.2,4.6,7.4,2.4,12.7c-2.1,5-1.1,9.9-0.9,14.9c0.1,1.5,1.6,3.8,3.4,3.7c4.4-0.4,6.3,1.6,7.5,5.5c0.6,2.1,2.4,3.9,3.6,5.8
					c-3.8,1-7.9,0.8-10.5,4.9c-1,1.6-3,0.1-4.5-0.2c-2.5-0.6-4.2-2.6-7.4-2.7c-5-0.2-5-5.3-5.3-9.3c-0.5-6.3-8.2-12.2-12.7-9.7
					C209.1,151.4,207.2,151,202.7,145.9z"/>
                            </g>
                            <g>
                                <path class="st0" d="M198,51.1c-2.1,1.9,1.3,2,1.2,3.8c-0.1,4.5-1.6,7.4-6.1,8.5c-2.6,0.6-4.7,1.8-6.4,4.2
					c-3.4,4.7-3.4,7.1,0.5,11.1c1.4,1.4,2.8,2.7,4.2,4.1c1.3,1.3,2.8,3,2.1,4.7c-0.8,2-3.4,1.9-5.1,1.7c-2-0.2-3.5-0.6-4.5,1.6
					c-1.4,3,1.5,2.5,2.7,3.4c0.1,0.1,0.3,0.2,0.4,0.3c0.9,4.5,5.4,7.3,5.9,12c-5.8-0.1-11.7,0.3-15.4-5.5c-0.5-0.8-2-1.4-3-1.3
					c-5.2,0.4-7.8-4.2-11.9-5.9c-1.1-0.5-1.3-1.4-1.3-2.4c0.3-4.7-3.1-9.1-1.2-14c0.4-0.9-0.6-1.9-1.5-2.3c-2.8-1.3-2.4-3.5-2.1-5.9
					c1.4-1,1.7-2.7,2.5-4.1c2.9-5.1,2.4-10.7,2.7-16.2c1.9-2.3,4.4-1.9,6.8-1.4c2.4,0.5,4.8,0.8,7.3,0.2c2.3-0.5,3.1-1.3,2.9-4
					c-0.5-5.3,1.9-7.3,7.1-6.1c4.4,1,8.7,1.6,13.2,0.8C196.7,42.5,195.7,46.7,198,51.1z"/>
                                <path class="st1" d="M198,51.1c-2.1,1.9,1.3,2,1.2,3.8c-0.1,4.5-1.6,7.4-6.1,8.5c-2.6,0.6-4.7,1.8-6.4,4.2
					c-3.4,4.7-3.4,7.1,0.5,11.1c1.4,1.4,2.8,2.7,4.2,4.1c1.3,1.3,2.8,3,2.1,4.7c-0.8,2-3.4,1.9-5.1,1.7c-2-0.2-3.5-0.6-4.5,1.6
					c-1.4,3,1.5,2.5,2.7,3.4c0.1,0.1,0.3,0.2,0.4,0.3c0.9,4.5,5.4,7.3,5.9,12c-5.8-0.1-11.7,0.3-15.4-5.5c-0.5-0.8-2-1.4-3-1.3
					c-5.2,0.4-7.8-4.2-11.9-5.9c-1.1-0.5-1.3-1.4-1.3-2.4c0.3-4.7-3.1-9.1-1.2-14c0.4-0.9-0.6-1.9-1.5-2.3c-2.8-1.3-2.4-3.5-2.1-5.9
					c1.4-1,1.7-2.7,2.5-4.1c2.9-5.1,2.4-10.7,2.7-16.2c1.9-2.3,4.4-1.9,6.8-1.4c2.4,0.5,4.8,0.8,7.3,0.2c2.3-0.5,3.1-1.3,2.9-4
					c-0.5-5.3,1.9-7.3,7.1-6.1c4.4,1,8.7,1.6,13.2,0.8C196.7,42.5,195.7,46.7,198,51.1z"/>
                            </g>
                            <g>
                                <path class="st0" d="M198,51.1c-2.3-4.5-1.4-8.6,1-12.7c9.6,0.3,16.1-5.8,22.8-11.4c2.3-1.9,5.2-3.2,8.1-3.4
					c8.3-0.7,13.8-4.4,15.4-12.9c0.4-2.3,2-2.5,3.6-1.3c2.4,1.6,3.5,2.4,4.5-1.6c0.6-2.3,3.3-4.5,5-6.6c1.3-1.6,4.2,0.4,6.4,1.1
					c5,1.6,9.5,3.7,12,8.7c0.9,1.7,1,2.8-0.7,4.2c-5.4,4.7-11.4,8.1-18.5,9.3c-4,0.7-6.7,2.3-8.7,6.1c-2.7,5.1-5.2,10.4-11.6,12.6
					c-3.2,1.1-4.6,5-5.9,8.2c-1.7,4.2-4,8-6.4,11.9c-2.8,0-5.6-0.3-8.3,0c-3.1,0.3-3.9-0.9-2.2-3.3c1.8-2.5,0.9-3.7-1.4-4.9
					c-1.7-0.9-4.2-0.6-4.2-4c0-1.3-2.9-0.9-4.4-0.6C202.5,50.7,200.3,51.4,198,51.1z"/>
                                <path class="st1" d="M198,51.1c-2.3-4.5-1.4-8.6,1-12.7c9.6,0.3,16.1-5.8,22.8-11.4c2.3-1.9,5.2-3.2,8.1-3.4
					c8.3-0.7,13.8-4.4,15.4-12.9c0.4-2.3,2-2.5,3.6-1.3c2.4,1.6,3.5,2.4,4.5-1.6c0.6-2.3,3.3-4.5,5-6.6c1.3-1.6,4.2,0.4,6.4,1.1
					c5,1.6,9.5,3.7,12,8.7c0.9,1.7,1,2.8-0.7,4.2c-5.4,4.7-11.4,8.1-18.5,9.3c-4,0.7-6.7,2.3-8.7,6.1c-2.7,5.1-5.2,10.4-11.6,12.6
					c-3.2,1.1-4.6,5-5.9,8.2c-1.7,4.2-4,8-6.4,11.9c-2.8,0-5.6-0.3-8.3,0c-3.1,0.3-3.9-0.9-2.2-3.3c1.8-2.5,0.9-3.7-1.4-4.9
					c-1.7-0.9-4.2-0.6-4.2-4c0-1.3-2.9-0.9-4.4-0.6C202.5,50.7,200.3,51.4,198,51.1z"/>
                            </g>
                            <g>
                                <path class="st0" d="M164.4,129.3c-4.9-5.6-6.2-5.7-12.8-3.7c-3.7,1.1-5.3-2.5-6.9-4.9c-1-1.5-0.8-3.8-1.4-5.7
					c-0.5-1.6-0.4-2.5,1.5-2.6c1.5-0.1,3.3-0.1,3.3-2.1c0-1.6-0.5-3.2-2.2-4.1c-3.7-2.1-7.3-4.5-11.1-6.4c-1.5-0.8-3.2-1-3.2-3.1
					c4.3-2.1,5.3-4.9,1.9-8.7c-0.8-0.9,0.6-11.4,1.5-11.9c1.5-0.8,1.9,1.6,3.4,1.2c0.2,1.3-0.1,2.6,0.9,3.7c3.1,3.2,3.1,3.2,2.5,7.2
					c5.4-1.8,8.8,2.1,12.8,4.3c1.9,1,2.7,2.9,2.8,5.4c0.2,3.9,2.2,6.9,5.9,8.8c3.6,1.9,7.6,3.7,4.4,9.2c-0.9,1.6,1,3.3,1.6,4.9
					C170.8,125.1,169.2,128.1,164.4,129.3z"/>
                                <path class="st1" d="M164.4,129.3c-4.9-5.6-6.2-5.7-12.8-3.7c-3.7,1.1-5.3-2.5-6.9-4.9c-1-1.5-0.8-3.8-1.4-5.7
					c-0.5-1.6-0.4-2.5,1.5-2.6c1.5-0.1,3.3-0.1,3.3-2.1c0-1.6-0.5-3.2-2.2-4.1c-3.7-2.1-7.3-4.5-11.1-6.4c-1.5-0.8-3.2-1-3.2-3.1
					c4.3-2.1,5.3-4.9,1.9-8.7c-0.8-0.9,0.6-11.4,1.5-11.9c1.5-0.8,1.9,1.6,3.4,1.2c0.2,1.3-0.1,2.6,0.9,3.7c3.1,3.2,3.1,3.2,2.5,7.2
					c5.4-1.8,8.8,2.1,12.8,4.3c1.9,1,2.7,2.9,2.8,5.4c0.2,3.9,2.2,6.9,5.9,8.8c3.6,1.9,7.6,3.7,4.4,9.2c-0.9,1.6,1,3.3,1.6,4.9
					C170.8,125.1,169.2,128.1,164.4,129.3z"/>
                            </g>
                            <g>
                                <path class="st0" d="M161.8,48.9c-0.2,5.5,0.3,11.1-2.7,16.2c-0.8,1.4-1,3.1-2.5,4.1c-1.9-2-4.8-1.6-6.9-2.8
					c-3.5-2-5.6-5.3-6.2-9.4c0.5-1.9,0.9-3.7,3.5-4c2.3-0.3,3.9-2.2,5.6-3.7C155.7,46.6,158.7,46.1,161.8,48.9z"/>
                                <path class="st1" d="M161.8,48.9c-0.2,5.5,0.3,11.1-2.7,16.2c-0.8,1.4-1,3.1-2.5,4.1c-1.9-2-4.8-1.6-6.9-2.8
					c-3.5-2-5.6-5.3-6.2-9.4c0.5-1.9,0.9-3.7,3.5-4c2.3-0.3,3.9-2.2,5.6-3.7C155.7,46.6,158.7,46.1,161.8,48.9z"/>
                            </g>
                            <g>
                                <path class="st0" d="M202.8,395.2c-4.9-2.4-10.5-3.5-14.8-7.2c-1.4-1.2-3.3-0.7-5.2-0.4c-4.1,0.7-6.9-1.4-6.9-5.6
					c-0.1-3-1.5-3.6-3.8-3.9c-3.5-0.5-8,0-7-5.9c0-0.3-0.2-0.8-0.4-0.8c-5.6-0.7-7-7.2-10.6-8.6c-3.9-1.5-8.4-3.5-13.1-3.5
					c-3,0-6-0.4-7.3-3.6c-1.3-3-3.9-1.6-6-2.2c-4.4-3.7-7.4-7.8-3.9-13.8c6.6,0.9,10.4-2.5,13-8c0.4-0.9,1.1-1.6,1.8-2.3
					c5.5-6.2,11.7-11.9,14.9-19.8c0.6-1.5,1.5-1.1,2.8-1.1c3.4,0.1,6.9-3,5.6-4.9c-2.2-3.3-0.1-5.1,1.4-7.3c0.7,0,1.3-0.1,2-0.1
					c8.2,0.1,10.4,3.4,7.6,11c-0.2,0.6-0.3,1.3-0.2,1.8c1.1,4.9,2,9.8,3.4,14.7c1.1,3.8,3.7,6.1,7.9,6.1c2.7,0,5,0.8,7.2,2.5
					c3.4,2.4,7,4.6,11.8,2.7c2-0.8,4.6-0.7,5.8,2c2.3,3.6,5.9,6.1,7.7,10.3c1.8,4.1,6.8,5.3,10.4,7.9c1.4,1,2.6-0.2,3.8-1.3
					c2.3-2,3.5-4.9,5.5-6.9c1.1-1.1,12.3,2.4,13.2,4c2.9,5.1,6.3,9.4,12.4,10.7c4,4.3,7.9,8.7,12.6,12.2c2.4,1.8,5.4,2,8.3,2.3
					c1.5,0.2,3.1-0.2,3.1,2.1c-2.1,1-4,2-6.5,2.1c-3.7,0.1-5.6,3.1-7.2,6c-0.9,1.6-1.5,3.1-3.5,2.7c-6.4-1.4-8.7,2.9-10.8,7.5
					c-1.2,2.7-2.6,4.7-5.9,2.7c-0.5-0.3-1.5-0.7-1.7-0.4c-5.9,5.5-11.5-0.5-17.3-0.4c-0.8,0-2-0.5-2.3-0.1c-3,3.6-6.1,0.5-9.1,0.5
					C214.9,399,209.4,394.4,202.8,395.2z"/>
                                <path class="st1" d="M202.8,395.2c-4.9-2.4-10.5-3.5-14.8-7.2c-1.4-1.2-3.3-0.7-5.2-0.4c-4.1,0.7-6.9-1.4-6.9-5.6
					c-0.1-3-1.5-3.6-3.8-3.9c-3.5-0.5-8,0-7-5.9c0-0.3-0.2-0.8-0.4-0.8c-5.6-0.7-7-7.2-10.6-8.6c-3.9-1.5-8.4-3.5-13.1-3.5
					c-3,0-6-0.4-7.3-3.6c-1.3-3-3.9-1.6-6-2.2c-4.4-3.7-7.4-7.8-3.9-13.8c6.6,0.9,10.4-2.5,13-8c0.4-0.9,1.1-1.6,1.8-2.3
					c5.5-6.2,11.7-11.9,14.9-19.8c0.6-1.5,1.5-1.1,2.8-1.1c3.4,0.1,6.9-3,5.6-4.9c-2.2-3.3-0.1-5.1,1.4-7.3c0.7,0,1.3-0.1,2-0.1
					c8.2,0.1,10.4,3.4,7.6,11c-0.2,0.6-0.3,1.3-0.2,1.8c1.1,4.9,2,9.8,3.4,14.7c1.1,3.8,3.7,6.1,7.9,6.1c2.7,0,5,0.8,7.2,2.5
					c3.4,2.4,7,4.6,11.8,2.7c2-0.8,4.6-0.7,5.8,2c2.3,3.6,5.9,6.1,7.7,10.3c1.8,4.1,6.8,5.3,10.4,7.9c1.4,1,2.6-0.2,3.8-1.3
					c2.3-2,3.5-4.9,5.5-6.9c1.1-1.1,12.3,2.4,13.2,4c2.9,5.1,6.3,9.4,12.4,10.7c4,4.3,7.9,8.7,12.6,12.2c2.4,1.8,5.4,2,8.3,2.3
					c1.5,0.2,3.1-0.2,3.1,2.1c-2.1,1-4,2-6.5,2.1c-3.7,0.1-5.6,3.1-7.2,6c-0.9,1.6-1.5,3.1-3.5,2.7c-6.4-1.4-8.7,2.9-10.8,7.5
					c-1.2,2.7-2.6,4.7-5.9,2.7c-0.5-0.3-1.5-0.7-1.7-0.4c-5.9,5.5-11.5-0.5-17.3-0.4c-0.8,0-2-0.5-2.3-0.1c-3,3.6-6.1,0.5-9.1,0.5
					C214.9,399,209.4,394.4,202.8,395.2z"/>
                            </g>
                            <g>
                                <path class="st0" d="M208.8,311.2c8.4,1.7,16.1,0.9,22.3-5.9c0.3-0.4,0.8-0.9,1.1-0.9c8.3,1.2,13.5-6.2,21-7.9
					c3.2-0.7,5.9-0.3,8.8-0.4c3.4,0,6.3-2.4,10-1.2c1.9,0.6,4.4-0.5,6.6-1.1c4.7-1.2,9.5-0.6,14.2-0.6c3,0.7,6.1,1.5,9.1,1.9
					c1.8,0.3,3.8,1.3,5-1.9c0.8-2,2.9-1.6,3.6,0.9c-1.8,2.7-4.9,3.7-7.4,5.5c-2.4,1.8-3.9,3,0.1,4.4c0.6,0.2,1.4,0.5,1.6,1
					c4.3,9.4,12.3,6.5,19.6,5.9c1.1-0.1,2.6-1.8,3.4,0.1c0.7,1.6-1.3,2-2.1,2.9c-0.8,0.8-1.5,1.7-1.7,2.9c-7.1,2.1-13.9,5-21.6,5.1
					c-5.3,0.1-9.4,3.8-13.5,6.7c-2,1.5-3,2.6-5.2,0.9c-1.4-1.1-3.2-1.2-4.6-0.3c-1.8,1.2-0.1,2.6,0.3,3.9c1.8,6.2-2.5,14.6-7.1,18.8
					c-3.5,3.2-6.6,7-10.7,9.7c-6.1-1.3-9.6-5.6-12.4-10.7c-0.9-1.7-12.1-5.2-13.2-4c-2,2.1-3.2,4.9-5.5,6.9
					c-1.2,1.1-2.4,2.3-3.8,1.3c-3.6-2.6-8.6-3.8-10.4-7.9c-1.8-4.2-5.5-6.7-7.7-10.3c0-1,0-2.1,0-3.1
					C208.7,326.3,208.8,318.8,208.8,311.2z"/>
                                <path class="st1" d="M208.8,311.2c8.4,1.7,16.1,0.9,22.3-5.9c0.3-0.4,0.8-0.9,1.1-0.9c8.3,1.2,13.5-6.2,21-7.9
					c3.2-0.7,5.9-0.3,8.8-0.4c3.4,0,6.3-2.4,10-1.2c1.9,0.6,4.4-0.5,6.6-1.1c4.7-1.2,9.5-0.6,14.2-0.6c3,0.7,6.1,1.5,9.1,1.9
					c1.8,0.3,3.8,1.3,5-1.9c0.8-2,2.9-1.6,3.6,0.9c-1.8,2.7-4.9,3.7-7.4,5.5c-2.4,1.8-3.9,3,0.1,4.4c0.6,0.2,1.4,0.5,1.6,1
					c4.3,9.4,12.3,6.5,19.6,5.9c1.1-0.1,2.6-1.8,3.4,0.1c0.7,1.6-1.3,2-2.1,2.9c-0.8,0.8-1.5,1.7-1.7,2.9c-7.1,2.1-13.9,5-21.6,5.1
					c-5.3,0.1-9.4,3.8-13.5,6.7c-2,1.5-3,2.6-5.2,0.9c-1.4-1.1-3.2-1.2-4.6-0.3c-1.8,1.2-0.1,2.6,0.3,3.9c1.8,6.2-2.5,14.6-7.1,18.8
					c-3.5,3.2-6.6,7-10.7,9.7c-6.1-1.3-9.6-5.6-12.4-10.7c-0.9-1.7-12.1-5.2-13.2-4c-2,2.1-3.2,4.9-5.5,6.9
					c-1.2,1.1-2.4,2.3-3.8,1.3c-3.6-2.6-8.6-3.8-10.4-7.9c-1.8-4.2-5.5-6.7-7.7-10.3c0-1,0-2.1,0-3.1
					C208.7,326.3,208.8,318.8,208.8,311.2z"/>
                            </g>
                            <g>
                                <path class="st0" d="M288.6,230.9c-4.6,2-9.3,4-13.8,6.2c-4.1,2.1-9.2,3.2-11.9,7.6c-1.6,2.6-3.7,3.5-6.5,1.7
					c-2.2-1.4-4.7-0.9-6.4,0.6c-4.1,3.6-9.4,1.5-13.8,3.3c-0.7,0.3-1.2-0.1-1.7-0.6c-3.6-4-7.2-8-10.8-12c0.4-3.4-0.1-7.1,3.7-9.3
					c1.6-0.9,0.6-2.5,0.3-4c-0.7-3.8,1.7-6.2,5.5-5.5c3.8,0.7,6.2-1.2,8.4-3.9c1.4-1.7,1.9-4.9,5.5-2.8c1.3,0.8,1.1-1,1.2-1.9
					c0.2-2.3,2.8-5.3-0.9-6.6c-3.3-1.1-4-2.3-2.3-5.4c1.4-2.5-1-5-0.7-7.6c0.5-0.1,1.3-0.4,1.4-0.2c4,5.5,8.9,4,13.9,1.8
					c6-2.6,12.7-0.9,18.7-3c7-2.4,13.8,0.4,20.8-0.5c3.6-0.4,7.1,0.2,10.6-1.8c3.4-1.9,7.6-0.5,10.2,1.1c3.4,2.1,7.2,3.4,10.2,6.1
					c-3.4,2.5-5.3,6.1-7.6,9.5c-1,1.5-2,3.1-3.9,3.4c-7.3,1.3-12.7,5.2-17.8,10.8c-3.6,3.9-8.1,6.8-10.2,11.9
					C290,230,289.1,230.1,288.6,230.9z"/>
                                <path class="st1" d="M288.6,230.9c-4.6,2-9.3,4-13.8,6.2c-4.1,2.1-9.2,3.2-11.9,7.6c-1.6,2.6-3.7,3.5-6.5,1.7
					c-2.2-1.4-4.7-0.9-6.4,0.6c-4.1,3.6-9.4,1.5-13.8,3.3c-0.7,0.3-1.2-0.1-1.7-0.6c-3.6-4-7.2-8-10.8-12c0.4-3.4-0.1-7.1,3.7-9.3
					c1.6-0.9,0.6-2.5,0.3-4c-0.7-3.8,1.7-6.2,5.5-5.5c3.8,0.7,6.2-1.2,8.4-3.9c1.4-1.7,1.9-4.9,5.5-2.8c1.3,0.8,1.1-1,1.2-1.9
					c0.2-2.3,2.8-5.3-0.9-6.6c-3.3-1.1-4-2.3-2.3-5.4c1.4-2.5-1-5-0.7-7.6c0.5-0.1,1.3-0.4,1.4-0.2c4,5.5,8.9,4,13.9,1.8
					c6-2.6,12.7-0.9,18.7-3c7-2.4,13.8,0.4,20.8-0.5c3.6-0.4,7.1,0.2,10.6-1.8c3.4-1.9,7.6-0.5,10.2,1.1c3.4,2.1,7.2,3.4,10.2,6.1
					c-3.4,2.5-5.3,6.1-7.6,9.5c-1,1.5-2,3.1-3.9,3.4c-7.3,1.3-12.7,5.2-17.8,10.8c-3.6,3.9-8.1,6.8-10.2,11.9
					C290,230,289.1,230.1,288.6,230.9z"/>
                            </g>
                            <g>
                                <path class="st0" d="M202.7,145.9c4.5,5.1,6.4,5.4,12.3,2.2c4.5-2.5,12.2,3.4,12.7,9.7c0.3,4,0.3,9.1,5.3,9.3
					c3.2,0.1,4.9,2.1,7.4,2.7c0.1,3.7,0.7,7.5-1.5,11c-1.3,2.1-2.3,4.6-4.7,1c-0.7-1-1.8-1.8-2.9-0.8c-1.1,0.9,0.3,1.6,0.6,2.5
					c1.8,4.3-3.5,13.5-9.1,14.6c-4.3,0.8-7.4,3-10.6,5.5c-0.7,0.5-1.2,1.9-2.3,1c-1.3-1,0.1-1.7,0.6-2.3c1.1-1.2,1.8-2.4,1-4
					c-0.8-1.5-2.3-0.9-3.6-0.9c-2.1,0-3.5,1.2-3.9,3.1c-0.4,1.7-0.2,3.6-0.3,5.4c-1.5-0.2-3.3-0.9-4-0.3c-4.4,3.5-7.8,0.4-11.1-1.6
					c-2.5-1.5-7.5-1.1-6.2-6.5c0-0.2-0.9-0.9-1-0.8c-5.4,2.5-5.9-2.8-8.2-5.2c2-1.3,4.2-2.7,3.9-5.2c-0.5-3.8,1.6-6.1,4.4-7.4
					c4.6-2.2,7-6.7,11.1-9.5c4.3-3-0.7-6.3-0.6-9.6c0.7-3.7,0.9-7.4,2.9-10.7c2-3.3,0.2-6.2-0.4-9.4c-0.4-2-2.9-5.8,2.5-5.7
					c0.3,2.8,2.3,4.9,0.5,8.5C196,145.5,201.1,144.3,202.7,145.9z"/>
                                <path class="st1" d="M202.7,145.9c4.5,5.1,6.4,5.4,12.3,2.2c4.5-2.5,12.2,3.4,12.7,9.7c0.3,4,0.3,9.1,5.3,9.3
					c3.2,0.1,4.9,2.1,7.4,2.7c0.1,3.7,0.7,7.5-1.5,11c-1.3,2.1-2.3,4.6-4.7,1c-0.7-1-1.8-1.8-2.9-0.8c-1.1,0.9,0.3,1.6,0.6,2.5
					c1.8,4.3-3.5,13.5-9.1,14.6c-4.3,0.8-7.4,3-10.6,5.5c-0.7,0.5-1.2,1.9-2.3,1c-1.3-1,0.1-1.7,0.6-2.3c1.1-1.2,1.8-2.4,1-4
					c-0.8-1.5-2.3-0.9-3.6-0.9c-2.1,0-3.5,1.2-3.9,3.1c-0.4,1.7-0.2,3.6-0.3,5.4c-1.5-0.2-3.3-0.9-4-0.3c-4.4,3.5-7.8,0.4-11.1-1.6
					c-2.5-1.5-7.5-1.1-6.2-6.5c0-0.2-0.9-0.9-1-0.8c-5.4,2.5-5.9-2.8-8.2-5.2c2-1.3,4.2-2.7,3.9-5.2c-0.5-3.8,1.6-6.1,4.4-7.4
					c4.6-2.2,7-6.7,11.1-9.5c4.3-3-0.7-6.3-0.6-9.6c0.7-3.7,0.9-7.4,2.9-10.7c2-3.3,0.2-6.2-0.4-9.4c-0.4-2-2.9-5.8,2.5-5.7
					c0.3,2.8,2.3,4.9,0.5,8.5C196,145.5,201.1,144.3,202.7,145.9z"/>
                            </g>
                            <g>
                                <path class="st0" d="M170.3,207.2c0.2,0.1,0.4,0.1,0.6,0.1c-0.3,1.8-0.5,3.5-0.8,5.3c-0.5,3.5-0.4,7.2-3.9,9.4
					c-7.2-2.8-11.3,4.4-17.4,5.2c-1.5,0.2-1.1,1.7-1.3,2.8c-0.2,2.1,0.6,4.3-0.7,6.2c-3-0.9-5.1-3.9-8.9-3.3
					c-3.5,0.6-7.2-4.1-6.3-7.5c0.7-2.5,3.6-5.5-1.7-6.5c-0.1,0-0.1-1.2-0.1-1.9c2.3-0.3,3.9-2.5,6.4-2.1c0.6,0.1,1.4-0.7,1.9-1.3
					c0.9-0.9-2-4.1,2.1-3.3c2.6,0.5,5.3-0.1,6.3,3.6c0.8,3.1,4.8,3.1,7.7-0.4c2.9-3.5,5.6-6.1,10.7-4.7
					C166.6,209.5,168.1,206.8,170.3,207.2z"/>
                                <path class="st1" d="M170.3,207.2c0.2,0.1,0.4,0.1,0.6,0.1c-0.3,1.8-0.5,3.5-0.8,5.3c-0.5,3.5-0.4,7.2-3.9,9.4
					c-7.2-2.8-11.3,4.4-17.4,5.2c-1.5,0.2-1.1,1.7-1.3,2.8c-0.2,2.1,0.6,4.3-0.7,6.2c-3-0.9-5.1-3.9-8.9-3.3
					c-3.5,0.6-7.2-4.1-6.3-7.5c0.7-2.5,3.6-5.5-1.7-6.5c-0.1,0-0.1-1.2-0.1-1.9c2.3-0.3,3.9-2.5,6.4-2.1c0.6,0.1,1.4-0.7,1.9-1.3
					c0.9-0.9-2-4.1,2.1-3.3c2.6,0.5,5.3-0.1,6.3,3.6c0.8,3.1,4.8,3.1,7.7-0.4c2.9-3.5,5.6-6.1,10.7-4.7
					C166.6,209.5,168.1,206.8,170.3,207.2z"/>
                            </g>
                            <g>
                                <path class="st0" d="M129.8,217.2c0,0.6-0.1,1.8,0.1,1.9c5.3,0.9,2.4,4,1.7,6.5c-1,3.4,2.8,8.1,6.3,7.5c3.8-0.6,5.8,2.5,8.9,3.3
					c-0.3,1.5-0.7,3-1,4.5c-2,1-4,1.5-6.1,0.5c-0.9-0.4-2-0.7-2.8,0c-5,4.5-6.7-0.8-9.6-2.9c-2.2-1.6-2.8-7.1-7.5-3.5
					c-0.2-3.2-2.1-5.7-3.9-8c-1.8-2.2-1.1-3.1,0.5-4.7c2.4-2.6,6-2.9,8.6-5.1C126.5,217.1,128.2,217.1,129.8,217.2z"/>
                                <path class="st1" d="M129.8,217.2c0,0.6-0.1,1.8,0.1,1.9c5.3,0.9,2.4,4,1.7,6.5c-1,3.4,2.8,8.1,6.3,7.5c3.8-0.6,5.8,2.5,8.9,3.3
					c-0.3,1.5-0.7,3-1,4.5c-2,1-4,1.5-6.1,0.5c-0.9-0.4-2-0.7-2.8,0c-5,4.5-6.7-0.8-9.6-2.9c-2.2-1.6-2.8-7.1-7.5-3.5
					c-0.2-3.2-2.1-5.7-3.9-8c-1.8-2.2-1.1-3.1,0.5-4.7c2.4-2.6,6-2.9,8.6-5.1C126.5,217.1,128.2,217.1,129.8,217.2z"/>
                            </g>
                            <g>
                                <path class="st0" d="M124.8,217.1c-0.3-0.3-0.6-0.7-0.9-1C124.3,216.4,124.5,216.8,124.8,217.1z"/>
                                <path class="st1" d="M124.8,217.1c-0.3-0.3-0.6-0.7-0.9-1C124.3,216.4,124.5,216.8,124.8,217.1z"/>
                            </g>
                            <g>
                                <a href="#sost-Cundinamarca" class="activada">
                                <path class="st0" d="M166.2,222c3.5-2.2,3.4-6,3.9-9.4c0.3-1.8,0.5-3.5,0.8-5.3c1.3-0.3,2.5-0.7,3.8-0.9
					c4.1-0.9,7.5-1.7,7.2,4.8c-0.2,4.6,5.4,4.5,8.2,6.6c1.6,1.2,3.7-1,5.1-2.9c1.1-1.5,8.2-0.8,8.7,1.3c0.9,3.4,4,5.1,5,8.2
					c0.8,2.5,1.3,4.7-1.2,7.3c3.5,0.1,5,1.9,6.7,3.7c2.4,2.4,5.1,5.2,9.3,3.4c0.7,4.5-1,8.8-0.9,13.2c0,2.6-1,2.7-3,1.4
					c-2.5-1.7-5-2.5-8.2-0.8c-2.4,1.2-3.9-0.6-4.6-3c-0.7-2.5-2.3-4.4-5-3.4c-2.9,1-2.5,3.6-1.4,5.8c1.1,2.1,0.7,3.2-1.3,4.3
					c-1.7,1-3.4,1.8-5.2,2.5c-4.5,1.7-9.1,3.4-11.4,8.4c-1,2.2-2,5.1-5.3,5.2c-0.2-1.4,0.2-3-1.2-4c0.3-3.3-1.2-6.5-0.1-9.9
					c0.8-2.4-0.4-3.9-3.6-3.4c-5.8,1.1-8.2-1.9-7.5-7.6c0.7-6.5,1.6-12.9,2.4-19.4C167.5,226.1,167.6,223.9,166.2,222z"/>
                                <path class="st1" d="M166.2,222c3.5-2.2,3.4-6,3.9-9.4c0.3-1.8,0.5-3.5,0.8-5.3c1.3-0.3,2.5-0.7,3.8-0.9
					c4.1-0.9,7.5-1.7,7.2,4.8c-0.2,4.6,5.4,4.5,8.2,6.6c1.6,1.2,3.7-1,5.1-2.9c1.1-1.5,8.2-0.8,8.7,1.3c0.9,3.4,4,5.1,5,8.2
					c0.8,2.5,1.3,4.7-1.2,7.3c3.5,0.1,5,1.9,6.7,3.7c2.4,2.4,5.1,5.2,9.3,3.4c0.7,4.5-1,8.8-0.9,13.2c0,2.6-1,2.7-3,1.4
					c-2.5-1.7-5-2.5-8.2-0.8c-2.4,1.2-3.9-0.6-4.6-3c-0.7-2.5-2.3-4.4-5-3.4c-2.9,1-2.5,3.6-1.4,5.8c1.1,2.1,0.7,3.2-1.3,4.3
					c-1.7,1-3.4,1.8-5.2,2.5c-4.5,1.7-9.1,3.4-11.4,8.4c-1,2.2-2,5.1-5.3,5.2c-0.2-1.4,0.2-3-1.2-4c0.3-3.3-1.2-6.5-0.1-9.9
					c0.8-2.4-0.4-3.9-3.6-3.4c-5.8,1.1-8.2-1.9-7.5-7.6c0.7-6.5,1.6-12.9,2.4-19.4C167.5,226.1,167.6,223.9,166.2,222z"/>
                                </a>
                            </g>
                            <g>
                                <a href="#sost-Huila" class="activada">
                                <path class="st0" d="M176,268.4c1.5,1,1,2.6,1.2,4c-1.9,3.5-4.6,6.6-4.4,11.2c0.1,2.1-2,3.6-3.5,5.1c-2.3,2.3-4.9,4.3-6.1,7.6
					c-1.6,2.2-3.7,4-1.4,7.3c1.3,1.9-2.2,5-5.6,4.9c-1.2,0-2.2-0.4-2.8,1.1c-3.2,8-9.3,13.7-14.9,19.8c-0.7,0.7-1.4,1.4-1.8,2.3
					c-2.6,5.5-6.4,9-13,8c-3.2-2.3-9-1.7-8.8-8c0-1.4-2.1-1.8-3.4-2.6c-2.5-1.5-2.7-4.4-2.1-6.4c0.5-1.8,2.8-0.4,4.3,0.1
					c3.1,0.9,4.7-0.9,3.9-4.2c-0.8-3.3,1.3-6.1,4.4-5.3c4.4,1.1,6.7-4.4,11.3-2.8c1,0.3,0.4-2.2-0.1-3.3c-1.4-2.7-3.5-5.2-4.2-8.3
					c-0.4-1.8-0.5-2.9,1.7-3.8c3.3-1.3,6.7-2.8,9.3-5c2.4-2.1,3.7-5.3,6.8-7.1c3.5-2,7.6-0.2,10.9-2.4c0.5-0.4,1.7,0.4,1.2,1.5
					c-0.7,1.8-0.2,2.9,1.7,3.2c1.7,0.3,3.4,0.1,4.5-1.4c1.1-1.4,2.6-2.9,2.9-4.5C169,274.3,172.7,271.5,176,268.4z"/>
                                <path class="st1" d="M176,268.4c1.5,1,1,2.6,1.2,4c-1.9,3.5-4.6,6.6-4.4,11.2c0.1,2.1-2,3.6-3.5,5.1c-2.3,2.3-4.9,4.3-6.1,7.6
					c-1.6,2.2-3.7,4-1.4,7.3c1.3,1.9-2.2,5-5.6,4.9c-1.2,0-2.2-0.4-2.8,1.1c-3.2,8-9.3,13.7-14.9,19.8c-0.7,0.7-1.4,1.4-1.8,2.3
					c-2.6,5.5-6.4,9-13,8c-3.2-2.3-9-1.7-8.8-8c0-1.4-2.1-1.8-3.4-2.6c-2.5-1.5-2.7-4.4-2.1-6.4c0.5-1.8,2.8-0.4,4.3,0.1
					c3.1,0.9,4.7-0.9,3.9-4.2c-0.8-3.3,1.3-6.1,4.4-5.3c4.4,1.1,6.7-4.4,11.3-2.8c1,0.3,0.4-2.2-0.1-3.3c-1.4-2.7-3.5-5.2-4.2-8.3
					c-0.4-1.8-0.5-2.9,1.7-3.8c3.3-1.3,6.7-2.8,9.3-5c2.4-2.1,3.7-5.3,6.8-7.1c3.5-2,7.6-0.2,10.9-2.4c0.5-0.4,1.7,0.4,1.2,1.5
					c-0.7,1.8-0.2,2.9,1.7,3.2c1.7,0.3,3.4,0.1,4.5-1.4c1.1-1.4,2.6-2.9,2.9-4.5C169,274.3,172.7,271.5,176,268.4z"/>
                                </a>
                            </g>
                            <g>
                                <path class="st0" d="M320.4,393.1c0.4-0.2,0.7-0.5,1.1-0.7c0,0,0.2,0.2,0.3,0.4c-0.4,0.2-0.9,0.3-1.3,0.5
					C320.5,393.2,320.4,393.1,320.4,393.1z"/>
                                <path class="st1" d="M320.4,393.1c0.4-0.2,0.7-0.5,1.1-0.7c0,0,0.2,0.2,0.3,0.4c-0.4,0.2-0.9,0.3-1.3,0.5
					C320.5,393.2,320.4,393.1,320.4,393.1z"/>
                            </g>
                        </g>
                    </g>
                    <g>
                        <a href="#sost-SanAndres" class="activada">
                        <rect x="0.5" y="16.7" class="st2" width="52.7" height="98.6"/>
                        <rect x="60.9" y="16.7" class="st2" width="52.7" height="65.7"/>
                        <path class="st3" d="M10.2,101.7c0,0,1,2.9,3.4,2.9s3.4-1.4,3.4-2.4c0-1,1-2.9,1.9-3.9c1-1,6.3-15.9,6.3-19.3s0-2.4,1-2.9
			c1-0.5-0.5-1.4,0-2.4c0.5-1,3.9-4.3,3.9-6.8c0-2.4-2.4-4.3-0.5-5.3c1.9-1,2.9,0.5,2.4-4.8s1-9.7-1-9.2c-1.9,0.5-1.3-2.7,0.5-1.9
			c2.7,1.2,4.3-1,0.5-2.4s-1.9-3.4,0-1.4s2.4,0.5,1-1.4c-1.4-1.9-3.4-1,0-3.4c3.4-2.4,4.8-1.9,4.8-1.9s3.4-1,3.4,0c0,1,0,1,1.4-0.5
			c1.4-1.4-5.3-1.9-6.8-3.9S33.4,22,29,26.3s-6.3,5.3-6.8,5.3c-0.5,0-3.4,4.8-3.4,9.7S15,47.1,15,47.1s-1.4-0.5-2.4,2.9
			c-1,3.4-1,4.8,0,5.8c1,1,2.9,1.9,1,3.9s-1.9,5.3-3.4,6.8s-1,3.4-0.5,3.9s4.3,1.9,4.3,2.9s0.5,2.9,0.5,2.9s-1.9,5.8-1.4,6.3
			s1,1.9-0.5,4.3C11.1,89.2,7.7,96.4,10.2,101.7z"/>
                        <path class="st3" d="M68.4,70.6c1,1.7,3.4-2.9,5.3-2.9c1.9,0,3.9,1,5.8-1.9c1.9-2.9,4.3-4.3,6.8-4.8c2.4-0.5,4.3-3.9,3.9-7.2
			c-0.5-3.4-1.4-5.3,1-6.3c2.4-1,4.8-5.8,1.4-3.9s-1.4-2.9-2.4-3.9c-1-1-1.9-2.9-0.5-3.9c1.4-1,3.4-2.9-1-3.9s-1.9-1.9-2.9-3.4
			c-1-1.4-1.9-1.4-2.4,0.5s-1.4,1-1.9,1.4c-0.5,0.5,2.4,7.2-1.9,7.2s-4.3-1.4-4.8-1.4s-3.9,0.5-5.3,3.9c-1.4,3.4-2.9,4.8-2.9,10.6
			S65,54.1,64,55.6c-1,1.4-0.5,2.4,1.9,2.9c2.4,0.5,1.9,5.8,1,6.3S66.5,67.2,68.4,70.6z"/>
                        <path class="st3" d="M77.6,22.2c-0.5,0.1-2.9,1-2.9,2.9s1.4,4.8,2.4,5.3c1,0.5,1.9-0.5,3.4-1c1.4-0.5,1.9-2.4,0.5-3.9
			c-1.4-1.4-1-1.4,0-2.4C81.9,22.2,83.4,20.8,77.6,22.2z"/>
                        </a>
                    </g>
                    <path class="st3" d="M291.8,276.4c0-5.2,0-10.4,0-15.7c0.7-5.4-1.4-10.6-1-16c-1.4-2-1-4.2-0.8-6.3c-0.1,2.1-0.5,4.3,0.8,6.3
		c0-4.9,0.1-9.8,0.1-14.7c-0.8,0-1.7,0-2.2,0.9c-4.6,2-9.3,4-13.8,6.2c-4.1,2.1-9.2,3.2-11.9,7.6c-1.6,2.6-3.7,3.5-6.5,1.7
		c-2.2-1.4-4.7-0.9-6.4,0.6c-4.1,3.6-9.4,1.5-13.8,3.3c-0.7,0.3-1.2-0.1-1.7-0.6c-3.6-4-7.2-8-10.8-12c-0.1,0.3-0.1,0.7-0.2,1
		c0.7,4.5-1,8.8-0.9,13.2c0,2.6-1,2.7-3,1.4c-2.5-1.7-5-2.5-8.2-0.8c-2.4,1.2-3.9-0.6-4.6-3c-0.7-2.5-2.3-4.4-5-3.4
		c-2.9,1-2.5,3.6-1.4,5.8c1.1,2.1,0.7,3.2-1.3,4.3c-1.7,1-3.4,1.8-5.2,2.5c-4.5,1.7-9.1,3.4-11.4,8.4c-1,2.2-2,5.1-5.3,5.2
		c-1.9,3.5-4.6,6.6-4.4,11.2c0.1,2.1-2,3.6-3.5,5.1c-2.3,2.3-4.9,4.3-6.1,7.6c0.7,0,1.3-0.1,2-0.1c8.2,0.1,10.4,3.4,7.6,11
		c-0.2,0.6-0.3,1.3-0.2,1.8c1.1,4.9,2,9.8,3.4,14.7c1.1,3.8,3.7,6.1,7.9,6.1c2.7,0,5,0.8,7.2,2.5c3.4,2.4,7,4.6,11.8,2.7
		c2-0.8,4.6-0.7,5.8,2c0-1,0-2.1,0-3.1c-1-5.6-1.4-11.3-0.8-16.9c-0.6,5.6-0.2,11.3,0.8,16.9c0-7.5,0-15,0.1-22.6
		c8.4,1.7,16.1,0.9,22.3-5.9c0.3-0.4,0.8-0.9,1.1-0.9c8.3,1.2,13.5-6.2,21-7.9c3.2-0.7,5.9-0.3,8.8-0.4c3.4,0,6.3-2.4,10-1.2
		c1.9,0.6,4.4-0.5,6.6-1.1c4.7-1.2,9.5-0.6,14.2-0.6C292.5,287.7,292.1,282,291.8,276.4z"/>
                </g>
</svg>



        </div>

        <div class="swiper-container swiper-sostenibilidad">
            <div class="swiper-wrapper">
                {% for item in qi.galeria('sostenibilidad') %}
                    <div class="swiper-slide" data-hash="{{ item.llave }}">
                        <div class="textos">
                            <h4>{{ item.titulo }}</h4>
                            <p>{{ item.resumen}}</p>
                            <img src="{{ item.imagen }}" alt="">
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>


    </div>


{% endblock %}
{% block javascripts %}
    <script>
$('.activada').click(function () {
   $('.activada').each(function () {
       $(this).removeClass('active')
   });
   $(this).addClass('active')
});
    </script>

{% endblock %}