{% extends 'lay_iridian.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block content %}
    <div class="banner__nosotros banner">
        <img src="{{ qi.imagen('banner-contacto') }}" alt="" class="fondo">
        <h2>CONTÁCTENOS</h2>
        <a href="#scroll-menu" class="scroll">SCROLL DOWN<br><i class="fas fa-angle-down"></i></a>
    </div>
    <div class="contacto">
        <form action="" id="form_contacto">
            <div class="marco">
                <div class="form-group">
                    <label for="nombre-res">NOMBRE Y APELLIDO: </label>
                    <input type="text" id="nombre-res" name="nombre">
                </div>
                <div class="form-group">
                    <label for="email-res">EMAIL: </label>
                    <input type="email" id="email-res" name="email">
                </div>
                <div class="form-group">
                    <label for="celular-res">CELULAR: </label>
                    <input type="text" id="celular-res" name="celular">
                </div>
                <div class="form-group">
                    <textarea name="mensaje" id="" placeholder="MENSAJE"></textarea>
                </div>
                <div class="form-group-3">
                    <input type="checkbox" id="acepto-pol">
                    <label for="acepto-pol">Acepto la política de tratamiento de datos</label>
                </div>
                <div class="correos">
                    <span><strong>HEROES: </strong><a href="mailto:{{ qi.textoDB('mail-heroes') }}">{{ qi.textoDB('mail-heroes') }}</a></span>
                    <span><strong>PLAZA: </strong><a href="mailto:{{ qi.textoDB('mail-plaza') }}">{{ qi.textoDB('mail-plaza') }}</a></span>
                    <span><strong>Supervisor: </strong><a href="mailto:{{ qi.textoDB('mail-supervisor') }}">{{ qi.textoDB('mail-supervisor') }}</a></span>

                </div>
            </div>
            <button>ENVIAR</button>
        </form>
    </div>


{% endblock %}
{% block javascripts %}
    <script>

    </script>

{% endblock %}