{{ form_start(form,{'attr': {'id':'formulario' }} ) }}
                  {#{ form(form, {'attr': {'novalidate': 'novalidate'}}) }#}
<p>
    {{ form_widget(form.nombre, {'attr': {'placeholder': "Nombre" }}) }}
</p><p>
    {{ form_widget(form.apellido, {'attr': {'placeholder':  "Apellido" }}) }}
</p>
<p>
    {{ form_widget(form.email, {'attr': {'placeholder': "Correo" }}) }}
</p>
<p>
    {{ form_widget(form.telefono, {'attr': {'placeholder': "Teléfono" }}) }}

    {{ form_widget(form.celular, {'attr': {'placeholder': "Celular" }}) }}

    {{ form_widget(form.pais, {'attr': {'placeholder': "País" }}) }}

    {{ form_widget(form.departamento, {'attr': {'placeholder': "Departamento" }}) }}

    {{ form_widget(form.ciudad, {'attr': {'placeholder': "Ciudad" }}) }}

    {{ form_widget(form.area, {'attr': {'placeholder': "Area a contactar" }}) }}
</p>
<p>
    {{ form_widget(form.mensaje, {'attr': {'cols':30,'rows':10,'class':"form-field", 'placeholder':"Mensaje"}}) }}
</p>
<p>
    {{ form_widget(form.conditions) }}<label onclick="checkear1()" id="caj_terminos" for="contact_conditions" class="cajita"><div id="check_cajita_terminos"></div><div id="check_check_terminos"></div>Acepto términos y condiciones</label>
</p>
<p>
    {{ form_widget(form.datos) }}<label onclick="checkear2()" id="caj_datos" for="contact_datos" class="cajita"><div id="check_cajita_datos"></div><div id="check_check_datos"></div> Autorizo el tratamiento de mis datos personales conforme lo establecido en la Política de Tratamiento de Datos Personales</label>
</p>
{{ form_end(form) }}