{% extends 'lay_iridian.html.twig' %}


{% block content %}
    <div class="banner__reserva banner">
        <img src="{{ qi.imagen('banner-reserva') }}" alt="" class="fondo">
        <h2>Reservas</h2>
    </div>
    <div class="reserva">
        {{ include('@Home/Default/form_reservas.html.twig') }}
    </div>

{% endblock %}
{% block javascripts %}
    <script>

    </script>

{% endblock %}