{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Login Administrador de contenidos{% endblock %}

{% block login %}{% endblock %}

{% block fos_user_content %}
    <div class="container">
        <div id="login-box">
            <div class="logo">
                <img src="/images/iridian2.png" class="img img-responsive center-block"/>
                <a href="http://iridian.co/" target="_blank" class="iridian"><i class="fa fa-link" aria-hidden="true"></i>http://iridian.co/</a>
                <a><i class="fa fa-mobile" aria-hidden="true"></i>+57-300-5262602</a>
                <a><i class="fa fa-phone" aria-hidden="true"></i>+57-1-258-2255</a>
            </div><!-- /.logo -->
            <div class="controls">
                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <h1 class="logo-caption"><span class="tweak">L</span>ogin</h1>
                <form action="{{ path("fos_user_security_check") }}" method="post" role="form">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />z
                    <input type="text" name="_username" placeholder="{{ 'security.login.username'|trans }}" required="required" class="form-control" />
                    <input type="password" name="_password" placeholder="{{ 'security.login.password'|trans }}" required="required" class="form-control" />
                    <label for="remember_me">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>{{ 'security.login.remember_me'|trans }}
                    </label>
                    <a class="forgot" href="{{ path('fos_user_resetting_request') }}">Olvidé contraseña</a>
                    <input type="submit"
                           class="btn btn-default btn-block btn-custom"
                           id="_submit"
                           name="_submit"
                           value="{{ 'security.login.submit'|trans }}" />
                </form>
            </div><!-- /.controls -->

            <p>Calle 119 No 14A- 25 Ofc 402 - Bogotá - Colombia</p>
            <div class="cliente">
                <img src="/images/cliente.png"/>
            </div>
        </div><!-- /#login-box -->
    </div><!-- /.container -->

    <div id="particles-js"></div>

{% endblock fos_user_content %}