{% trans_default_domain 'FOSUserBundle' %}

<div class="container forgot_pass">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
            <div class="form-group">
                {% if invalid_username is defined %}
                    <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
                {% endif %}
                <label for="username">{{ 'resetting.request.username'|trans }}</label>
                <input type="text" id="username" name="username" required="required" class="form-control"/>
            </div>
            <div>
                <input class="btn btn-default" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
            </div>
        </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>
