{% extends 'lay_iridian.html.twig' %}

{% block content %}
<div class="contenido container">
    <div class="row">
        {% include "FOSUserBundle:Resetting:request_content.html.twig" %}
    </div>
</div>
{% endblock content %}
