{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

<div class="container forgot_pass">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
                {{ form_widget(form) }}
                <div>
                    <input class="btn btn-default" type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
                </div>
            {{ form_end(form) }}
         </div>
        <div class="col-lg-4"></div>
   </div>
</div>
