{% extends 'lay_iridian.html.twig' %}

{% block content %}
{% set lc = app.request.locale() %}
    {% set destacados = qi.resultadosBlog(true,null,null,null,null,true,null) %}
    {% set noticias = qi.getResultadosBlog(null,null,null,null,null,null,null,1) %}
    <div class="banner__reserva banner">
        <img src="{{ qi.imagen('banner-blog') }}" alt="" class="fondo">
        <h2>Blog</h2>
        <a href="#scroll-menu" class="scroll">SCROLL DOWN<br><i class="fas fa-angle-down"></i></a>
    </div>
<div class="blog">
    <div class="izq">
        <div class="swiper-container swiper-blog">
            <div class="swiper-wrapper">
                {% for item in noticias %}
                <div class="swiper-slide">
                    <div class="imagen">
                        <img src="{{ item.imagen }}" alt="">
                        <a href="{{ path('post',{"name":qi.slugify(item.titulo),"id":item.id}) }}">Ver más</a>
                    </div>
                    <div class="textos">
                        <h3>{{ item.titulo }}</h3>
                        <p>
                            {{ item.contenido | raw}}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="navegar">
                <div class="prev-sedes-eventos flecha-swiper"><i class="fas fa-angle-left"></i></div>
                <div class="swiper-pagination"></div>
                <div class="next-sedes-eventos flecha-swiper"><i class="fas fa-angle-right"></i></div>

            </div>

        </div>
    </div>
    <div class="der">
        <form id="buscar-blog" action="{{ path('busca_productos') }}">
            {% if search is defined %}
                <input type="search"  class="inputSubmit form-field search" name="search" value="{{ search }}" placeholder="Buscar">
            {% else %}
                <input type="search"  class="inputSubmit form-field search" name="search" placeholder="Buscar">
            {% endif %}
            <i class="fas fa-search"></i>
        </form>
        <h3>POSTS DESTACADOS</h3>
        {% for item in destacados %}
            {% if loop.index < 4 %}
                <div class="cont-dest">
                    <img src="{{ item.imagen }}" alt="">
                    <h4>{{ item.titulo }}</h4>
                    <a href="{{ path('post',{"name":qi.slugify(item.titulo),"id":item.id}) }}">Ver más</a>

                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script>

    </script>
{% endblock %}

