{% extends 'lay_iridian.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block content %}
    {% set categoria = app.request.get('categoria') %}
    {% set id = app.request.get('id') %}
    {% set nombre = app.request.get('nombre') %}
    {% set search = app.request.get('search') %}
    {% set lc = app.request.locale %}
    {% set recetas = qi.getResultadosBlog(null,null,null,null,null,null,null,3) %}

    {% set titulo = '' %}
    {% set resumen = '' %}
    {% set preparacion = null %}
    {% set ingredientes = null %}
    {% set tags = null %}
    {% set imagen = '' %}
    {% for item in qi.getResultadosBlog(null,null,null,null,null,null,null,true) %}
        {% if item.id == id %}
            {% set titulo = item.titulo %}
            {% set imagen = item.imagen %}
            {% set resumen = item.contenido %}
            {% set preparacion = item.preparacion %}
            {% set ingredientes = item.ingredientes %}
            {% set tags = item.tags %}
        {% endif %}
    {% endfor %}
<!-- CONTENT -->
    <div class="banner__reserva banner">
        <img src="{{ imagen }}" alt="" class="fondo">
        <h2>Blog</h2>
        <a href="#scroll-menu" class="scroll">SCROLL DOWN<br><i class="fas fa-angle-down"></i></a>
    </div>
    <div class="noticia">
        <h3>{{ titulo }}</h3>
        <a href="{{ path('the_blog') }}" class="volver"><i class="fas fa-angle-left"></i> Volver</a>
        <div class="redes">
            <span>Share</span>
            {% for item in qi.galeria('redes_sociales') %}
                <a href="{{ item.link }}"><img src="{{ item.imagen }}" alt=""></a>
            {% endfor %}
        </div>
        <p>{{ resumen | raw }}</p>
    </div>
{% endblock %}
{% block javascripts %}

<script>
    var swiper3 = new Swiper('.swip-recetas', {
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        slidesPerView: 4,
        breakpoints: {
            1140: {
                slidesPerView: 2,
                spaceBetween: 5,
            },
            835: {
                slidesPerView: 1,
                spaceBetween: 5,
            }

        }
    });
    $( window ).load(function() {$( window ).load(function() {
        var max_p = 0;
        $(".titulo_rec").each(function (k, v) {
            max_p = Math.max(max_p, $(this).height());
        });
        $(".titulo_rec").height(max_p);
        max_p = 0;
        $(".cont-img").each(function (k, v) {
            max_p = Math.max(max_p, $(this).height());
        });
        $(".cont-img").height(max_p);
        max_p = 0;
        $(".cont-receta").each(function (k, v) {
            max_p = Math.max(max_p, $(this).height());
        });
        $(".cont-receta").height(max_p);
    })});
</script>
{% endblock %}

