{% extends 'lay_iridian.html.twig' %}


{% block content %}
<div class="banner__reserva banner">
    <img src="{{ qi.imagen('banner-eventos') }}" alt="" class="fondo">
    <h2>Eventos</h2>
    <a href="#scroll-menu" class="scroll">SCROLL DOWN<br><i class="fas fa-angle-down"></i></a>

</div>
    <div class="eventos" id="scroll-menu">
        <div class="swiper-container swiper-eventos">
            <div class="swiper-wrapper">
                {% for item in qi.galeria('eventos') %}
                    <div class="swiper-slide" data-hash="evento{{ loop.index }}">
                        <img src="{{ item.imagen }}" alt="">
                        <div class="textos">
                            <h3>{{ item.titulo }}</h3>
                            <p>{{ item.resumen}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="prev-sedes-eventos flecha-swiper"><i class="fas fa-angle-left"></i></div>
        <div class="next-sedes-eventos flecha-swiper"><i class="fas fa-angle-right"></i></div>

        <div class="nav-eventos">
            {% for item in qi.galeria('eventos') %}
                {% if loop.index == 1 %}
                <a href="#evento{{ loop.index }}" class="active nav-eventos-item"><div class="circle"></div><span>{{ loop.index }}</span> {{ item.titulo }}</a>
                {% else %}
                <a href="#evento{{ loop.index }}" class="nav-eventos-item"><div class="circle"></div> <span>{{ loop.index }}</span>{{ item.titulo }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>


{% endblock %}
{% block javascripts %}
    <script>

    </script>

{% endblock %}