{% extends 'lay_iridian.html.twig' %}

{% set lc = app.request.locale() %}


{% block content %}

    <div class="experiencias">
        <div class="banner_video">
            <img class="logo_titulo" src="{{ path_imagesgal~'/'~experiencia.imageEs }}"/>
            <div class="video">
                <div class="w_r_video">
                    <div class="c_video">
                        <iframe src="//www.youtube.com/embed/{{ qi.getYoutubeId(experiencia.video) }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="banda"></div>
            </div>
            <p>
                {{ experiencia.gen('quote',lc) }}
                <span class="autor">{{ experiencia.autor }}</span>
            </p>
            <br>
            <br>
            <a href="#" class="boton">
                <span>{{ qi.textoDB('learn_more') }}</span>
            </a>
            <img class="deco al" src="/images/deco10.png"/>
            <img class="deco ar" src="/images/deco6.png"/>
        </div>

        <div class="programa_liderazgo">
            {{ experiencia.gen('descripcion',lc) | raw }}
            <img class="banner" src="{{ path_imagesgal~'/'~experiencia.imagenDescripcion }}"/>
            <br>
            <img class="deco al" src="/images/deco11.png"/>
            <img class="deco ar" src="/images/deco12.png"/>
        </div>


        <div class="mapa">
            <div id="map" data-lat="{{ experiencia.lat }}" data-lng="{{ experiencia.lng }}">

            </div>
            <form id="contacto">
                <input type="image" src="/images/logo_leaders_we_speakers.png"/>
                <label>
                    <p>{{ experiencia.gen('frase_contacto',lc) }}</p>
                </label>
                <input type="text" placeholder="{{ qi.textoDB('nombre') }} *" id="nombre"/>
                <input type="text" placeholder="{{ qi.textoDB('apellido') }} *" id="apellido"/>
                <input type="text" placeholder="{{ qi.textoDB('telefono') }} *" id="telefono"/>
                <input type="text" placeholder="Email *" id="email"/>
                <input type="hidden" id="experiencia" value="{{ experiencia.nombreEn }}">
                <label>
                    <input type="checkbox" id="acepta"/>
                    <span>{{ qi.textoDB('accept') }} <a  href="{{ qi.getArchivo('policy') }}" target="_blank">{{ qi.textoDB('terms') }}</a> *</span>
                </label>
                <input class="boton" type="submit" value="{{ qi.textoDB('get_your_place') }}"/>
            </form>
        </div>


        <div class="nuevo_modelo">
            {{ experiencia.gen('descripcion_inferior',lc) | raw }}
            {% for item in mejoras %}
                <div class="item">
                    <div class="c_img">
                        <div class="img">
                            <img src="{{ path_imagesgal~'/'~item.imagen }}"/>
                        </div>
                    </div>
                    <h3>{{ item.gen('nombre',lc) }}</h3>
                    <p>{{ item.gen('resumen',lc) }}</p>
                </div>
            {% endfor %}
            <img class="deco al" src="/images/deco13.png"/>
            <img class="deco ar" src="/images/deco14.png"/>
        </div>

        {% if experiencia.gen('titulo_resumen',lc) | length > 0 %}
        <div class="guia_contenidos">
            <h2>{{ experiencia.gen('titulo_resumen',lc) }}</h2>

            <div class="c_w">
                <div class="txt">
                    {{ experiencia.gen('resumen',lc) | raw }}

                    <a href="#" class="boton">
                        <span>
                            {{ qi.textoDB('get_all_details') }}
                        </span>
                    </a>
                </div>
                <div class="banda"></div>
            </div>
            <img class="deco al" src="/images/deco15.png"/>
            <img class="deco ar" src="/images/deco16.png"/>
        </div>
        {% endif %}

        <div class="liderando">
            {{ experiencia.gen('liderando',lc) | raw }}

            {% for item in equipos %}
                <div class="item">
                    {% if loop.index0 is divisible by(2) %}
                        <div class="img">
                            <img src="{{ path_imagesgal~'/'~item.imagen }}"/>
                        </div>
                    {% endif %}
                    <div class="txt">
                        <h3>{{ item.gen('nombre',lc) }}</h3>
                        <p>{{ item.gen('resumen',lc) | nl2br }}</p>
                    </div>
                    {% if not loop.index0 is divisible by(2) %}
                        <div class="img">
                            <img src="{{ path_imagesgal~'/'~item.imagen }}"/>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>



    </div>

{% endblock %}

{% block javascripts %}
<script>

    function initMap() {
        var styleArray = [{"featureType":"water","elementType":"geometry.fill","stylers":[{"color":"#d3d3d3"}]},{"featureType":"transit","stylers":[{"color":"#808080"},{"visibility":"off"}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"visibility":"on"},{"color":"#b3b3b3"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"road.local","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#ffffff"},{"weight":1.8}]},{"featureType":"road.local","elementType":"geometry.stroke","stylers":[{"color":"#d7d7d7"}]},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#ebebeb"}]},{"featureType":"administrative","elementType":"geometry","stylers":[{"color":"#a7a7a7"}]},{"featureType":"road.arterial","elementType":"geometry.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"road.arterial","elementType":"geometry.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"landscape","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#efefef"}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"color":"#696969"}]},{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"visibility":"on"},{"color":"#737373"}]},{"featureType":"poi","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"poi","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"road.arterial","elementType":"geometry.stroke","stylers":[{"color":"#d6d6d6"}]},{"featureType":"road","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"color":"#dadada"}]}]
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: {{ experiencia.lat }}, lng: {{ experiencia.lng}} },
            scrollwheel: false,
            //styles: styleArray,
            zoom: 12
        });

        var marker = new google.maps.Marker({
            map: map,
            position: {lat: {{ experiencia.lat }}, lng: {{ experiencia.lng}} },
            title: 'titulo'
        });
    }


</script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBR8WE33v8iMRlWQs6leCg1TqJQIQlNQm0&callback=initMap"></script>
{% endblock %}