{% extends 'lay_iridian.html.twig' %}


{% block content %}
    <main id="main-servicios">
        <div class="fondo" style="background-image: url({{ qi.imagen('fondo_productos') }})"></div>
        <form class="buscar" action="{{ path('busca_productos') }}">
            <label>Servicios</label>
            <i class="fa fa-search ico-search" aria-hidden="true"></i>
            {% if search is defined %}
                <input type="search"  class="inputSubmit form-field search" name="search" value="{{ search }}">
            {% else %}
                <input type="search"  class="inputSubmit form-field search" name="search" placeholder="Buscar">
            {% endif %}
        </form>
        <div class="inform">
            <h2>{{ qi.textoDB("servicios_tit") }}</h2>
            <p>{{ qi.textoBigDB("descripcion_servicios") }}</p>
        </div>
        <div class="servicios">
            <div class="row">
                <!-- Product loop -->
                {% for item in qi.galeria('servicios') %}
                {% if loop.index % 4 == 1 %}
            </div><div class="row">
                {% endif %}
                    <div class="product-list-wrapper  grid-item" id="{{ item.llave }}">
                        <h3 class="red uppercase nombre-obj">{{ item.titulo }}</h3>
                        <div class="cont-img"><img src="{{ item.imagen }}" alt=""></div>
                    </div>
                {% endfor %}
                <!-- Product loop -->
            </div>
        </div>
    </main>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        var max_p =0;
        $(".nombre-obj").each(function(k,v){
            max_p = Math.max(max_p,$(this).height());
        });
        $(".nombre-obj").height( max_p);
        max_p =0;
        $(".cont-img").each(function(k,v){
            max_p = Math.max(max_p,$(this).height());
        });
        $(".cont-img").height( max_p);
        max_p =0;
        $(".product-list-wrapper").each(function(k,v){
            max_p = Math.max(max_p,$(this).height());
        });
        $(".product-list-wrapper").height( max_p);

    </script>
{% endblock %}
